{% extends _layout %}
{% import "macros.twig" as macro %}
{% block submenu %}    
	{{ macro.menu_submenu(project_path, submenu, submenu_current)  }}
{% endblock %}
{% block content %}
<div class="grid_2">&nbsp;</div>
<div class="grid_8">
  <form method="post" accept-charset="utf-8" action="{{ form_post_url }}" class="default">
    {% if pagination is defined %}{{ pagination }}{% endif %}
    <button onclick="window.location='{{ back_url }}';return false;">◄ Back</button>
    
	<a href="{{ add_url }}/advanced/" title="Default">Advanced Generic Configuration</a>
	<table>
      <tfoot>
		<td colspan="4"><i>* HelloPBX ITSP ratings are based on a system that uses things like reseller program availability, support options and government classification to determine the value.  For more information about the rating system or to determine how yours was calculated, please contact HelloPBX support.</td>
      </tfoot>
		<thead>
		<th>Provider</th>
		<th>Website</th>
		<th>Phone Number</th>
		<th>Rating (*)</th>
		</thead>
      <tbody>
	  
	  {% for row in rows %}
      <tr>
        <td><a href="{{ add_url }}/{{ row.view_key }}" title="{{ row.description }}">{{ row.name }}</a></td>
		<td><a href="{{ add_url }}/{{ row.view_key }}">{{ row.website }}</a></td>
        <td><a href="{{ add_url }}/{{ row.view_key }}">{{ row.phone_number }}</a></td>
        <td><a href="{{ add_url }}/{{ row.view_key }}"><img src="{{ template.image_path }}stars_{{ row.rating }}.png" /></a></td>
      </tr>
      {% endfor %}
	  
      </tbody>
      
    </table>
    <button onclick="window.location='{{ back_url }}';return false;">◄ Back</button>
  </form>
</div>
{% endblock%}