{% extends _layout %}
{% import "macros.twig" as macro %}
{% block submenu %}    
	{{ macro.menu_submenu(project_path, submenu, submenu_current)  }}
{% endblock %}
{% block content %}
<div class="grid=1">&nbsp;</div>
<div class="grid_10">
  <form method="post" accept-charset="utf-8" action="{{ form_post_url }}" class="default">
  {{ macro.form_buttons(form_type, edit_url, back_url) }}
<ul>
<li>{{ macro.input_textarea(
		"edit", 
        "gateway", 
        gateway.value, 
        "Trunk Name", 
        "text", 
        "My Iristel Gateway", 
        "Name for HelloPBX administration purposes.  Use something descriptive.", 
        gateway.form_error, 
        gateway.field_error, 
        250, 
        true, 
        "pbx_trunk_sip.gateway",
        24) }}</li>
        <li><h3> - or - </h3></li>
<li>{{ macro.input_file("edit","settings_file", settings_file.value, "Settings File","Text in FreeSWITCH format", settings_file.form_error, settings_file.field_error, "pbx_trunk_sip.username" ) }}</li>
  {{ macro.form_buttons(form_type, edit_url, back_url) }}
  </form>
</div>
{% endblock%}