{% extends _layout %}
{% import "macros.twig" as macro %}
{% block content %}
<div class="grid_2">&nbsp;</div>
<div class="grid_8">
  <form method="post" accept-charset="utf-8" action="{{ form_post_url }}" class="default">
    {{ macro.form_buttons(view_type, edit_url, back_url) }}
    <ul>
      {% set i = 1 %}
      {% for form_item in fil %}
      <li> {% if form_item.field_type == "yes_no" %}
        {{ macro.input_yes_no(
        view_type,
        form_item.name, 
        form_item.value, 
        form_item.label, 
        "text", 
        form_item.placeholder,
        form_item.form_hint, 
        form_item.form_error, 
        form_item.field_error, 
        form_item.max_size, 
        form_item.is_required, 
        form_item.reference,
        i,
        form_item.is_readonly
        ) }}
        {% elseif form_item.field_type == "list" %}
        {{ macro.input_list(
        view_type, 
        form_item.name, 
        form_item.value, 
        form_item.label, 
        type, 
        form_item.placeholder, 
        form_item.form_hint, 
        form_item.form_error, 
        form_item.field_error, 
        form_item.max_size, 
        form_item.valid_values, 
        form_item.is_required, 
        form_item.reference, 
        i,
        form_item.is_readonly) }}
        {% else %}
        {{ macro.input_text(
        view_type, 
        form_item.name, 
        form_item.value, 
        form_item.label, 
        form_item.field_type, 
        form_item.placeholder,
        form_item.form_hint, 
        form_item.form_error, 
        form_item.field_error, 
        form_item.max_size, 
        form_item.is_required, 
        form_item.reference,
        i,
        form_item.is_readonly) }}
        {% endif %} </li>
      {% set i = i + 1 %}
      {% endfor %}
    </ul>
    {% if id_template is defined %}
    {{ macro.form_buttons(view_type, edit_url, back_url) }}
    <input type="hidden" name="id_template" value="{{ id_template }}" />
    {% endif %}
  </form>
  {{  macro.form_update_info(view_type, fvl.updated_at.value, fvl.updated_by.value, fvl.created_at.value) }}<br/>
  {% if advanced_url is defined%}<a href="{{ advanced_url }}">Advanced ►</a> {% endif %} </div>
<div class="clear"></div>
<br/>
{% endblock%}