{% extends _layout %}
{% import "macros.twig" as macro %}
{% block content %} 
<script>
<!--
function confirmPost()
{
var inputElems = document.getElementsByTagName("input"), count = 0;
for (var i=0; i<inputElems.length; i++) {
    if (inputElems[i].type === "checkbox" && inputElems[i].checked === true) {
        count++;
    }
}
if(count == 0)
alert ("No items have been selected to delete.");
else {
var agree=confirm("Are you sure you want to delete " + count + " item(s)?");
if (agree)
return true ;
else
return false ;
}
}// -->
</script>
<div class="grid_1">&nbsp;</div>
<div class="grid_10">
  <form method="post" accept-charset="utf-8" action="{{ form_post_url }}" class="default">
    {% if pagination is defined %}{{ pagination }}{% endif %}
    <button class="submit" onclick="window.location='{{ add_url }}';return false;">Add</button>
    <button type="submit" onclick="return confirmPost();">Delete</button>
    <table>
      <tfoot>
      <td colspan="{{ columns|length + 1 }}"></td>
          </tfoot>
        {{ macro.table_header(current_url, columns, sort_by, sort_order, offset) }}
      <tbody>
      
      {% for row in rows %}
      <tr>
        <td><input type="checkbox" name="del_{{ row.id }}" /></td>
        <td><a href="/trunk/sip_view/{{ row.id }}/advanced/">{{ row.id_template_name }}</a></td>
        <td><a href="/trunk/sip_view/{{ row.id }}/advanced/">{{ row.gateway }}</a></td>
        <td><a href="/trunk/sip_view/{{ row.id }}/advanced/">{{ row.description }}</a></td>
      </tr>
     {% else %}
            <tr><td colspan="{{ columns|length + 1 }}"> <h3>No Data Available</h3></td></tr>

      {% endfor %}
        </tbody>
    </table>
    {% if rows|length > 10 %}<button class="submit" onclick="window.location='{{ add_url }}';return false;">Add</button>{% endif %}
    {% if rows|length > 0 %}<button type="submit" onclick="return confirmPost();">Delete</button>{% endif %}
    {% if pagination is defined %}{{ pagination }}{% endif %}
  </form>
</div>
{% endblock%}