{% extends _layout %}
{% import "macros.twig" as macro %}
{% block submenu %}    
	{{ macro.menu_submenu(project_path, submenu, submenu_current)  }}
{% endblock %}
{% block content %}

<script>
<!--
function confirmPost()
{
var inputElems = document.getElementsByTagName("input"), count = 0;
for (var i=0; i<inputElems.length; i++) {
    if (inputElems[i].type === "checkbox" && inputElems[i].checked === true) {
        count++;
    }
}
if(count == 0)
alert ("No items have been selected to delete.");
else {
var agree=confirm("Are you sure you want to delete " + count + " item(s)?");
if (agree)
return true ;
else
return false ;
}
}// -->
</script>
<div class="grid_1">&nbsp;</div>
<div class="grid_10">
  <form method="post" accept-charset="utf-8" action="{{ form_post_url }}" class="default">
    {% if pagination is defined %}{{ pagination }}{% endif %}
    <button class="submit" onclick="window.location='{{ add_url }}';return false;">Add</button>
	<button type="submit" onclick="return confirmPost();">Delete</button>
    <table>
      <tfoot>
		<td colspan="{{ column_count }}"></td>
      </tfoot>
      {{ macro.table_header(current_url, columns, sort_by, sort_order, offset) }}
      <tbody>
      {% for row in rows %}
      <tr>
        <td><input type="checkbox" name="del_{{ row.id }}" /></td>
        <td>{{ row.country }}</td>
        <td>{{ row.alpha2 }}</td>
        <td>{{ row.numeric }}</td>
      </tr>
      {% endfor %}
      </tbody>
      
    </table>
    <button class="submit" onclick="window.location='{{ add_url }}';return false;">Add</button>
	<button type="submit" onclick="return confirmPost();">Delete</button>
    {% if pagination is defined %}{{ pagination }}{% endif %}
  </form>
</div>
{% endblock%}