{% extends _layout %}
{% import "macros.twig" as macro %}
{% block submenu %}    
	{{ macro.menu_submenu(project_path, submenu, submenu_current)  }}
{% endblock %}

{% block content %}
<div class="grid_12">
  <h1>Account Linked</h1>
</div>
<div class="clear"></div>
<div class="grid_6">
  <h3>Linked Accounts</h3>
  <div class="form_info">{{ linked_info }}</div>
  {% if num_of_linked_Accounts == 0 %}
  <div class="grid_5 alpha omega">
    <p>You have no linked accounts.</p>
  </div>
  {% else %}
  
  {% for provider in third_party_auth_providers %}
  <li class="third_party {{ provider }}"><a href='auth/connect_{{ provider }}' title="Sign Up With {{ provider }}"> {{ provider }}</a></li>
  {% endfor %}
  
  {% for facebook_link in facebook_links %}
  <div class="grid_1 alpha"> <img src="res/img/auth_icons/facebook.png" alt="Connect Facebook" title="Connect Facebook" width="40" /> </div>
  <div class="grid_3"> Connect Facebook<br />
    <a href="http://facebook.com/profile.php?id={{ facebook_link.facebook_id }}" target="_blank" title="http://facebook.com/profile.php?id={{ facebook_link.facebook_id  }}">http://facebook.com/profile.php?id={{ facebook_link.facebook_id}}</a> </div>
  <div class="grid_1 omega"> {% if num_of_linked_accounts != 1 %}
    <form method="post" accept-charset="utf-8" action="{{ uri_string }}" />
    
    <input type="hidden" name="facebook_id" value="{{ facebook_id }}"/>
    <button type="submit" class="submit" value="save">Remove</button>
    </form>
    {% endif  %} </div>
  <div class="clear"></div>
  {% else %} 
  <!-- No Facebook Links --> 
  {% endfor %} 
  
  <!-- Twitter Links --> 
  
  {% for twitter_link in twitter_links %}
  <?php $twitter_link->twitter->screen_name_short = substr('http://twitter.com/'.$twitter_link->twitter->screen_name, 0, 30).(strlen('http://twitter.com/'.$twitter_link->twitter->screen_name) > 30 ? '...' : ''); ?>
  <div class="grid_1 alpha"> <img src="res/img/auth_icons/twitter.png" alt="Connect Twitter" title="Connect Twitter" width="40" /> </div>
  <div class="grid_3"> Connect Twitter<br />
    <a href="http://twitter.com/{{ twitter_link.twitter.screen_name  }}" target="_blank" title="http://twitter.com/{{ twitter_link.twitter.screen_name }}">{{ twitter_link.twitter.screen_name_short }}</a> </div>
  <div class="grid_1 omega"> {% if num_of_linked_accounts != 1  %}
    <form method="post" accept-charset="utf-8" action="{{ uri_string }}" />
    
    <input type="hidden" name="twitter_id" value="{{ twitter_id }}" />
    <button type="submit" name="submit" value="save" />
    Remove</div>
  </form>
  {% endif %} </div>
<div class="clear"></div>
{% else %} 
<!-- No Twitter Links --> 
{% endfor %} 
<!-- END Twitter Links --> 

<!--  Open ID Links --> 

{% for openid_link in openid_links %}
<?php $openid_short = substr($openid_link->openid, 0, 30).(strlen($openid_link->openid) > 30 ? '...' : ''); ?>
<div class="grid_1 alpha"> <img src="res/img/auth_icons/{{ openid_link.provider}}.png" alt="Connect to {{ openid_link.provider }}" width="40" /> </div>
<div class="grid_3"> Connect to {{ openid_link.	provider }}<br />
  <a href="{{ openid_link.openid }}" target="_blank" title="{{ openid_link.openid }}"> </div>
<div class="grid_1 omega"> {% if num_of_linked_accounts != 1 %}
  <form method="post" accept-charset="utf-8" action="{{ uri_string }}" />
  
  <form method="post" accept-charset="utf-8" action="{{ uri_string }}" />
  
  <input type="hidden" name="openid" value="{{ openid }}" />
  <button type="submit" class="submit" value="save">Remove</button>
  </form>
  {% endif %} </div>
<div class="clear"></div>
{% else %} 
<!-- No OpenID Links --> 
{% endfor %}



{% endif  %}
</div>
<div class="grid_6">
  <h3>Your %s account has been linked with this account.</h3>
  {% if linked_error is defined %}
  <div class="form_error">{{ linked_error }}</div>
  {% endif %}
  <ul class="third_party">
    {% for provider in third_party_auth_providers %}
    <li class="third_party {{ provider }}"><a href='auth/connect_{{ provider }}' title="Sign Up With {{ provider }}"> {{ provider }}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="clear"></div>
{% endblock %}