{% extends _layout %}
{% import "macros.twig" as macro %}
{% block submenu %}    
	{{ macro.menu_submenu(project_path, submenu, submenu_current)  }}
{% endblock %}

{% block content %}
        <div class="grid_12">
            <h1>Settings</h1>
        </div>
        <div class="clear"></div>
        <div class="grid_8">
        <p>
        The information we collect on this page is private and will not be shown anywhere on this website or shared with third parties without your explicit permission. For more information, read our <a href="/page/privacy-policy">privacy policy</a>.
        </p><br />

        </div>
        <div class="grid_8">
            <form method="post" accept-charset="utf-8" action="{{ uri_string }}" />

            {% if settings_info is defined %}
            <div class="grid_8 alpha omega">
                <div class="form_info">{{ settings_info }}</div>
            </div>
            <div class="clear"></div>
            {% endif %}

</li><li>
  {{ macro.input_text("settings_email', settings_email.value, "Email", "email", "me@hellopbx.net", "Place your primary work email address here", settings_email.form_error, settings_email.field_error, 50, "required='require'", "http://wiki.hellopbx.net/settings_email"  ) }}
</li><li>
  {{ macro.input_text("settings_fullname', settings_fullname.value, "Full Name", "text", "Jason Fueller", "Your full real name", settings_fullname.form_error, settings_fullname.field_error, 160, "required='require'", "http://wiki.hellopbx.net/settings_fullname"  ) }}
</li><li>
  {{ macro.input_text("settings_firstname', settings_firstname.value, "First Name", "text", "Jason", "Your first name", settings_firstname.form_error, settings_firstname.field_error, 160, "required='require'", "http://wiki.hellopbx.net/settings_firstname"  ) }}
</li><li>
  {{ macro.input_text("settings_lastname', settings_lastname.value, "Last Name", "text", "Jason", "Your last name", settings_lastname.form_error, settings_lastname.field_error, 160, "required='require'", "http://wiki.hellopbx.net/settings_lastname"  ) }}
 </li><li>
   {{ macro.input_date("settings_dob', settings_dob.year, settings_dob.month, settings_dob.day, "Date of Birth",  get_date(), "Date of your birth", settings_dob.form_error, settings_dob.field_error, "required='require'", "http://wiki.hellopbx.net/settings_dob", 1900, settings_dob.year_max) }}
 </li><li>
  {{ macro.input_text("settings_postalcode', settings_postalcode.value, "Postal Code", "text", "H0H 0H0", "Your Postal Code", settings_postalcode.form_error, settings_postalcode.field_error, 50, "required='require'", "http://wiki.hellopbx.net/settings_postalcode"  ) }}
</li><li>
  {{ macro.input_text("settings_country', settings_country.value, "Country", "text", "Canada", "Your Country", settings_country.form_error, settings_country.field_error, 50, "required='require'", "http://wiki.hellopbx.net/settings_country"  ) }}
</li><li>
  {{ macro.input_text("settings_language', settings_language.value, "Language", "text", "English", "Most likely English.", settings_language.form_error, settings_language.field_error, 50, "required='require'", "http://wiki.hellopbx.net/settings_language"  ) }}
 </li><li>
 <label for="settings_timezone">Timezone</label>
 
                <?php $account_timezone = ($this->input->post('settings_timezone') ? $this->input->post('settings_timezone') : (isset($account_details->timezone) ? $account_details->timezone : '')); ?>
                <select id="settings_timezone" name="settings_timezone" class="select">
                    <option value=""><?php echo lang('settings_select'); ?></option>
                    <?php foreach ($zoneinfos as $zoneinfo) : ?>
                    <option value="<?php echo $zoneinfo->zoneinfo; ?>"<?php if ($account_timezone == $zoneinfo->zoneinfo) echo ' selected="selected"'; ?>>
                        <?php echo $zoneinfo->zoneinfo; ?><?php if ($zoneinfo->offset) echo ' ('.$zoneinfo->offset.')'; ?>
                    </option>
                    <?php endforeach; ?>
                </select>
</li>
</ul>

<button type="submit" class="submit" value="save">Save</button>
</form>
        </div>
        <div class="clear"></div>
{% endblock %}