{% extends _layout %}
{% import "macros.twig" as macro %}
{% block submenu %}    
	{{ macro.menu_submenu(project_path, submenu, submenu_current)  }}
{% endblock %}
{% block content %}
<div class="grid_12">
  <h1>{{ password_page_name }}</h1>
</div>
<div class="clear"></div>
<div class="grid_8">
  <form class="default" method="post" accept-charset="utf-8" action="/{{ uri_string }}" />
  
  {% if password_info is defined %}
  <div class="grid_8 alpha omega">
    <div class="form_info">{% password_info %}</div>
  </div>
  <div class="clear"></div>
  {% endif %}

  <p>To safe guard your account, we <strong>strongly</strong> recommend that you pick a complex password which...</p>
  <ol>
    <li>is at least 8 characters long, and longer if possible</li>
    <li>contains a mix of upper and lower case letters</li>
    <li>includes numerals, special characters, and punctuation</li>
    <li>is not based on any personal information</li>
    <li>is not based on any dictionary word</li>
  </ol>
  <ul>
    <li> {{ macro.input_text("password_new_password", password_new_password.password, "New Password, "password", "MyComplexPassword", "Place the password you will sign in with here", password_new_password.form_error, password_new_password.field_error, 50, "required='require'", "http://wiki.hellopbx.net/password_new_password"  ) }} </li>
    <li> {{ macro.input_text("password_retype_new_password", password_retype_new_password.password, "Retype Password, "password", "MyComplexPassword", "Retype your new password here", password_retype_new_password.form_error, password_retype_new_password.field_error, 50, "required='require'", "http://wiki.hellopbx.net/password_retype_new_password"  ) }} </li>
  </ul>
  <button type="submit" class="submit" value="save">Change My Password</button>
  </form>
</div>
<div class="clear"></div>
{% endblock %}