{% extends _layout %}
{% import "macros.twig" as macro %}
{% block submenu %}    
	{{ macro.menu_submenu(project_path, submenu, submenu_current)  }}
{% endblock %}
{% block content %}
<div class="grid_12">
	<h1>Profile</h1>
</div>
<div class="clear"></div>
<div class="grid_8">
<form method="post" accept-charset="utf-8" action="{{ uri_string }}" enctype="multipart/form-data"/>
{% if profile_info is defined %}
    <div class="form_info">{{ profile_info }}</div>

{% endif %}
<p class="page_info">The information you provide on this page is publicly viewable.</p>
<ul>
<li>
  {{ macro.input_text("profile_username", profile_username.value, "Username", "text", "My_Username", "Enter your username for sign in here", profile_username.form_error, profile_username.field_error, 50, "required='require'", "http://wiki.hellopbx.net/profile_username"  ) }}
</li>
<li>
  {{ macro.input_picture("account_picture_upload", account_picture_upload.value, "Picture", "text", "My_Username", "Picture to be used with your profile", profile_picture.form_error, profile_picture.field_error, 50, "required='require'", "http://wiki.hellopbx.net/account_picture_upload"  ) }}
</li>
</ul>          
<button type="submt" class="submit" value="save">Save</button>
</form>
</div>
<div class="clear"></div>
{% endblock %}