{% extends _layout %}
{% import "macros.twig" as macro %}
{% block submenu %}    
	{{ macro.menu_submenu(project_path, submenu, submenu_current)  }}
{% endblock %}
{% block content %}
<div class="grid_12">
  <h1>Connect With OpenID</h1>
</div>
<div class="clear"></div>
<div class="grid_6">
  <form method="post" accept-charset="utf-8" action="{{ uri_string }}" />
  
  <h3>Enter your OpenID URL <small><a target="_blank" href="{{ openid_what_is_url }}">What is OpenID?</a></small></h3>
  {% if connect_openid_error is defined %}
  <div class="grid_6 alpha">
    <div class="form_error">{{ connect_openid_error }}</div>
  </div>
  <div class="clear"></div>
  {% endif %}
  {% if connect_openid_error is defined %}
  <div class="form_error">{{ connect_openid_error }}</div>
</div>
{% endif %}
<ul>
  <li> {{ macro.input_text("connect_openid_url", connect_openid_url.value, "openid", "text", "me@hellopbx.net", "openid", connect_openid_url.form_error, connect_openid_url.field_error, 255, "required='require'", "http://wiki.hellopbx.net/connect_openid_url"  ) }} </li>
</ul>
<button type="submit" class="submit" value="save">Connect</button>
</form>
</div>
{% endblock %}