{% extends _layout %}
{% import "macros.twig" as macro %}
{% block submenu %}    
	{{ macro.menu_submenu(project_path, submenu, submenu_current)  }}
{% endblock %}
{% block content %}
        <div class="grid_12">
            <h2><?php echo anchor(current_url(), lang('connect_create_account')); ?></h2>
        </div>
        <div class="clear"></div>
        <div class="grid_6">
<form method="post" accept-charset="utf-8" action="{{ uri_string }}" />

            <h3>Connect Create</h3>
            <?php if (isset($connect_create_error)) : ?>
            <div class="grid_6 alpha">
                <div class="form_error">{{ connect_create_error }}</div>
            </div>
            <div class="clear"></div>
            <?php endif; ?>
            <ul><li>
            <label for="connect_create_username">Username</label>
                <?php echo form_input(array(
                        'name' => 'connect_create_username',
                        'id' => 'connect_create_username',
                        'value' => set_value('connect_create_username') ? set_value('connect_create_username') : (isset($connect_create[0]['username']) ? $connect_create[0]['username'] : ''),
                        'maxlength' => '16'
                    )); ?>
                <?php echo form_error('connect_create_username'); ?>
                <?php if (isset($connect_create_username_error)) : ?>
                <span class="field_error"><?php echo $connect_create_username_error; ?></span>
                <?php endif; ?>
</li><li>
<label for="connect_create_email">Email</label>
                <?php echo form_input(array(
                        'name' => 'connect_create_email',
                        'id' => 'connect_create_email',
                        'value' => set_value('connect_create_email') ? set_value('connect_create_email') : (isset($connect_create[0]['email']) ? $connect_create[0]['email'] : ''),
                        'maxlength' => '160'
                    )); ?>
                <?php echo form_error('connect_create_email'); ?>
                <?php if (isset($connect_create_email_error)) : ?>
                <span class="field_error"><?php echo $connect_create_email_error; ?></span>
                <?php endif; ?>
            </li>
            </ul>
<button type="submit" class="submit" value="save">Connect</button>
</form>
        </div>
{% endblock %}