{% extends _layout %}
{% import "macros.twig" as macro %}
{% block submenu %}    
	{{ macro.menu_submenu(project_path, submenu, submenu_current)  }}
{% endblock %}
{% block content %}
<div class="grid_12">
  <h1>Forgot Password</h1>
  <p>We will send reset password instructions to the email address associated with your account.</p>
  <form class="default" method="post" accept-charset="utf-8" action="{{ uri_string }}" />
  <ul>
    <li> {{ macro.input_text("forgot_password_username_email", forgot_password_username_email.value, "Email Address", "email", "me@hellopbx.net", "Email address to send instructions to.", forgot_password_username_email.form_error, forgot_password_username_email.field_error, 80, "required='require'", "http://wiki.hellopbx.net/forgot_password_username_email"  ) }} </li>
    <li> {{ macro.recaptcha(recaptcha, recaptcha_error) }}</li>
  </ul>
  <button type="submit" class="submit" value="save">Send Instructions</button>
  </form>
</div>
{% endblock %}