{% macro input_text(name, value, label, type, placeholder, form_hint, form_error, field_error, maxsize, required, reference ) %}
          <label for="{{ name }}">{{ label }}</label>
          <input type='{{ type }}' name='{{ name }}' id="{{ name }}" maxlength='{{ maxlength }}' {{ required }} placeholder="{{ placeholder }}"  value="{{ value }}">
		  <a href="{{ reference }}" target="_blank"><img alt="Ext Ref" height="16" width="16" src="/res/default/img/question.png"/></a>
          <span class="form_hint">{{ form_hint }}</span> <span class="form_error">{{ form_error }}</span> <span class="field_error">{{ field_error }}</span></li>
{% endmacro %}

{% macro input_picture(name, value, label, type, placeholder, form_hint, form_error, field_error, maxsize, required, reference ) %}
	  
         <label for="{{ name }}">{{ label }}</label>
		 
		{% if value is defined %}
        <img src="resource/user/profile/{{ value }}" alt="" /> <a href="account/account_profile/index/delete">Delete</a>
        {% else %}
        <img src="resource/img/default-picture.gif" alt="" />
        {% endif %}
		
	  <input type="file" name="{{ name }}" id="{{ name }}" />
    <p><small>Maximum file size of 800 kb. JPG, GIF, PNG.</small></p>
    <span class="form_hint">{{ form_hint }}<a href="{{ reference }}"><img alt="Ext Ref" src="#"/></a></span> <span class="form_error">{{ form_error }}</span> <span class="field_error">{{ field_error }}</span></li>		  
{% endmacro %}

{% macro recaptcha(recaptcha, recaptcha_error) %}
    {% if recaptcha is defined %}
                 {{ recaptcha }}
            {% if sign_in_recaptcha_error is defined %}
                <span class="field_error">{{ recaptcha_error }}</span>
            {% endif %}
	{% endif %}

{% endmacro %}

{% macro input_checkbox(name, value, label, form_hint, form_error, field_error, reference ) %}
                <span>
				<label for="{{ name }}">{{ label }}</label>
				<input type="checkbox" id="{{ name }}" name="{{ name }}" value="{{ value }}" {{ checked }} />
                </span>
{% endmacro %}

{% macro input_date(name, year, month, day, label, placeholder,form_hint, form_error, field_error, required, reference, year_min, year_max ) %}
<label for="{{ name }}">{{ label }}</label>
				
                <select name="{{ name }}_month">
                    <option value="">Month</option>
                    <option value="1"{% if (month == 1) %} selected="selected"{% endif %}>January</option>
                    <option value="2"{% if (month == 2) %} selected="selected"'{% endif %}>February</option>
                    <option value="3"{% if (month == 3) %} selected="selected"'{% endif %}>March</option>
                    <option value="4"{% if (month == 4) %} selected="selected"'{% endif %}>April</option>
                    <option value="5"{% if (month == 5) %} selected="selected"'{% endif %}>May</option>
                    <option value="6"{% if (month == 6) %} selected="selected"'{% endif %}>June</option>
                    <option value="7"{% if (month == 7) %} selected="selected"'{% endif %}>July</option>
                    <option value="8"{% if (month == 8) %} selected="selected"'{% endif %}>August</option>
                    <option value="9"{% if (month == 9) %} selected="selected"'{% endif %}>September</option>
                    <option value="10"{% if (month == 10) %} selected="selected"'{% endif %}>October</option>
                    <option value="11"{% if (month == 11) %} selected="selected"'{% endif %}>November</option>
                    <option value="12"{% if (month == 12) %} selected="selected"'{% endif %}>December</option>
                </select>
                <select name="{{ name }}_day">
                    <option value="" selected="selected">Day</option>
                    {% for i in 1..32 %}
                    <option value="{{ i }}"{% if day == i %} selected="selected"' {% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>

                <select name="settings_dob_year">
                    <option value="">Year</option>

					{% for i in year_min..year_max %}
                    <option value="x{{ i }}"{% if y == i %} selected="selected"{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
                {% if settings_dob_error is defined %}
                <span class="field_error">{{ settings_dob_error }}</span>
                {% endif %}

                <span>
				<label for="{{ name }}">{{ label }}</label>
				<input type="checkbox" id="{{ name }}" name="{{ name }}" value="{{ value }}" {{ checked }} />
                </span>
{% endmacro %}

{% macro input_checkbox(name, value, label, list, form_hint, form_error, field_error, reference ) %}
 <label for="{{ name }}">{{ label }}</label>


                <select id="{{ name }}" name="{{ name }}" class="select">
                    <option value="">- Select -</option>
                    {% for listitem in list %}
                    <option value="{{ listitem }}"{% if value == listitem %} selected="selected"{% endif %}>
                        {{ listitem }}{% if listitem.offset %} ({{ zoneinfo.offset }}) {% endif %}
                    </option>
                    {% endfor %}
                </select>	
{% endmacro %}				


{% macro table_header(current_url, fields, sort_by, sort_order, offset) %}
<thead>
    {% for key, value in fields %}
    <th{% if key == sort_by %} class="sort_{{ sort_order }}"{% endif %}><a href="{{ current_url }}{{ key }}/{% if sort_order == 'asc' and key == sort_by %}desc{% else %}asc{% endif %}/{{ offset }}">{{ value }}</a></th>
    {% endfor %}
</thead>
{% endmacro %}				

{% macro menu_submenu(project_path, rows, current) %}
<ul class='links'>
{% for row in rows %}
    <li{% if row.key == current %} class="active"{% endif %}><a href='{{ template.project_path }}{{ row.key }}/'>{{ row.name }}</a></li>
{% endfor %}
</ul>
{% endmacro %}				

