{% extends _layout %}
{% import "macros.twig" as macro %}
{% block submenu %}    
	{{ macro.menu_submenu(project_path, submenu, submenu_current)  }}
{% endblock %}
{% block content %}
        <div class="grid_12">
        Instructions Sent
        <a href="auth/forgot_password">Resend the Instructions</a>
        </div>
{% endblock %}