{% extends _layout %}
{% import "macros.twig" as macro %}
{% block submenu %}    
	{{ macro.menu_submenu(project_path, submenu, submenu_current)  }}
{% endblock %}
{% block content %}
<div class="grid_12">
  <h1>Reset Password</h1>
  <p>For security reasons, please type out the two words below.</p>
  <form method="post" accept-charset="utf-8" action="{{ uri_string }}?{{ query_string }}" />
  <div class="clear"></div>
  {% if recaptcha is defined %}
  <div class="grid_6 alpha omega"> {{ recaptcha }} </div>
  <div class="clear"></div>
  {% if reset_password_recaptcha_error is defined %}
  <div class="grid_6 alpha omega"> <span class="field_error">{{ reset_password_recaptcha_error }}</span> </div>
  <div class="clear"></div>
  {% endif %}
  {% endif %}
  <div class="grid_6 alpha omega">
    <button type="submit" class="submit" value="save">Reset Password</button>
  </div>
  </form>
</div>
<div class="clear"></div>
{% endblock %}