{% extends _layout %}
{% import "macros.twig" as macro %}
{% block submenu %}    
	{{ macro.menu_submenu(project_path, submenu, submenu_current)  }}
{% endblock %}
{% block content %}
<div class="grid_12">
  <h1>Reset Password</h1>
  <p>Password Reset Unsuccessful</p>
  <p><a href="/auth/forgot_password">Resend</a></p>
</div>
{% endblock %}