{% extends _layout %}
{% import "macros.twig" as macro %}
{% block submenu %}    
	{{ macro.menu_submenu(project_path, submenu, submenu_current)  }}
{% endblock %}
{% block content %}
<div class="clear"></div>

<div class="grid_12">
  <h1>Sign Up</h1>
</div>
<div class="clear"></div>
<div class="grid_6">
  <form method="post" accept-charset="utf-8" action="{{ form_post_url }}" class="default"/>
  
  <h3>Create Your account</h3>
  <span class="required_notification">* Denotes Required Field</span> 
  <!--  <h3>Metric Phone Number: </h3> -->
  <ul>
    <li> {{ macro.input_text(user.name, user.value, user.label, "text", user.placeholder, user.form_hint, user.form_error, user.field_error, user.maxlength, "required='require'", "http://wiki.hellopbx.net/user_name"  ) }} </li>
    <li> {{ macro.input_text(password.name, password.value, password.label, "password", password.placeholder, password.form_hint, password.form_error, password.field_error, password.maxlength, "required='require'", "http://wiki.hellopbx.net/password"  ) }} </li>
    <li> {{ macro.input_text(email.name, email.value, email.label, "email", email.placeholder, email.form_hint, email.form_error, email.field_error, email.maxlength, "required='require'", "http://wiki.hellopbx.net/email"  ) }} </li>
    <li> {{ recaptcha }} <span class="field_error">{{ sign_up_recaptcha_error }}</span> <br/>
      <button type="submit" class="submit" name"submit"  value="save" >Create My Account</button>
    </li>
    <li>
      <p>Already have an account? <a href="{{ form_post_url }}">Sign In Now</a></p>
    </li>
  </ul>
  </form>
</div>
<div class="grid_6">
  <h3>Sign up with your account from:</h3>
  <ul>
    {% for provider in third_party_auth_providers %}
    <li class="third_party {{ provider }}"><a href='/auth/connect_{{ provider }}' title="Sign Up With {{ provider }}"> {{ provider }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock%}