{% extends _layout %}
{% import "macros.twig" as macro %}
{% block submenu %}    
	{{ macro.menu_submenu(project_path, submenu, submenu_current)  }}
{% endblock %}
{% block content %}
<div class="grid_12">
  <h1>{{ sign_in_page_name }}</h1>
</div>
<div class="clear"></div>
{% if sign_in_error is defined %}
<div class="grid_6 alpha omega">
<div class="form_error">{{ sign_in_error }}</div>
</div>
{% endif %}
<div class="grid_6">
  <form class="default" method="post" accept-charset="utf-8" action="/{{ uri_string }}{{ continue }}" />
  <ul>
    <li> {{ macro.input_text("sign_in_username_email", sign_in_username_email.value, "Email Address", "email", "me@hellopbx.net", "Email address to sign in.", sign_in_username_email.form_error, sign_in_username_email.field_error, 24, "required='required'") }} </li>
    <li> {{ macro.input_text("sign_in_password", sign_in_password.value, "Password", "password", "*********", "Your password for web login.", sign_in_password.form_error, sign_in_password.field_error, 24, "required='required'") }} </li>
    <li> {{ macro.recaptcha(recaptcha, sign_in_recaptcha_error) }} </li>
  </ul>
  <button type="submit" class="submit" value="save">Sign In</button>
  {{ macro.input_checkbox("sign_in_remember", sign_in_remember.value, "Remember Me", "", "", "", "") }}
  <p><a href="auth/forgot_password">Forgot Your Password</a><br />
    Don't have an Account? <a href="/auth/sign_up">Sign Up Now</a></p>
</form>
</div>
<div class="grid_6"> {% if sign_in_third_party_heading is defined %}
  <h3>{{ sign_in_third_party_heading }}</h3>
  <ul>
    {% for provider in third_party_auth_providers %}
    <li class="third_party {{ provider }}"><a href="auth/connect_{{ provider }}">Connect {{ provider }}</a></li>
    {% endfor %}
  </ul>
  <div class="clear"></div>
  {% endif %} </div>
{% endblock %}