{% extends _layout %}
{% import "macros.twig" as macro %}
{% block submenu %}    
	{{ macro.menu_submenu(project_path, submenu, submenu_current)  }}
{% endblock %}
{% block content %}
        <div class="grid_12">
            <h2>Sign Out Successful</h2>
            <p><a href="" class="button">Go To Home</a></p>
        </div>
{% endblock %}