{% extends _layout %}
{% import "macros.twig" as macro %}
{% block submenu %}    
	{{ macro.menu_submenu(project_path, submenu, submenu_current)  }}
{% endblock %}
{% block content %}
<div class="grid_2">&nbsp;</div>
<div class="grid_8">
  <form method="post" accept-charset="utf-8" action="{{ form_post_url }}" class="default">
{{ macro.form_buttons(view_type, edit_url, back_url) }}
  <ul>

<!-- name, description, phone_name, mac,  -->		

<!-- line_number, user_active, real_name, user_name, user_pass, user_pass, user_host, user_pname, user_mailbox  -->		




<li>{{ macro.input_text(
		view_type, 
        "gateway", 
        fvl.gateway.value, 
        "Trunk Name", 
        "text", 
        "Iristel_4035551212", 
        "Name for HelloPBX administration purposes.  We recommend using the name of the trunk provider followed by the primary phone number.", 
        fvl.gateway.form_error, 
        fvl.gateway.field_error, 
        250, 
        true, 
        "pbx_trunk_sip.gateway") }}</li>
<!-- Flowroute, Iristel -->		
	
<li>{{ macro.input_text(view_type,"description", fvl.description.value, "Description", "text", "","Descriptive name for the trunk.", fvl.description.form_error, fvl.description.field_error, 250, true, "pbx_trunk_sip.description" ) }}</li>
<!-- -->		
<li>{{ macro.input_text(view_type,"username", fvl.username.value, "Username", "text", "","Account username", fvl.username.form_error, fvl.username.field_error, 250, false, "pbx_trunk_sip.username" ) }}</li>
<!-- Flowroute, Iristel -->		
<li>{{ macro.input_text(view_type,"auth_username", fvl.auth.value, "Auth Username", "text", "","Some providers use an additional username for authentication.  If it is provided, enter it here.", fvl.auth_username.form_error, fvl.auth_username.field_error, 250, false, "pbx_trunk_sip.auto_username" ) }}</li>
<!-- Flowroute, Iristel -->		
<li>{{ macro.input_text(view_type,"password", fvl.password.value, "Password", "text", "","Account password", fvl.password.form_error, fvl.password.field_error, 250, false, "pbx_trunk_sip.password" ) }}</li>
<!-- Flowroute, Iristel-->		
<li>{{ macro.input_text(view_type,"realm", fvl.realm.value, "Realm", "text", "","auth realm: *optional* same as gateway name, if blank", fvl.realm.form_error, fvl.realm.field_error, 250, false, "pbx_trunk_sip.realm" ) }}</li>
<!-- Iristel -->		
<li>{{ macro.input_text(view_type,"from_user", fvl.from_user.value, "From User", "text", "","username to use in from: *optional* same as  username, if blank", fvl.from_user.form_error, fvl.from_user.field_error, 250, false, "pbx_trunk_sip.from_user" ) }}</li>
<!-- Iristel -->		
<li>{{ macro.input_text(view_type,"from_domain", fvl.from_domain.value, "From Domain", "text", "","domain to use in from: *optional* same as  realm, if blank; can also be set to 'auto-aleg-full' or 'auto-aleg-domain'", fvl.from_domain.form_error, fvl.from_domain.field_error, 250, false, "pbx_trunk_sip.from_domain" ) }}</li>
<!-- Iristel -->		
<li>{{ macro.input_text(view_type,"proxy", fvl.proxy.value, "Proxy", "url", "","proxy host: *optional* same as realm, if blank", fvl.proxy.form_error, fvl.proxy.field_error, 250, false, "pbx_trunk_sip.proxy" ) }}</li>
<!-- Flowroute, Iristel -->		
<li>{{ macro.input_text(view_type,"expire_seconds", fvl.expire_seconds.value, "Expire Seconds", "number", "3600","Expire in seconds: *optional* 3600, if blank", fvl.outbound_proxy.form_error, fvl.outbound_proxy.field_error, 0, false, "pbx_trunk_sip.expire_seconds_numeric" ) }}</li>
<!-- Flowroute, Iristel -->		
<li>{{ macro.input_yes_no_notset(view_type,"register", fvl.register.value, "Register", "text", "","Most providers use registration.  When a static IP is used, your provider configure without registration.", fvl.register.form_error, fvl.register.field_error, 250, false, "pbx_trunk_sip.register" ) }}</li>
<!-- Flowroute -->		
<li>{{ macro.input_yes_no_notset(view_type,"extension_in_contact", fvl.extension_in_contact.value, "Extension in Contact", "text", "","form_hint", fvl.extension_in_contact.form_error, fvl.extension_in_contact.field_error, 250, false, "pbx_trunk_sip.extension_in_contact" ) }}</li>
<!-- Iristel -->		
<li>{{ macro.input_text(view_type,"retry_seconds_numeric", fvl.retry_seconds.value, "Retry Seconds", "number", "30","How many seconds before a retry when a failure or timeout occurs", fvl.retry_seconds.form_error, fvl.retry_seconds.field_error, 0, false, "pbx_trunk_sip.retry_seconds" ) }}</li>
<!-- Flowroute -->		
<li>{{ macro.input_text(view_type,"ping", fvl.ping.value, "Ping", "text", "30","send an options ping every x seconds, failure will unregister and/or mark it down", fvl.ping.form_error, fvl.ping.field_error, 0, false, "pbx_trunk_sip.ping" ) }}</li>
<!-- Flowroute -->		
<li>{{ macro.input_yes_no_notset(view_type,"distinct_to", fvl.distinct.value, "Distinct To", "text", "","", fvl.distinct_to.form_error, fvl.distinct_to.field_error, 250, false, "pbx_trunk_sip.distinct_to" ) }}</li>
<!-- -->		
<li>{{ macro.input_text(view_type,"register_proxy", fvl.register_proxy.value, "Register_Proxy", "text", "","send register to this proxy: *optional* same as proxy, if blank", fvl.register_proxy.form_error, fvl.register_proxy.field_error, 250, false, "pbx_trunk_sip.register_proxy" ) }}</li>
<!-- -->		
<li>{{ macro.input_text(view_type,"outbound_proxy", fvl.outbound_proxy.value, "Outbound Proxy", "text", "","", fvl.outbound_proxy.form_error, fvl.outbound_proxy.field_error, 250, false, "pbx_trunk_sip.outbound_proxy" ) }}</li>
<!-- -->		
<li>{{ macro.input_yes_no_notset(view_type,"register_transport", fvl.register_transport.value, "Register Transport", "text", "udp","Which transport to use for register", fvl.register_transport.form_error, fvl.register_transport.field_error, 250, false, "pbx_trunk_sip.register_transport" ) }}</li>
<!-- -->		
<li>{{ macro.input_text(view_type,"extension", fvl.extension.value, "Extension", "text", ""," extension for inbound calls: *optional* same as username, if blank. To use what's in ${sip_to_user}, set it to the value 'auto_to_user'", fvl.extension.form_error, fvl.extension.field_error, 250, false, "pbx_trunk_sip.extension" ) }}</li>
<!-- -->		
<li>{{ macro.input_yes_no_notset(view_type,"caller_id_in_from", fvl.caller_id_in_from.value, "Caller ID in From", "text", "","Use the callerid of an inbound call in the from field on outbound calls via this gateway", fvl.caller_id_in_from.form_error, fvl.caller_id_in_from.field_error, 250, false, "pbx_trunk_sip.caller_id" ) }}</li>
<!-- -->		
<li>{{ macro.input_yes_no_notset(view_type,"supress_cng", fvl.supress_cng.value, "Supress CNG", "text", "","Suppress CNG (Comfort Noise Generation).  This is an advance feature.", fvl.supress_cng.form_error, fvl.supress_cng.field_error, 250, false, "pbx_trunk_sip.supress_cng" ) }}</li>
<!-- -->		
<li>{{ macro.input_text(view_type,"sip_cid_type", fvl.sip_cid_type.value, "SIP CID Type", "text", "","", fvl.sip_cid_type.form_error, fvl.sip_cid_type.field_error, 250, false, "pbx_trunk_sip.sip_cid_type" ) }}</li>
<!-- -->		
<li>{{ macro.input_text(view_type,"context", fvl.context.value, "Context", "text", "","", fvl.context.form_error, fvl.context.field_error, 250, false, "pbx_trunk_sip.context" ) }}</li>
<!-- -->		
<li>{{ macro.input_text(view_type,"profile", fvl.profile.value, "Profile", "text", "","", fvl.profile.form_error, fvl.profile.field_error, 250, false, "pbx_trunk_sip.profile" ) }}</li>
<!-- -->		
<li>{{ macro.input_text("view","id", fvl.id.value, "ID", "text", "","", fvl.id.form_error, fvl.id.field_error, 0, false, "pbx_trunk_sip.id" ) }}</li>
<!-- -->		
<li>{{ macro.input_yes_no(view_type,"enabled", fvl.enabled.value, "Enabled", "text", "","", fvl.enabled.form_error, fvl.enabled.field_error, 250, false, "pbx_trunk_sip.enabled" ) }}</li>
<!-- -->		

  </ul>
{{ macro.form_buttons(view_type, edit_url, back_url) }}
</form>

{{ macro.form_update_info(view_type, updated_at.value, updated_by.value, created_at.value) }}

</div><div class="clear"></div><br/>
{% endblock%}