{% extends _layout %}
{% import "m_form.twig" as macro %}
{% block content %}
<!-- endpoint/sip_cru -->
<div class="grid_2">&nbsp;</div>
<div class="grid_8">
<!-- Endpoint -->
  <form method="post" accept-charset="utf-8" action="{{ form_post_url }}" class="default">
    {{ macro.form_buttons(view_type, edit_url, back_url) }}
    <ul>
	
	{{ macro.form_fields(view_type, fil) }}
	
	{{ macro.form_child_fields(view_type, fil_child) }}
	
		<!-- <li>
	   <label for="identity">Line Identities</label>
       <table id="identity">
		{{ macro.form_child_fields_table(view_type, fil_child) }}
		</table>
		</li> -->
	
	</ul>
    {% if id_template is defined %}
    {% if fil|length > 8 %}{{ macro.form_buttons(view_type, edit_url, back_url) }} {% endif %}
    <input type="hidden" name="id_template" value="{{ id_template }}" />
    {% endif %}
  </form>
  {{  macro.form_update_info(view_type, fvl.updated_at.value, fvl.updated_by.value, fvl.created_at.value) }}<br/>
  {% if advanced_url is defined%}<a href="{{ advanced_url }}">Advanced ►</a> {% endif %} </div>
<div class="clear"></div>
<br/>
{% endblock%}