{% extends _layout %}
{% import "macros.twig" as macro %}
{% block content %}

  <form method="post" accept-charset="utf-8" action="{{ form_post_url }}" class="default">
<div class="grid_12">
<h2>Call Forwarding / FindMe Settings</h2>
<ul><li>
    <input type="radio" name="forward" id="forward_all" value="all">
    <label for="forward_all">Do not forward my calls</label></li><li>
    <input type="radio" name="forward" id="forward_single" value="all">
    <label for="forward_single">Forward my calls to a single number</label></li><li>
    <input type="radio" name="forward" id="forward_findme" value="findme">
    <label for="forward_findme">FindMe with Boomerang Mobile Integration</label>
	</ul>
</div><div class="clear"></div><div class="grid_12">	
    <h3>When to FindMe</h3>
	<ul><li>
    <input type="radio" name="forward" id="forward_all" value="all">
    <label for="forward_all">Always FindMe</label></li><li>
    <input type="radio" name="forward" id="forward_single" value="single">
    <label for="forward_single">FindMe using a schedule</label></li><li>
    <input type="radio" name="forward" id="forward_findme" value="findme">
    <label for="forward_findme">FindMe using a schedule and HUD status</label></li><li>
    <input type="checkbox" name="ignore_on_busy">
    <label for="ignore_on_busy">Don't FindMe when I'm talking on x210</label><li>
	</ul>
</div><div class="clear"></div><div class="grid_12">		
    <h3>When to FindMe</h3>
    <table>
      <thead>
        <tr>
          <td>Step></td>
          <td>Del</td>
          <td>Action Type</td>
          <td>Action</td>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td>Add</td>
          <td colspan="4">Need another step?  Click "Add".</td>
        </tr>
      </tfoot>
      <tr>
        <td>#1</td>
        <td>X</td>
          <td>To start finding me:
          </td>
        <td><select>
            <option>call my extension</option>
          </select>for
          <select>
            <option>20</option>
          </select>
          secs.</td>
      </tr>
      <tr>
        <td>#2</td>
        <td>X</td><td>
        <select>
          <option>And then:</option>
        </select>
          </td>
        <td><select>
            <option>enable call screening</option>
          </select>which will require callers to identify themselves.</td>
      </tr>
      <tr>
        <td>#3</td>
        <td>X</td><td>
        <select>
          <option>At the same time:</option>
        </select></td><td>
          <select>
            <option>overwrite caller ID name</option>
          </select>
        with
          <input value="FindMe"/></td>
      </tr>
      <tr>
        <td>#4</td>
        <td>X</td><td>
        <select>
          <option>And then:</option>
        </select>
          </td>
        <td><select>
            <option>call my mobile</option>
          </select>for
          <select>
            <option>45</option>
          </select>
          secs.
          <select>
            <option>with press-to-accept</option>
          </select></td>
      </tr>
      <tr>
        <td>#5</td>
        <td>X</td><td>
        <select>
          <option>And the same time:</option>
        </select>
          </td>
        <td><select>
            <option>call my extension</option>
          </select>for
          <select>
            <option>45</option>
          </select>
          secs. </td>
      </tr>
      <tr>
        <td>#6</td>
        <td>X</td><td>
        <select>
          <option>And then:</option>
        </select>
          </td>
        <td><select>
            <option>forward to my voicemail</option>
          </select></td>
      </tr>
    </table>

</div>
  </form>
{% endblock%}