<?xml version="1.0" encoding="utf-8"?>
<settings>
<phone-settings e="2">
<language perm="RW">English</language>
<dnd_on_code perm="RW">*78</dnd_on_code>
<dnd_off_code perm="RW">*79</dnd_off_code>
<codec_tos perm="RW">184</codec_tos>
<setting_server perm="RW">http://provisioning.snom.com/snom821/snom821.php?mac={mac}</setting_server>
<ip_adr perm="RW">10.100.0.180</ip_adr>
<netmask perm="RW">255.255.255.0</netmask>
<update_server perm="RW">10.100.0.10</update_server>
<dns_domain perm="RW">helia.ca</dns_domain>
<dns_server1 perm="RW">10.100.0.1</dns_server1>
<gateway perm="RW">10.100.0.1</gateway>
<phone_name perm="">200@voice.heliatools.ca</phone_name>
<utc_offset perm="RW">-25200</utc_offset>
<ntp_server perm="RW">pool.ntp.org</ntp_server>
<http_user perm="RW">heliaadmin</http_user>
<http_pass perm="RW"></http_pass>
<dst perm="RW">3600 3.2.7 2:0:0 11.1.7 2:0:0</dst>
<timezone perm="RW">USA</timezone>
<active_line perm="">1</active_line>
<challenge_response perm="RW">off</challenge_response>
<register_http_contact perm="">on</register_http_contact>
<aoc_amount_display perm="RW">charged</aoc_amount_display>
<admin_mode_login perm=""></admin_mode_login>
<admin_mode_password perm=""></admin_mode_password>
<admin_mode_password_confirm perm=""></admin_mode_password_confirm>
<admin_mode perm="">on</admin_mode>
<tone_scheme perm="RW">USA</tone_scheme>
<headset_device perm="">headset_rj</headset_device>
<update_policy perm="RW">auto_update</update_policy>
<block_url_dialing perm="RW">on</block_url_dialing>
<firmware_status perm="RW">http://10.100.0.11:80/prov/snom_3xx_fs.xml?model=snom821</firmware_status>
<firmware perm="">http://provisioning.snom.com:80/download/fw/snom821-8.7.3.10-SIP-r.bin</firmware>
<update_host_f perm="RW"></update_host_f>
<time_24_format perm="RW">off</time_24_format>
<syslog_server perm="">10.100.0.4</syslog_server>
<multicast_listen perm="RW">on</multicast_listen>
<answer_after_policy perm="RW">idle</answer_after_policy>
<ldap_server perm="">10.100.0.11</ldap_server>
<ldap_port perm="">389</ldap_port>
<ldap_base perm="">ou=people</ldap_base>
<ldap_username perm="">voice.heliatools.ca\200</ldap_username>
<ldap_password perm=""></ldap_password>
<idle_cancel_key_action perm="">keyevent none</idle_cancel_key_action>
<dkey_directory perm="RW">keyevent F_DIRECTORY_SEARCH</dkey_directory>
<dkey_menu perm="RW">url http://10.100.0.11:80/snom/menu.xml?auth=basic</dkey_menu>
<gui_fkey1 perm="">key_event F_ADR_BOOK</gui_fkey1>
<gui_fkey2 perm="">key_event F_CALL_LIST</gui_fkey2>
<gui_fkey3 perm="">key_event F_REDIRECT</gui_fkey3>
<gui_fkey4 perm="">key_event none</gui_fkey4>
<cancel_desktop perm="">on</cancel_desktop>
<firmware_version perm="">snom821-SIP 8.7.3.10</firmware_version>
<http_client_user perm="RW">200;domain=voice.heliatools.ca</http_client_user>
<http_client_pass perm="RW"></http_client_pass>
<ldap_search_filter perm="">(cn=%)</ldap_search_filter>
<ldap_number_filter perm="">(telephoneNumber=%)</ldap_number_filter>
<ldap_name_attributes perm="">cn</ldap_name_attributes>
<ldap_number_attributes perm="">telephoneNumber mobileTelephoneNumber</ldap_number_attributes>
<ldap_display_name perm="">%cn</ldap_display_name>
<ignore_security_warning perm="RW">on</ignore_security_warning>
<uboot_version perm="">SPEAr300 SNOM 1.4</uboot_version>
<dfks perm="">on</dfks>
<prioritise_pbx_number_lookup perm="">off</prioritise_pbx_number_lookup>
<upload_web perm="RW"></upload_web>
<upload_font perm="RW"></upload_font>
<upload_gui perm="RW"></upload_gui>
<auto_connect_indication_tone perm="">off</auto_connect_indication_tone>
<rtcp_xr perm="">voip-metrics stat-summary=loss,dup,jitt</rtcp_xr>
<allow_rtp_on_mute perm="">on</allow_rtp_on_mute>
<attended_transfer_on_ringing perm="">on</attended_transfer_on_ringing>
<pnp_server perm="">https://10.100.0.11:443/prov/snom821.htm</pnp_server>
<swupd_failed perm="RW"></swupd_failed>
<was_never_registered perm="">off</was_never_registered>
<user_realname idx="1" perm="RW">Dar Zuch</user_realname>
<user_name idx="1" perm="RW">200</user_name>
<user_name idx="2" perm="">290</user_name>
<user_name idx="3" perm="">200</user_name>
<user_name idx="4" perm="">200</user_name>
<user_host idx="1" perm="RW">voice.heliatools.ca</user_host>
<user_host idx="2" perm="">voice.mayfairfdc.ca</user_host>
<user_host idx="3" perm="">metric.heliatools.ca</user_host>
<user_host idx="4" perm="">10.100.0.10</user_host>
<user_pname idx="1" perm="RW">200</user_pname>
<user_pass idx="1" perm="RW"></user_pass>
<user_pass idx="2" perm=""></user_pass>
<user_pass idx="3" perm=""></user_pass>
<user_pass idx="4" perm=""></user_pass>
<user_mailbox idx="1" perm="RW">200</user_mailbox>
<user_srtp idx="2" perm="">off</user_srtp>
<user_srtp idx="3" perm="">off</user_srtp>
<user_srtp idx="4" perm="">off</user_srtp>
<user_idle_text idx="1" perm="RW">200: Dar Zuch</user_idle_text>
<user_idle_text idx="4" perm="">Good things are happening</user_idle_text>
<user_descr_contact idx="1" perm="RW">off</user_descr_contact>
<user_uid idx="1" perm="">e7e7b69f-e044-4279-80ca-00041345162C</user_uid>
<user_uid idx="2" perm="">e7e7b69f-e044-4279-80ca-00041345162C</user_uid>
<user_uid idx="3" perm="">e7e7b69f-e044-4279-80ca-00041345162C</user_uid>
<user_uid idx="4" perm="">e7e7b69f-e044-4279-80ca-00041345162C</user_uid>
<user_proxy_require idx="1" perm="RW">buttons</user_proxy_require>
<user_outbound idx="1" perm="RW">sip:10.100.0.11:5061;transport=tls</user_outbound>
<user_server_type idx="1" perm="R">pbxnsip</user_server_type>
<user_dynamic_payload idx="1" perm="R">off</user_dynamic_payload>
<mc_address idx="1" perm="RW">224.0.0.1:5000</mc_address>
<hide_identity idx="3" perm="">false</hide_identity>
<hide_identity idx="4" perm="">false</hide_identity>
<using_server_managed_dnd idx="1" perm="RW">on</using_server_managed_dnd>
<codec_priority_list idx="1" perm="">g722,pcmu,pcma,g726-32,aal2-g726-32,g723,g729,telephone-event</codec_priority_list>
<codec_priority_list idx="2" perm="">g722,pcmu,pcma,g726-32,aal2-g726-32,g723,g729,telephone-event</codec_priority_list>
<codec_priority_list idx="3" perm="">g722,pcmu,pcma,g726-32,aal2-g726-32,g723,g729,telephone-event</codec_priority_list>
<codec_priority_list idx="4" perm="">g722,pcmu,pcma,g726-32,aal2-g726-32,g723,g729,telephone-event</codec_priority_list>
</phone-settings>
<functionKeys e="2">
<fkey idx="0" context="active" label="" perm="">line</fkey>
<fkey idx="1" context="active" label="" perm="">line</fkey>
<fkey idx="2" context="active" label="Helia" perm="">speed 7806669481</fkey>
<fkey idx="3" context="active" label="Intercom" perm="">multicast 239.255.255.245:5555</fkey>
</functionKeys>
<tbook e="2">
</tbook>
</settings>

