<?xml version="1.0"?>
<flat-profile>
<!-- spa112 -->
<Restricted_Access_Domains></Restricted_Access_Domains>
<Enable_Web_Admin_Access>Yes</Enable_Web_Admin_Access>
<IVR_Admin_Passwd></IVR_Admin_Passwd>
<Network_Startup_Delay>3</Network_Startup_Delay>
<DNS_Query_TTL_Ignore>No</DNS_Query_TTL_Ignore>
<Syslog_Server></Syslog_Server>
<Debug_Server></Debug_Server>
<Debug_Level>3</Debug_Level>
<Provision_Enable>Yes</Provision_Enable>
<Resync_On_Reset>Yes</Resync_On_Reset>
<Resync_Random_Delay>2</Resync_Random_Delay>
<Resync_At__HHmm_></Resync_At__HHmm_>
<Resync_At_Random_Delay>600</Resync_At_Random_Delay>
<Resync_Periodic>3600</Resync_Periodic>
<Resync_Error_Retry_Delay>3600</Resync_Error_Retry_Delay>
<Forced_Resync_Delay>14400</Forced_Resync_Delay>
<Resync_From_SIP>Yes</Resync_From_SIP>
<Resync_After_Upgrade_Attempt>Yes</Resync_After_Upgrade_Attempt>
<Resync_Trigger_1></Resync_Trigger_1>
<Resync_Trigger_2></Resync_Trigger_2>
<Resync_Fails_On_FNF>Yes</Resync_Fails_On_FNF>
<Profile_Rule>/spa$PSN.cfg</Profile_Rule>
<Profile_Rule_B></Profile_Rule_B>
<Profile_Rule_C></Profile_Rule_C>
<Profile_Rule_D></Profile_Rule_D>
<Log_Resync_Request_Msg>$PN $MAC -- Requesting resync $SCHEME://$SERVIP:$PORT$PATH</Log_Resync_Request_Msg>
<Log_Resync_Success_Msg>$PN $MAC -- Successful resync $SCHEME://$SERVIP:$PORT$PATH</Log_Resync_Success_Msg>
<Log_Resync_Failure_Msg>$PN $MAC -- Resync failed: $ERR</Log_Resync_Failure_Msg>
<Report_Rule></Report_Rule>
<SP_Default></SP_Default>
<Upgrade_Enable>Yes</Upgrade_Enable>
<Upgrade_Error_Retry_Delay>3600</Upgrade_Error_Retry_Delay>
<Downgrade_Rev_Limit></Downgrade_Rev_Limit>
<Upgrade_Rule></Upgrade_Rule>
<Log_Upgrade_Request_Msg>$PN $MAC -- Requesting upgrade $SCHEME://$SERVIP:$PORT$PATH</Log_Upgrade_Request_Msg>
<Log_Upgrade_Success_Msg>$PN $MAC -- Successful upgrade $SCHEME://$SERVIP:$PORT$PATH -- $ERR</Log_Upgrade_Success_Msg>
<Log_Upgrade_Failure_Msg>$PN $MAC -- Upgrade failed: $ERR</Log_Upgrade_Failure_Msg>
<License_Keys></License_Keys>
<Recovery_URL></Recovery_URL>
<Custom_CA_URL></Custom_CA_URL>
<GPP_A></GPP_A>
<GPP_B></GPP_B>
<GPP_C></GPP_C>
<GPP_D></GPP_D>
<GPP_E></GPP_E>
<GPP_F></GPP_F>
<GPP_G></GPP_G>
<GPP_H></GPP_H>
<GPP_I></GPP_I>
<GPP_J></GPP_J>
<GPP_K></GPP_K>
<GPP_L></GPP_L>
<GPP_M></GPP_M>
<GPP_N></GPP_N>
<GPP_O></GPP_O>
<GPP_P></GPP_P>
<!-- <GPP_SA></GPP_SA> -->
<!-- <GPP_SB></GPP_SB> -->
<!-- <GPP_SC></GPP_SC> -->
<!-- <GPP_SD></GPP_SD> -->
<Max_Forward>70</Max_Forward>
<Max_Redirection>5</Max_Redirection>
<Max_Auth>2</Max_Auth>
<SIP_User_Agent_Name>$VERSION</SIP_User_Agent_Name>
<SIP_Server_Name>$VERSION</SIP_Server_Name>
<SIP_Reg_User_Agent_Name></SIP_Reg_User_Agent_Name>
<SIP_Accept_Language></SIP_Accept_Language>
<DTMF_Relay_MIME_Type>application/dtmf-relay</DTMF_Relay_MIME_Type>
<Hook_Flash_MIME_Type>application/hook-flash</Hook_Flash_MIME_Type>
<Remove_Last_Reg>No</Remove_Last_Reg>
<Use_Compact_Header>No</Use_Compact_Header>
<Escape_Display_Name>No</Escape_Display_Name>
<RFC_2543_Call_Hold>Yes</RFC_2543_Call_Hold>
<Mark_All_AVT_Packets>Yes</Mark_All_AVT_Packets>
<SIP_TCP_Port_Min>5060</SIP_TCP_Port_Min>
<SIP_TCP_Port_Max>5080</SIP_TCP_Port_Max>
<CTI_Enable>No</CTI_Enable>
<SIP_T1>.5</SIP_T1>
<SIP_T2>4</SIP_T2>
<SIP_T4>5</SIP_T4>
<SIP_Timer_B>32</SIP_Timer_B>
<SIP_Timer_F>16</SIP_Timer_F>
<SIP_Timer_H>32</SIP_Timer_H>
<SIP_Timer_D>32</SIP_Timer_D>
<SIP_Timer_J>32</SIP_Timer_J>
<INVITE_Expires>240</INVITE_Expires>
<ReINVITE_Expires>30</ReINVITE_Expires>
<Reg_Min_Expires>1</Reg_Min_Expires>
<Reg_Max_Expires>7200</Reg_Max_Expires>
<Reg_Retry_Intvl>30</Reg_Retry_Intvl>
<Reg_Retry_Long_Intvl>1200</Reg_Retry_Long_Intvl>
<Reg_Retry_Random_Delay>0</Reg_Retry_Random_Delay>
<Reg_Retry_Long_Random_Delay>0</Reg_Retry_Long_Random_Delay>
<Reg_Retry_Intvl_Cap>0</Reg_Retry_Intvl_Cap>
<SIT1_RSC></SIT1_RSC>
<SIT2_RSC></SIT2_RSC>
<SIT3_RSC></SIT3_RSC>
<SIT4_RSC></SIT4_RSC>
<Try_Backup_RSC></Try_Backup_RSC>
<Retry_Reg_RSC></Retry_Reg_RSC>
<RTP_Port_Min>16384</RTP_Port_Min>
<RTP_Port_Max>16482</RTP_Port_Max>
<RTP_Packet_Size>0.030</RTP_Packet_Size>
<Max_RTP_ICMP_Err>0</Max_RTP_ICMP_Err>
<RTCP_Tx_Interval>0</RTCP_Tx_Interval>
<No_UDP_Checksum>No</No_UDP_Checksum>
<Stats_In_BYE>Yes</Stats_In_BYE>
<NSE_Dynamic_Payload>100</NSE_Dynamic_Payload>
<AVT_Dynamic_Payload>101</AVT_Dynamic_Payload>
<INFOREQ_Dynamic_Payload></INFOREQ_Dynamic_Payload>
<G726r32_Dynamic_Payload>2</G726r32_Dynamic_Payload>
<EncapRTP_Dynamic_Payload>112</EncapRTP_Dynamic_Payload>
<RTP-Start-Loopback_Dynamic_Payload>113</RTP-Start-Loopback_Dynamic_Payload>
<RTP-Start-Loopback_Codec>G711u</RTP-Start-Loopback_Codec>
<NSE_Codec_Name>NSE</NSE_Codec_Name>
<AVT_Codec_Name>telephone-event</AVT_Codec_Name>
<G711u_Codec_Name>PCMU</G711u_Codec_Name>
<G711a_Codec_Name>PCMA</G711a_Codec_Name>
<G726r32_Codec_Name>G726-32</G726r32_Codec_Name>
<G729a_Codec_Name>G729a</G729a_Codec_Name>
<EncapRTP_Codec_Name>encaprtp</EncapRTP_Codec_Name>
<Handle_VIA_received>No</Handle_VIA_received>
<Handle_VIA_rport>No</Handle_VIA_rport>
<Insert_VIA_received>No</Insert_VIA_received>
<Insert_VIA_rport>No</Insert_VIA_rport>
<Substitute_VIA_Addr>No</Substitute_VIA_Addr>
<Send_Resp_To_Src_Port>No</Send_Resp_To_Src_Port>
<STUN_Enable>No</STUN_Enable>
<STUN_Test_Enable>No</STUN_Test_Enable>
<STUN_Server></STUN_Server>
<EXT_IP></EXT_IP>
<EXT_RTP_Port_Min></EXT_RTP_Port_Min>
<NAT_Keep_Alive_Intvl>15</NAT_Keep_Alive_Intvl>
<Redirect_Keep_Alive>No</Redirect_Keep_Alive>
<Linksys_Key_System>No</Linksys_Key_System>
<Multicast_Address>224.168.168.168:6061</Multicast_Address>
<Key_System_Auto_Discovery>Yes</Key_System_Auto_Discovery>
<Key_System_IP_Address></Key_System_IP_Address>
<Force_LAN_Codec>none</Force_LAN_Codec>
<Station_Name></Station_Name>
<Line_Enable_1_>Yes</Line_Enable_1_>
<SAS_Enable_1_>No</SAS_Enable_1_>
<SAS_DLG_Refresh_Intvl_1_>30</SAS_DLG_Refresh_Intvl_1_>
<SAS_Inbound_RTP_Sink_1_></SAS_Inbound_RTP_Sink_1_>
<NAT_Mapping_Enable_1_>No</NAT_Mapping_Enable_1_>
<NAT_Keep_Alive_Enable_1_>Yes</NAT_Keep_Alive_Enable_1_>
<NAT_Keep_Alive_Msg_1_>$NOTIFY</NAT_Keep_Alive_Msg_1_>
<NAT_Keep_Alive_Dest_1_>216.86.97.120</NAT_Keep_Alive_Dest_1_>
<SIP_ToS_DiffServ_Value_1_>0x68</SIP_ToS_DiffServ_Value_1_>
<SIP_CoS_Value_1_>3</SIP_CoS_Value_1_>
<RTP_ToS_DiffServ_Value_1_>0xb8</RTP_ToS_DiffServ_Value_1_>
<RTP_CoS_Value_1_>6</RTP_CoS_Value_1_>
<Network_Jitter_Level_1_>high</Network_Jitter_Level_1_>
<Jitter_Buffer_Adjustment_1_>Yes</Jitter_Buffer_Adjustment_1_>
<SIP_Transport_1_>UDP</SIP_Transport_1_>
<SIP_Port_1_>5060</SIP_Port_1_>
<SIP_100REL_Enable_1_>No</SIP_100REL_Enable_1_>
<EXT_SIP_Port_1_></EXT_SIP_Port_1_>
<Auth_Resync-Reboot_1_>Yes</Auth_Resync-Reboot_1_>
<SIP_Proxy-Require_1_></SIP_Proxy-Require_1_>
<SIP_Remote-Party-ID_1_>Yes</SIP_Remote-Party-ID_1_>
<SIP_GUID_1_>No</SIP_GUID_1_>
<SIP_Debug_Option_1_>none</SIP_Debug_Option_1_>
<RTP_Log_Intvl_1_>0</RTP_Log_Intvl_1_>
<Restrict_Source_IP_1_>No</Restrict_Source_IP_1_>
<Referor_Bye_Delay_1_>4</Referor_Bye_Delay_1_>
<Refer_Target_Bye_Delay_1_>0</Refer_Target_Bye_Delay_1_>
<Referee_Bye_Delay_1_>0</Referee_Bye_Delay_1_>
<Refer-To_Target_Contact_1_>No</Refer-To_Target_Contact_1_>
<Sticky_183_1_>No</Sticky_183_1_>
<Auth_INVITE_1_>No</Auth_INVITE_1_>
<Reply_182_On_Call_Waiting_1_>No</Reply_182_On_Call_Waiting_1_>
<Use_Anonymous_With_RPID_1_>Yes</Use_Anonymous_With_RPID_1_>
<Use_Local_Addr_In_FROM_1_>No</Use_Local_Addr_In_FROM_1_>
<Blind_Attn-Xfer_Enable_1_>No</Blind_Attn-Xfer_Enable_1_>
<MOH_Server_1_></MOH_Server_1_>
<Xfer_When_Hangup_Conf_1_>Yes</Xfer_When_Hangup_Conf_1_>
<Conference_Bridge_URL_1_></Conference_Bridge_URL_1_>
<Conference_Bridge_Ports_1_>3</Conference_Bridge_Ports_1_>
<Enable_IP_Dialing_1_>No</Enable_IP_Dialing_1_>
<Emergency_Number_1_></Emergency_Number_1_>
<Mailbox_ID_1_></Mailbox_ID_1_>
<Proxy_1_>216.86.97.120</Proxy_1_>
<Outbound_Proxy_1_></Outbound_Proxy_1_>
<Use_Outbound_Proxy_1_>No</Use_Outbound_Proxy_1_>
<Use_OB_Proxy_In_Dialog_1_>Yes</Use_OB_Proxy_In_Dialog_1_>
<Register_1_>Yes</Register_1_>
<Make_Call_Without_Reg_1_>No</Make_Call_Without_Reg_1_>
<Register_Expires_1_>120</Register_Expires_1_>
<Ans_Call_Without_Reg_1_>No</Ans_Call_Without_Reg_1_>
<Use_DNS_SRV_1_>No</Use_DNS_SRV_1_>
<DNS_SRV_Auto_Prefix_1_>No</DNS_SRV_Auto_Prefix_1_>
<Proxy_Fallback_Intvl_1_>3600</Proxy_Fallback_Intvl_1_>
<Proxy_Redundancy_Method_1_>Normal</Proxy_Redundancy_Method_1_>
<Mailbox_Subscribe_URL_1_></Mailbox_Subscribe_URL_1_>
<Mailbox_Subscribe_Expires_1_>2147483647</Mailbox_Subscribe_Expires_1_>
<Display_Name_1_>WFG Millington</Display_Name_1_>
<User_ID_1_>5878804321</User_ID_1_>
<!-- <Password_1_></Password_1_> -->
<Use_Auth_ID_1_>No</Use_Auth_ID_1_>
<Auth_ID_1_></Auth_ID_1_>
<Resident_Online_Number_1_></Resident_Online_Number_1_>
<SIP_URI_1_></SIP_URI_1_>
<Call_Waiting_Serv_1_>No</Call_Waiting_Serv_1_>
<Block_CID_Serv_1_>Yes</Block_CID_Serv_1_>
<Block_ANC_Serv_1_>Yes</Block_ANC_Serv_1_>
<Dist_Ring_Serv_1_>No</Dist_Ring_Serv_1_>
<Cfwd_All_Serv_1_>Yes</Cfwd_All_Serv_1_>
<Cfwd_Busy_Serv_1_>Yes</Cfwd_Busy_Serv_1_>
<Cfwd_No_Ans_Serv_1_>Yes</Cfwd_No_Ans_Serv_1_>
<Cfwd_Sel_Serv_1_>Yes</Cfwd_Sel_Serv_1_>
<Cfwd_Last_Serv_1_>Yes</Cfwd_Last_Serv_1_>
<Block_Last_Serv_1_>Yes</Block_Last_Serv_1_>
<Accept_Last_Serv_1_>Yes</Accept_Last_Serv_1_>
<DND_Serv_1_>Yes</DND_Serv_1_>
<CID_Serv_1_>Yes</CID_Serv_1_>
<CWCID_Serv_1_>No</CWCID_Serv_1_>
<Call_Return_Serv_1_>Yes</Call_Return_Serv_1_>
<Call_Redial_Serv_1_>Yes</Call_Redial_Serv_1_>
<Call_Back_Serv_1_>Yes</Call_Back_Serv_1_>
<Three_Way_Call_Serv_1_>Yes</Three_Way_Call_Serv_1_>
<Three_Way_Conf_Serv_1_>Yes</Three_Way_Conf_Serv_1_>
<Attn_Transfer_Serv_1_>Yes</Attn_Transfer_Serv_1_>
<Unattn_Transfer_Serv_1_>Yes</Unattn_Transfer_Serv_1_>
<MWI_Serv_1_>No</MWI_Serv_1_>
<VMWI_Serv_1_>No</VMWI_Serv_1_>
<Speed_Dial_Serv_1_>Yes</Speed_Dial_Serv_1_>
<Secure_Call_Serv_1_>Yes</Secure_Call_Serv_1_>
<Referral_Serv_1_>Yes</Referral_Serv_1_>
<Feature_Dial_Serv_1_>Yes</Feature_Dial_Serv_1_>
<Service_Announcement_Serv_1_>No</Service_Announcement_Serv_1_>
<Reuse_CID_Number_As_Name_1_>Yes</Reuse_CID_Number_As_Name_1_>
<Preferred_Codec_1_>G711u</Preferred_Codec_1_>
<Second_Preferred_Codec_1_>Unspecified</Second_Preferred_Codec_1_>
<Third_Preferred_Codec_1_>Unspecified</Third_Preferred_Codec_1_>
<Use_Pref_Codec_Only_1_>Yes</Use_Pref_Codec_Only_1_>
<Use_Remote_Pref_Codec_1_>No</Use_Remote_Pref_Codec_1_>
<Codec_Negotiation_1_>Default</Codec_Negotiation_1_>
<G729a_Enable_1_>No</G729a_Enable_1_>
<Silence_Supp_Enable_1_>No</Silence_Supp_Enable_1_>
<G726-32_Enable_1_>Yes</G726-32_Enable_1_>
<Silence_Threshold_1_>low</Silence_Threshold_1_>
<FAX_V21_Detect_Enable_1_>Yes</FAX_V21_Detect_Enable_1_>
<Echo_Canc_Enable_1_>No</Echo_Canc_Enable_1_>
<FAX_CNG_Detect_Enable_1_>Yes</FAX_CNG_Detect_Enable_1_>
<FAX_Passthru_Codec_1_>G711u</FAX_Passthru_Codec_1_>
<FAX_Codec_Symmetric_1_>Yes</FAX_Codec_Symmetric_1_>
<DTMF_Process_INFO_1_>Yes</DTMF_Process_INFO_1_>
<FAX_Passthru_Method_1_>NSE</FAX_Passthru_Method_1_>
<DTMF_Process_AVT_1_>Yes</DTMF_Process_AVT_1_>
<FAX_Process_NSE_1_>Yes</FAX_Process_NSE_1_>
<DTMF_Tx_Method_1_>Auto</DTMF_Tx_Method_1_>
<FAX_Disable_ECAN_1_>Yes</FAX_Disable_ECAN_1_>
<DTMF_Tx_Mode_1_>Strict</DTMF_Tx_Mode_1_>
<DTMF_Tx_Strict_Hold_Off_Time_1_>70</DTMF_Tx_Strict_Hold_Off_Time_1_>
<FAX_Enable_T38_1_>Yes</FAX_Enable_T38_1_>
<Hook_Flash_Tx_Method_1_>None</Hook_Flash_Tx_Method_1_>
<FAX_T38_Redundancy_1_>1</FAX_T38_Redundancy_1_>
<FAX_T38_ECM_Enable_1_>Yes</FAX_T38_ECM_Enable_1_>
<FAX_Tone_Detect_Mode_1_>caller or callee</FAX_Tone_Detect_Mode_1_>
<Symmetric_RTP_1_>No</Symmetric_RTP_1_>
<FAX_T38_Return_to_Voice_1_>No</FAX_T38_Return_to_Voice_1_>
<Dial_Plan_1_>(*xx|[3469]11|0|00|[2-9]xxxxxx|1xxx[2-9]xxxxxxS0|xxxxxxxxxxxx.)</Dial_Plan_1_>
<Idle_Polarity_1_>Forward</Idle_Polarity_1_>
<Caller_Conn_Polarity_1_>Forward</Caller_Conn_Polarity_1_>
<Callee_Conn_Polarity_1_>Forward</Callee_Conn_Polarity_1_>
<Line_Enable_2_>Yes</Line_Enable_2_>
<SAS_Enable_2_>No</SAS_Enable_2_>
<SAS_DLG_Refresh_Intvl_2_>30</SAS_DLG_Refresh_Intvl_2_>
<SAS_Inbound_RTP_Sink_2_></SAS_Inbound_RTP_Sink_2_>
<NAT_Mapping_Enable_2_>No</NAT_Mapping_Enable_2_>
<NAT_Keep_Alive_Enable_2_>No</NAT_Keep_Alive_Enable_2_>
<NAT_Keep_Alive_Msg_2_>$NOTIFY</NAT_Keep_Alive_Msg_2_>
<NAT_Keep_Alive_Dest_2_>$PROXY</NAT_Keep_Alive_Dest_2_>
<SIP_ToS_DiffServ_Value_2_>0x68</SIP_ToS_DiffServ_Value_2_>
<SIP_CoS_Value_2_>3</SIP_CoS_Value_2_>
<RTP_ToS_DiffServ_Value_2_>0xb8</RTP_ToS_DiffServ_Value_2_>
<RTP_CoS_Value_2_>6</RTP_CoS_Value_2_>
<Network_Jitter_Level_2_>high</Network_Jitter_Level_2_>
<Jitter_Buffer_Adjustment_2_>Yes</Jitter_Buffer_Adjustment_2_>
<SIP_Transport_2_>UDP</SIP_Transport_2_>
<SIP_Port_2_>5061</SIP_Port_2_>
<SIP_100REL_Enable_2_>No</SIP_100REL_Enable_2_>
<EXT_SIP_Port_2_></EXT_SIP_Port_2_>
<Auth_Resync-Reboot_2_>Yes</Auth_Resync-Reboot_2_>
<SIP_Proxy-Require_2_></SIP_Proxy-Require_2_>
<SIP_Remote-Party-ID_2_>Yes</SIP_Remote-Party-ID_2_>
<SIP_GUID_2_>No</SIP_GUID_2_>
<SIP_Debug_Option_2_>none</SIP_Debug_Option_2_>
<RTP_Log_Intvl_2_>0</RTP_Log_Intvl_2_>
<Restrict_Source_IP_2_>No</Restrict_Source_IP_2_>
<Referor_Bye_Delay_2_>4</Referor_Bye_Delay_2_>
<Refer_Target_Bye_Delay_2_>0</Refer_Target_Bye_Delay_2_>
<Referee_Bye_Delay_2_>0</Referee_Bye_Delay_2_>
<Refer-To_Target_Contact_2_>No</Refer-To_Target_Contact_2_>
<Sticky_183_2_>No</Sticky_183_2_>
<Auth_INVITE_2_>No</Auth_INVITE_2_>
<Reply_182_On_Call_Waiting_2_>No</Reply_182_On_Call_Waiting_2_>
<Use_Anonymous_With_RPID_2_>Yes</Use_Anonymous_With_RPID_2_>
<Use_Local_Addr_In_FROM_2_>No</Use_Local_Addr_In_FROM_2_>
<Blind_Attn-Xfer_Enable_2_>No</Blind_Attn-Xfer_Enable_2_>
<MOH_Server_2_></MOH_Server_2_>
<Xfer_When_Hangup_Conf_2_>Yes</Xfer_When_Hangup_Conf_2_>
<Conference_Bridge_URL_2_></Conference_Bridge_URL_2_>
<Conference_Bridge_Ports_2_>3</Conference_Bridge_Ports_2_>
<Enable_IP_Dialing_2_>No</Enable_IP_Dialing_2_>
<Emergency_Number_2_></Emergency_Number_2_>
<Mailbox_ID_2_></Mailbox_ID_2_>
<Proxy_2_>voice.wfgmillington.ca</Proxy_2_>
<Outbound_Proxy_2_></Outbound_Proxy_2_>
<Use_Outbound_Proxy_2_>No</Use_Outbound_Proxy_2_>
<Use_OB_Proxy_In_Dialog_2_>No</Use_OB_Proxy_In_Dialog_2_>
<Register_2_>Yes</Register_2_>
<Make_Call_Without_Reg_2_>No</Make_Call_Without_Reg_2_>
<Register_Expires_2_>3600</Register_Expires_2_>
<Ans_Call_Without_Reg_2_>No</Ans_Call_Without_Reg_2_>
<Use_DNS_SRV_2_>No</Use_DNS_SRV_2_>
<DNS_SRV_Auto_Prefix_2_>No</DNS_SRV_Auto_Prefix_2_>
<Proxy_Fallback_Intvl_2_>3600</Proxy_Fallback_Intvl_2_>
<Proxy_Redundancy_Method_2_>Normal</Proxy_Redundancy_Method_2_>
<Mailbox_Subscribe_URL_2_></Mailbox_Subscribe_URL_2_>
<Mailbox_Subscribe_Expires_2_>2147483647</Mailbox_Subscribe_Expires_2_>
<Display_Name_2_>(301) WFG Cordless</Display_Name_2_>
<User_ID_2_>301</User_ID_2_>
<!-- <Password_2_></Password_2_> -->
<Use_Auth_ID_2_>No</Use_Auth_ID_2_>
<Auth_ID_2_></Auth_ID_2_>
<Resident_Online_Number_2_></Resident_Online_Number_2_>
<SIP_URI_2_></SIP_URI_2_>
<Call_Waiting_Serv_2_>Yes</Call_Waiting_Serv_2_>
<Block_CID_Serv_2_>Yes</Block_CID_Serv_2_>
<Block_ANC_Serv_2_>Yes</Block_ANC_Serv_2_>
<Dist_Ring_Serv_2_>Yes</Dist_Ring_Serv_2_>
<Cfwd_All_Serv_2_>Yes</Cfwd_All_Serv_2_>
<Cfwd_Busy_Serv_2_>Yes</Cfwd_Busy_Serv_2_>
<Cfwd_No_Ans_Serv_2_>Yes</Cfwd_No_Ans_Serv_2_>
<Cfwd_Sel_Serv_2_>Yes</Cfwd_Sel_Serv_2_>
<Cfwd_Last_Serv_2_>Yes</Cfwd_Last_Serv_2_>
<Block_Last_Serv_2_>Yes</Block_Last_Serv_2_>
<Accept_Last_Serv_2_>Yes</Accept_Last_Serv_2_>
<DND_Serv_2_>Yes</DND_Serv_2_>
<CID_Serv_2_>Yes</CID_Serv_2_>
<CWCID_Serv_2_>Yes</CWCID_Serv_2_>
<Call_Return_Serv_2_>Yes</Call_Return_Serv_2_>
<Call_Redial_Serv_2_>Yes</Call_Redial_Serv_2_>
<Call_Back_Serv_2_>Yes</Call_Back_Serv_2_>
<Three_Way_Call_Serv_2_>Yes</Three_Way_Call_Serv_2_>
<Three_Way_Conf_Serv_2_>Yes</Three_Way_Conf_Serv_2_>
<Attn_Transfer_Serv_2_>Yes</Attn_Transfer_Serv_2_>
<Unattn_Transfer_Serv_2_>Yes</Unattn_Transfer_Serv_2_>
<MWI_Serv_2_>Yes</MWI_Serv_2_>
<VMWI_Serv_2_>Yes</VMWI_Serv_2_>
<Speed_Dial_Serv_2_>Yes</Speed_Dial_Serv_2_>
<Secure_Call_Serv_2_>Yes</Secure_Call_Serv_2_>
<Referral_Serv_2_>Yes</Referral_Serv_2_>
<Feature_Dial_Serv_2_>Yes</Feature_Dial_Serv_2_>
<Service_Announcement_Serv_2_>No</Service_Announcement_Serv_2_>
<Reuse_CID_Number_As_Name_2_>Yes</Reuse_CID_Number_As_Name_2_>
<Preferred_Codec_2_>G711u</Preferred_Codec_2_>
<Second_Preferred_Codec_2_>Unspecified</Second_Preferred_Codec_2_>
<Third_Preferred_Codec_2_>Unspecified</Third_Preferred_Codec_2_>
<Use_Pref_Codec_Only_2_>Yes</Use_Pref_Codec_Only_2_>
<Use_Remote_Pref_Codec_2_>No</Use_Remote_Pref_Codec_2_>
<Codec_Negotiation_2_>Default</Codec_Negotiation_2_>
<G729a_Enable_2_>Yes</G729a_Enable_2_>
<Silence_Supp_Enable_2_>No</Silence_Supp_Enable_2_>
<G726-32_Enable_2_>Yes</G726-32_Enable_2_>
<Silence_Threshold_2_>medium</Silence_Threshold_2_>
<FAX_V21_Detect_Enable_2_>Yes</FAX_V21_Detect_Enable_2_>
<Echo_Canc_Enable_2_>Yes</Echo_Canc_Enable_2_>
<FAX_CNG_Detect_Enable_2_>Yes</FAX_CNG_Detect_Enable_2_>
<FAX_Passthru_Codec_2_>G711u</FAX_Passthru_Codec_2_>
<FAX_Codec_Symmetric_2_>Yes</FAX_Codec_Symmetric_2_>
<DTMF_Process_INFO_2_>Yes</DTMF_Process_INFO_2_>
<FAX_Passthru_Method_2_>NSE</FAX_Passthru_Method_2_>
<DTMF_Process_AVT_2_>Yes</DTMF_Process_AVT_2_>
<FAX_Process_NSE_2_>Yes</FAX_Process_NSE_2_>
<DTMF_Tx_Method_2_>Auto</DTMF_Tx_Method_2_>
<FAX_Disable_ECAN_2_>No</FAX_Disable_ECAN_2_>
<DTMF_Tx_Mode_2_>Strict</DTMF_Tx_Mode_2_>
<DTMF_Tx_Strict_Hold_Off_Time_2_>70</DTMF_Tx_Strict_Hold_Off_Time_2_>
<FAX_Enable_T38_2_>No</FAX_Enable_T38_2_>
<Hook_Flash_Tx_Method_2_>None</Hook_Flash_Tx_Method_2_>
<FAX_T38_Redundancy_2_>1</FAX_T38_Redundancy_2_>
<FAX_T38_ECM_Enable_2_>Yes</FAX_T38_ECM_Enable_2_>
<FAX_Tone_Detect_Mode_2_>caller or callee</FAX_Tone_Detect_Mode_2_>
<Symmetric_RTP_2_>No</Symmetric_RTP_2_>
<FAX_T38_Return_to_Voice_2_>No</FAX_T38_Return_to_Voice_2_>
<Dial_Plan_2_>(*xx|[3469]11|0|00|[2-9]xxxxxx|1xxx[2-9]xxxxxxS0|xxxxxxxxxxxx.)</Dial_Plan_2_>
<Idle_Polarity_2_>Forward</Idle_Polarity_2_>
<Caller_Conn_Polarity_2_>Forward</Caller_Conn_Polarity_2_>
<Callee_Conn_Polarity_2_>Forward</Callee_Conn_Polarity_2_>
<Cfwd_All_Dest_1_></Cfwd_All_Dest_1_>
<Cfwd_Busy_Dest_1_></Cfwd_Busy_Dest_1_>
<Cfwd_No_Ans_Dest_1_></Cfwd_No_Ans_Dest_1_>
<Cfwd_No_Ans_Delay_1_>20</Cfwd_No_Ans_Delay_1_>
<Cfwd_Sel1_Caller_1_></Cfwd_Sel1_Caller_1_>
<Cfwd_Sel1_Dest_1_></Cfwd_Sel1_Dest_1_>
<Cfwd_Sel2_Caller_1_></Cfwd_Sel2_Caller_1_>
<Cfwd_Sel2_Dest_1_></Cfwd_Sel2_Dest_1_>
<Cfwd_Sel3_Caller_1_></Cfwd_Sel3_Caller_1_>
<Cfwd_Sel3_Dest_1_></Cfwd_Sel3_Dest_1_>
<Cfwd_Sel4_Caller_1_></Cfwd_Sel4_Caller_1_>
<Cfwd_Sel4_Dest_1_></Cfwd_Sel4_Dest_1_>
<Cfwd_Sel5_Caller_1_></Cfwd_Sel5_Caller_1_>
<Cfwd_Sel5_Dest_1_></Cfwd_Sel5_Dest_1_>
<Cfwd_Sel6_Caller_1_></Cfwd_Sel6_Caller_1_>
<Cfwd_Sel6_Dest_1_></Cfwd_Sel6_Dest_1_>
<Cfwd_Sel7_Caller_1_></Cfwd_Sel7_Caller_1_>
<Cfwd_Sel7_Dest_1_></Cfwd_Sel7_Dest_1_>
<Cfwd_Sel8_Caller_1_></Cfwd_Sel8_Caller_1_>
<Cfwd_Sel8_Dest_1_></Cfwd_Sel8_Dest_1_>
<Cfwd_Last_Caller_1_></Cfwd_Last_Caller_1_>
<Cfwd_Last_Dest_1_></Cfwd_Last_Dest_1_>
<Block_Last_Caller_1_></Block_Last_Caller_1_>
<Accept_Last_Caller_1_></Accept_Last_Caller_1_>
<Speed_Dial_2_1_></Speed_Dial_2_1_>
<Speed_Dial_3_1_></Speed_Dial_3_1_>
<Speed_Dial_4_1_></Speed_Dial_4_1_>
<Speed_Dial_5_1_></Speed_Dial_5_1_>
<Speed_Dial_6_1_></Speed_Dial_6_1_>
<Speed_Dial_7_1_></Speed_Dial_7_1_>
<Speed_Dial_8_1_></Speed_Dial_8_1_>
<Speed_Dial_9_1_></Speed_Dial_9_1_>
<CW_Setting_1_>Yes</CW_Setting_1_>
<Block_CID_Setting_1_>No</Block_CID_Setting_1_>
<Block_ANC_Setting_1_>No</Block_ANC_Setting_1_>
<DND_Setting_1_>No/DND_Setting_1_>
<CID_Setting_1_>Yes</CID_Setting_1_>
<CWCID_Setting_1_>Yes</CWCID_Setting_1_>
<Dist_Ring_Setting_1_>Yes</Dist_Ring_Setting_1_>
<Secure_Call_Setting_1_>No</Secure_Call_Setting_1_>
<Message_Waiting_1_>No</Message_Waiting_1_>
<Accept_Media_Loopback_Request_1_>automatic</Accept_Media_Loopback_Request_1_>
<Media_Loopback_Mode_1_>source</Media_Loopback_Mode_1_>
<Media_Loopback_Type_1_>media</Media_Loopback_Type_1_>
<Ring1_Caller_1_></Ring1_Caller_1_>
<Ring2_Caller_1_></Ring2_Caller_1_>
<Ring3_Caller_1_></Ring3_Caller_1_>
<Ring4_Caller_1_></Ring4_Caller_1_>
<Ring5_Caller_1_></Ring5_Caller_1_>
<Ring6_Caller_1_></Ring6_Caller_1_>
<Ring7_Caller_1_></Ring7_Caller_1_>
<Ring8_Caller_1_></Ring8_Caller_1_>
<Default_Ring_1_>1</Default_Ring_1_>
<Default_CWT_1_>1</Default_CWT_1_>
<Hold_Reminder_Ring_1_>8</Hold_Reminder_Ring_1_>
<Call_Back_Ring_1_>7</Call_Back_Ring_1_>
<Cfwd_Ring_Splash_Len_1_>0</Cfwd_Ring_Splash_Len_1_>
<Cblk_Ring_Splash_Len_1_>0</Cblk_Ring_Splash_Len_1_>
<VMWI_Ring_Policy_1_>New VM Available</VMWI_Ring_Policy_1_>
<VMWI_Ring_Splash_Len_1_>0</VMWI_Ring_Splash_Len_1_>
<Ring_On_No_New_VM_1_>No</Ring_On_No_New_VM_1_>
<Cfwd_All_Dest_2_></Cfwd_All_Dest_2_>
<Cfwd_Busy_Dest_2_></Cfwd_Busy_Dest_2_>
<Cfwd_No_Ans_Dest_2_></Cfwd_No_Ans_Dest_2_>
<Cfwd_No_Ans_Delay_2_>20</Cfwd_No_Ans_Delay_2_>
<Cfwd_Sel1_Caller_2_></Cfwd_Sel1_Caller_2_>
<Cfwd_Sel1_Dest_2_></Cfwd_Sel1_Dest_2_>
<Cfwd_Sel2_Caller_2_></Cfwd_Sel2_Caller_2_>
<Cfwd_Sel2_Dest_2_></Cfwd_Sel2_Dest_2_>
<Cfwd_Sel3_Caller_2_></Cfwd_Sel3_Caller_2_>
<Cfwd_Sel3_Dest_2_></Cfwd_Sel3_Dest_2_>
<Cfwd_Sel4_Caller_2_></Cfwd_Sel4_Caller_2_>
<Cfwd_Sel4_Dest_2_></Cfwd_Sel4_Dest_2_>
<Cfwd_Sel5_Caller_2_></Cfwd_Sel5_Caller_2_>
<Cfwd_Sel5_Dest_2_></Cfwd_Sel5_Dest_2_>
<Cfwd_Sel6_Caller_2_></Cfwd_Sel6_Caller_2_>
<Cfwd_Sel6_Dest_2_></Cfwd_Sel6_Dest_2_>
<Cfwd_Sel7_Caller_2_></Cfwd_Sel7_Caller_2_>
<Cfwd_Sel7_Dest_2_></Cfwd_Sel7_Dest_2_>
<Cfwd_Sel8_Caller_2_></Cfwd_Sel8_Caller_2_>
<Cfwd_Sel8_Dest_2_></Cfwd_Sel8_Dest_2_>
<Cfwd_Last_Caller_2_></Cfwd_Last_Caller_2_>
<Cfwd_Last_Dest_2_></Cfwd_Last_Dest_2_>
<Block_Last_Caller_2_></Block_Last_Caller_2_>
<Accept_Last_Caller_2_></Accept_Last_Caller_2_>
<Speed_Dial_2_2_></Speed_Dial_2_2_>
<Speed_Dial_3_2_></Speed_Dial_3_2_>
<Speed_Dial_4_2_></Speed_Dial_4_2_>
<Speed_Dial_5_2_></Speed_Dial_5_2_>
<Speed_Dial_6_2_></Speed_Dial_6_2_>
<Speed_Dial_7_2_></Speed_Dial_7_2_>
<Speed_Dial_8_2_></Speed_Dial_8_2_>
<Speed_Dial_9_2_></Speed_Dial_9_2_>
<CW_Setting_2_>Yes</CW_Setting_2_>
<Block_CID_Setting_2_>No</Block_CID_Setting_2_>
<Block_ANC_Setting_2_>No</Block_ANC_Setting_2_>
<DND_Setting_2_>No</DND_Setting_2_>
<CID_Setting_2_>Yes</CID_Setting_2_>
<CWCID_Setting_2_>Yes</CWCID_Setting_2_>
<Dist_Ring_Setting_2_>Yes</Dist_Ring_Setting_2_>
<Secure_Call_Setting_2_>No</Secure_Call_Setting_2_>
<Message_Waiting_2_>No</Message_Waiting_2_>
<Accept_Media_Loopback_Request_2_>automatic</Accept_Media_Loopback_Request_2_>
<Media_Loopback_Mode_2_>source</Media_Loopback_Mode_2_>
<Media_Loopback_Type_2_>media</Media_Loopback_Type_2_>
<Ring1_Caller_2_></Ring1_Caller_2_>
<Ring2_Caller_2_></Ring2_Caller_2_>
<Ring3_Caller_2_></Ring3_Caller_2_>
<Ring4_Caller_2_></Ring4_Caller_2_>
<Ring5_Caller_2_></Ring5_Caller_2_>
<Ring6_Caller_2_></Ring6_Caller_2_>
<Ring7_Caller_2_></Ring7_Caller_2_>
<Ring8_Caller_2_></Ring8_Caller_2_>
<Default_Ring_2_>1</Default_Ring_2_>
<Default_CWT_2_>1</Default_CWT_2_>
<Hold_Reminder_Ring_2_>8</Hold_Reminder_Ring_2_>
<Call_Back_Ring_2_>7</Call_Back_Ring_2_>
<Cfwd_Ring_Splash_Len_2_>0</Cfwd_Ring_Splash_Len_2_>
<Cblk_Ring_Splash_Len_2_>0</Cblk_Ring_Splash_Len_2_>
<VMWI_Ring_Policy_2_>New VM Available</VMWI_Ring_Policy_2_>
<VMWI_Ring_Splash_Len_2_>0</VMWI_Ring_Splash_Len_2_>
<Ring_On_No_New_VM_2_>No</Ring_On_No_New_VM_2_>
<Dial_Tone>350@-19,440@-19;10(*/0/1+2)</Dial_Tone>
<Second_Dial_Tone>420@-19,520@-19;10(*/0/1+2)</Second_Dial_Tone>
<Outside_Dial_Tone>420@-16;10(*/0/1)</Outside_Dial_Tone>
<Prompt_Tone>520@-19,620@-19;10(*/0/1+2)</Prompt_Tone>
<Busy_Tone>480@-19,620@-19;10(.5/.5/1+2)</Busy_Tone>
<Reorder_Tone>480@-19,620@-19;10(.25/.25/1+2)</Reorder_Tone>
<Off_Hook_Warning_Tone>480@-10,620@0;10(.125/.125/1+2)</Off_Hook_Warning_Tone>
<Ring_Back_Tone>440@-19,480@-19;*(2/4/1+2)</Ring_Back_Tone>
<Ring_Back_2_Tone>440@-19,480@-19;*(1/1/1+2)</Ring_Back_2_Tone>
<Confirm_Tone>600@-16;1(.25/.25/1)</Confirm_Tone>
<SIT1_Tone>985@-16,1428@-16,1777@-16;20(.380/0/1,.380/0/2,.380/0/3,0/4/0)</SIT1_Tone>
<SIT2_Tone>914@-16,1371@-16,1777@-16;20(.274/0/1,.274/0/2,.380/0/3,0/4/0)</SIT2_Tone>
<SIT3_Tone>914@-16,1371@-16,1777@-16;20(.380/0/1,.380/0/2,.380/0/3,0/4/0)</SIT3_Tone>
<SIT4_Tone>985@-16,1371@-16,1777@-16;20(.380/0/1,.274/0/2,.380/0/3,0/4/0)</SIT4_Tone>
<MWI_Dial_Tone>350@-19,440@-19;2(.1/.1/1+2);10(*/0/1+2)</MWI_Dial_Tone>
<Cfwd_Dial_Tone>350@-19,440@-19;2(.2/.2/1+2);10(*/0/1+2)</Cfwd_Dial_Tone>
<Holding_Tone>600@-19;*(.1/.1/1,.1/.1/1,.1/9.5/1)</Holding_Tone>
<Conference_Tone>350@-19;20(.1/.1/1,.1/9.7/1)</Conference_Tone>
<Secure_Call_Indication_Tone>397@-19,507@-19;15(0/2/0,.2/.1/1,.1/2.1/2)</Secure_Call_Indication_Tone>
<Feature_Invocation_Tone>350@-16;*(.1/.1/1)</Feature_Invocation_Tone>
<Ring1_Cadence>60(2/4)</Ring1_Cadence>
<Ring2_Cadence>60(.8/.4,.8/4)</Ring2_Cadence>
<Ring3_Cadence>60(.4/.2,.4/.2,.8/4)</Ring3_Cadence>
<Ring4_Cadence>60(.3/.2,1/.2,.3/4)</Ring4_Cadence>
<Ring5_Cadence>1(.5/.5)</Ring5_Cadence>
<Ring6_Cadence>60(.2/.4,.2/.4,.2/4)</Ring6_Cadence>
<Ring7_Cadence>60(.4/.2,.4/.2,.4/4)</Ring7_Cadence>
<Ring8_Cadence>60(0.25/9.75)</Ring8_Cadence>
<CWT1_Cadence>*(.3/9.7)</CWT1_Cadence>
<CWT2_Cadence>30(.1/.1, .1/9.7)</CWT2_Cadence>
<CWT3_Cadence>30(.1/.1, .1/.1, .1/9.7)</CWT3_Cadence>
<CWT4_Cadence>30(.1/.1,.3/.1,.1/9.3)</CWT4_Cadence>
<CWT5_Cadence>1(.5/.5)</CWT5_Cadence>
<CWT6_Cadence>30(.1/.1,.3/.2,.3/9.1)</CWT6_Cadence>
<CWT7_Cadence>30(.3/.1,.3/.1,.1/9.1)</CWT7_Cadence>
<CWT8_Cadence>2.3(.3/2)</CWT8_Cadence>
<Ring1_Name>Bellcore-r1</Ring1_Name>
<Ring2_Name>Bellcore-r2</Ring2_Name>
<Ring3_Name>Bellcore-r3</Ring3_Name>
<Ring4_Name>Bellcore-r4</Ring4_Name>
<Ring5_Name>Bellcore-r5</Ring5_Name>
<Ring6_Name>Bellcore-r6</Ring6_Name>
<Ring7_Name>Bellcore-r7</Ring7_Name>
<Ring8_Name>Bellcore-r8</Ring8_Name>
<Ring_Waveform>Trapezoid</Ring_Waveform>
<Ring_Frequency>20</Ring_Frequency>
<Ring_Voltage>85</Ring_Voltage>
<CWT_Frequency>440@-10</CWT_Frequency>
<Synchronized_Ring>No</Synchronized_Ring>
<Hook_Flash_Timer_Min>.1</Hook_Flash_Timer_Min>
<Hook_Flash_Timer_Max>.9</Hook_Flash_Timer_Max>
<Callee_On_Hook_Delay>0</Callee_On_Hook_Delay>
<Reorder_Delay>5</Reorder_Delay>
<Call_Back_Expires>1800</Call_Back_Expires>
<Call_Back_Retry_Intvl>30</Call_Back_Retry_Intvl>
<Call_Back_Delay>.5</Call_Back_Delay>
<VMWI_Refresh_Intvl>0</VMWI_Refresh_Intvl>
<Interdigit_Long_Timer>10</Interdigit_Long_Timer>
<Interdigit_Short_Timer>3</Interdigit_Short_Timer>
<CPC_Delay>2</CPC_Delay>
<CPC_Duration>.5</CPC_Duration>
<Call_Return_Code>*69</Call_Return_Code>
<Call_Redial_Code>*07</Call_Redial_Code>
<Blind_Transfer_Code>*98</Blind_Transfer_Code>
<Call_Back_Act_Code>*66</Call_Back_Act_Code>
<Call_Back_Deact_Code>*86</Call_Back_Deact_Code>
<Call_Back_Busy_Act_Code>*05</Call_Back_Busy_Act_Code>
<Cfwd_All_Act_Code>*72</Cfwd_All_Act_Code>
<Cfwd_All_Deact_Code>*73</Cfwd_All_Deact_Code>
<Cfwd_Busy_Act_Code>*90</Cfwd_Busy_Act_Code>
<Cfwd_Busy_Deact_Code>*91</Cfwd_Busy_Deact_Code>
<Cfwd_No_Ans_Act_Code>*92</Cfwd_No_Ans_Act_Code>
<Cfwd_No_Ans_Deact_Code>*93</Cfwd_No_Ans_Deact_Code>
<Cfwd_Last_Act_Code>*63</Cfwd_Last_Act_Code>
<Cfwd_Last_Deact_Code>*83</Cfwd_Last_Deact_Code>
<Block_Last_Act_Code>*60</Block_Last_Act_Code>
<Block_Last_Deact_Code>*80</Block_Last_Deact_Code>
<Accept_Last_Act_Code>*64</Accept_Last_Act_Code>
<Accept_Last_Deact_Code>*84</Accept_Last_Deact_Code>
<CW_Act_Code>*56</CW_Act_Code>
<CW_Deact_Code>*57</CW_Deact_Code>
<CW_Per_Call_Act_Code>*71</CW_Per_Call_Act_Code>
<CW_Per_Call_Deact_Code>*70</CW_Per_Call_Deact_Code>
<Block_CID_Act_Code>*67</Block_CID_Act_Code>
<Block_CID_Deact_Code>*68</Block_CID_Deact_Code>
<Block_CID_Per_Call_Act_Code>*81</Block_CID_Per_Call_Act_Code>
<Block_CID_Per_Call_Deact_Code>*82</Block_CID_Per_Call_Deact_Code>
<Block_ANC_Act_Code>*77</Block_ANC_Act_Code>
<Block_ANC_Deact_Code>*87</Block_ANC_Deact_Code>
<DND_Act_Code>*78</DND_Act_Code>
<DND_Deact_Code>*79</DND_Deact_Code>
<CID_Act_Code>*65</CID_Act_Code>
<CID_Deact_Code>*85</CID_Deact_Code>
<CWCID_Act_Code>*25</CWCID_Act_Code>
<CWCID_Deact_Code>*45</CWCID_Deact_Code>
<Dist_Ring_Act_Code>*26</Dist_Ring_Act_Code>
<Dist_Ring_Deact_Code>*46</Dist_Ring_Deact_Code>
<Speed_Dial_Act_Code>*74</Speed_Dial_Act_Code>
<Paging_Code>*96</Paging_Code>
<Secure_All_Call_Act_Code>*16</Secure_All_Call_Act_Code>
<Secure_No_Call_Act_Code>*17</Secure_No_Call_Act_Code>
<Secure_One_Call_Act_Code>*18</Secure_One_Call_Act_Code>
<Secure_One_Call_Deact_Code>*19</Secure_One_Call_Deact_Code>
<Conference_Act_Code></Conference_Act_Code>
<Attn-Xfer_Act_Code></Attn-Xfer_Act_Code>
<Modem_Line_Toggle_Code>*99</Modem_Line_Toggle_Code>
<FAX_Line_Toggle_Code>#99</FAX_Line_Toggle_Code>
<Media_Loopback_Code>*03</Media_Loopback_Code>
<Referral_Services_Codes></Referral_Services_Codes>
<Feature_Dial_Services_Codes></Feature_Dial_Services_Codes>
<Service_Annc_Base_Number></Service_Annc_Base_Number>
<Service_Annc_Extension_Codes></Service_Annc_Extension_Codes>
<Prefer_G711u_Code>*017110</Prefer_G711u_Code>
<Force_G711u_Code>*027110</Force_G711u_Code>
<Prefer_G711a_Code>*017111</Prefer_G711a_Code>
<Force_G711a_Code>*027111</Force_G711a_Code>
<Prefer_G726r32_Code>*0172632</Prefer_G726r32_Code>
<Force_G726r32_Code>*0272632</Force_G726r32_Code>
<Prefer_G729a_Code>*01729</Prefer_G729a_Code>
<Force_G729a_Code>*02729</Force_G729a_Code>
<FXS_Port_Impedance>600</FXS_Port_Impedance>
<FXS_Port_Input_Gain>-3</FXS_Port_Input_Gain>
<FXS_Port_Output_Gain>-3</FXS_Port_Output_Gain>
<DTMF_Playback_Level>-16</DTMF_Playback_Level>
<DTMF_Playback_Length>.1</DTMF_Playback_Length>
<Detect_ABCD>Yes</Detect_ABCD>
<Playback_ABCD>Yes</Playback_ABCD>
<Caller_ID_Method>Bellcore(N.Amer,China)</Caller_ID_Method>
<Caller_ID_FSK_Standard>bell 202</Caller_ID_FSK_Standard>
<Feature_Invocation_Method>Default</Feature_Invocation_Method>
<Protect_IVR_FactoryReset>No</Protect_IVR_FactoryReset>
<Max_Session>2</Max_Session>
<router-configuration>
<WAN_Interface>
<WAN_Connection_Type>dh</WAN_Connection_Type> <!-- options: dh/st/pp -->
<WAN_DHCP_MTU_Mode>0</WAN_DHCP_MTU_Mode>
<WAN_DHCP_MTU_Size>0</WAN_DHCP_MTU_Size>
<WAN_Static_IP_NET>0.0.0.0:0.0.0.0:0.0.0.0</WAN_Static_IP_NET>
<WAN_Static_MTU_Mode>0</WAN_Static_MTU_Mode>
<WAN_Static_MTU_Size>0</WAN_Static_MTU_Size>
<WAN_PPPoE_User_Name></WAN_PPPoE_User_Name>
<!-- <WAN_PPPoE_Password></WAN_PPPoE_Password> -->
<WAN_PPPoE_Service_Name></WAN_PPPoE_Service_Name>
<WAN_PPPoE_Keep_Alive>0:5:30</WAN_PPPoE_Keep_Alive>
<WAN_PPPoE_MTU_Mode>0</WAN_PPPoE_MTU_Mode>
<WAN_PPPoE_MTU_Size>0</WAN_PPPoE_MTU_Size>
</WAN_Interface>
<PHY_Port_Setting>
<Flow_Control>1</Flow_Control>
<Speed_Duplex>auto</Speed_Duplex> <!-- options: auto/10h/10f/100h/100f -->
</PHY_Port_Setting>
<MAC_Address_Clone>
<MAC_Address_Clone_Enabled>0</MAC_Address_Clone_Enabled>
<MAC_Address_Clone_Address></MAC_Address_Clone_Address>
</MAC_Address_Clone>
<Internet_Option>
<Host_Name>SPA112</Host_Name>
<Domain_Name></Domain_Name>
<DNS_Order>2</DNS_Order> <!-- options: 0:Manual, 1:Manual-DHCP, 2:DHCP-Manual -->
<DNS></DNS>
</Internet_Option>
<DHCP_Server_Pool>
<Rule>
<DHCP_Server>1</DHCP_Server>
<Local_IP>192.168.16.1</Local_IP>
<Subnet_Mask>255.255.255.0</Subnet_Mask> <!-- options: 255.255.255.0/128/192/224/240/248/252 -->
<DHCP_Client_Table></DHCP_Client_Table>
<Option_66>0</Option_66> <!-- options: 0:None, 2:Remote TFTP Server, 3:Manual TFTP Server -->
<TFTP_IP>0.0.0.0</TFTP_IP>
<Option_67></Option_67>
<Option_159></Option_159>
<Option_160></Option_160>
<DNS_Proxy>1</DNS_Proxy>
<Starting_IP>192.168.16.100</Starting_IP>
<Max_DHCP_User>50</Max_DHCP_User>
<Client_Lease_Time>0</Client_Lease_Time>
<Static_DNS>0.0.0.0</Static_DNS>
<Default_Gateway>192.168.16.1</Default_Gateway>
</Rule>
</DHCP_Server_Pool>
<WAN_VLAN_Setting>
<WAN_VLAN_Enable>0</WAN_VLAN_Enable>
<WAN_VALN_ID>1</WAN_VALN_ID>
</WAN_VLAN_Setting>
<CLDP_Setting>
<CDP_ENABLE>1</CDP_ENABLE>
<LLDP_ENABLE>1</LLDP_ENABLE>
<LAYER2_LOGGING_ENABLE>0</LAYER2_LOGGING_ENABLE>
</CLDP_Setting>
<SNMP>
<SNMP_Enabled>0</SNMP_Enabled>
<SNMP_Trusted_IP>0.0.0.0/0.0.0.0</SNMP_Trusted_IP>
<Get_Community>public</Get_Community>
<Set_Community>private</Set_Community>
<SNMPV3>0</SNMPV3>
<RW_User>v3rwuser</RW_User>
<Auth_Protocol>MD5</Auth_Protocol> <!-- options: MD5/SHA -->
<Auth_Password>1111111111</Auth_Password>
<Privacy_Protocol>DES</Privacy_Protocol> <!-- options: None/DES -->
<Privacy_Password>1111111111</Privacy_Password>
<TRAP_IP_Address>192.168.15.100</TRAP_IP_Address>
<TRAP_Port>162</TRAP_Port>
<TRAP_SNMP_Version>v1</TRAP_SNMP_Version> <!-- options: v1/v2c/v3 -->
</SNMP>
<Time_Setup>
<Time_Zone>-07 2 1</Time_Zone>
<Auto_Adjust_Clock>1</Auto_Adjust_Clock>
<Time_Server_Mode>auto</Time_Server_Mode> <!-- options: auto/manual -->
<Time_Server>0.ciscosb.pool.ntp.org</Time_Server>
<Resync_Timer>3600</Resync_Timer>
<Auto_Recovery_System_Time>0</Auto_Recovery_System_Time>
<Time_Mode>1</Time_Mode> <!-- options: 0:Manual, 1:Auto -->
</Time_Setup>
<QoS_Bandwidth_Control>
<WAN>
<QoS_Always_ON>0</QoS_Always_ON>
<Upstream_Bandwidth>10000</Upstream_Bandwidth>
</WAN>
</QoS_Bandwidth_Control>
<Software_DMZ>
<Rule1>
<Status>0</Status>
<Private_IP>0.0.0.0</Private_IP>
</Rule1>
<Rule_Number>1</Rule_Number>
</Software_DMZ>
<Bonjour_Enable>1</Bonjour_Enable>
<Reset_Button_Enable>1</Reset_Button_Enable>
<Router_Mode>0</Router_Mode>
<VPN_Passthrough>
<IPSec_Passthrough>1</IPSec_Passthrough>
<PPTP_Passthrough>1</PPTP_Passthrough>
<L2TP_Passthrough>1</L2TP_Passthrough>
</VPN_Passthrough>
<Web_Management>
<Web_Utility_Access_HTTP>1</Web_Utility_Access_HTTP>
<Web_Utility_Access_HTTPS>0</Web_Utility_Access_HTTPS>
<Web_Remote_Management>1</Web_Remote_Management>
<Remote_Web_Utility_Access>0</Remote_Web_Utility_Access>
<Web_Remote_Upgrade>1</Web_Remote_Upgrade>
<Allowed_Remote_IP_Type>1</Allowed_Remote_IP_Type>
<Allowed_Remote_IP_Address>0.0.0.0 0</Allowed_Remote_IP_Address>
<Remote_Management_Port>80</Remote_Management_Port>
</Web_Management>
<TR_069>
<TR_069_Status>0</TR_069_Status>
<TR_069_ACS_URL></TR_069_ACS_URL>
<TR_069_ACS_Username></TR_069_ACS_Username>
<!-- <TR_069_ACS_Password></TR_069_ACS_Password> -->
<TR_069_Connection_Request_URL></TR_069_Connection_Request_URL>
<TR_069_Connection_Request_Username></TR_069_Connection_Request_Username>
<!-- <TR_069_Connection_Request_Password></TR_069_Connection_Request_Password> -->
<TR_069_Periodic_Inform_Interval>86400</TR_069_Periodic_Inform_Interval>
<TR_069_Periodic_Inform_Enable>1</TR_069_Periodic_Inform_Enable>
<TR_069_Loopback_Binding>0</TR_069_Loopback_Binding>
</TR_069>
<Log_Configuration>
<Status>0</Status>
<RAM_Log_Size>200</RAM_Log_Size>
<Syslog_Server_IP></Syslog_Server_IP>
<Syslog_Server_Port>514</Syslog_Server_Port>
<MAIL_Sender></MAIL_Sender>
<MAIL_Receiver></MAIL_Receiver>
<MAIL_Subject></MAIL_Subject>
<MAIL_Smtp_Server></MAIL_Smtp_Server>
<MAIL_Smtp_Port>25</MAIL_Smtp_Port>
<MAIL_Log_Count>100</MAIL_Log_Count>
<MAIL_Interval>60</MAIL_Interval>
<MAIL_Smtp_User></MAIL_Smtp_User>
<!-- <MAIL_Smtp_Passwd></MAIL_Smtp_Passwd> -->
<KERNEL>
<Enable>0</Enable>
<Priority>3</Priority>
<RAM>0</RAM>
<Syslog>0</Syslog>
<MAIL>0</MAIL>
</KERNEL>
<System>
<Enable>0</Enable>
<Priority>3</Priority>
<RAM>0</RAM>
<Syslog>0</Syslog>
<MAIL>0</MAIL>
</System>
</Log_Configuration>
<Web_Login_Admin_Name>admin</Web_Login_Admin_Name>
<!-- <Web_Login_Admin_Password></Web_Login_Admin_Password> -->
<Web_Login_Guest_Name>cisco</Web_Login_Guest_Name>
<!-- <Web_Login_Guest_Password></Web_Login_Guest_Password> -->
<Firmware_Version>1.2.1</Firmware_Version>
<Firmware_Build_Version>004</Firmware_Build_Version>
<System_Model_Number>SPA112</System_Model_Number>
<About_Product>
<Firmware_Version>1.2.1 (004)</Firmware_Version>
<Model>SPA112, 2 FXS</Model>
<Product_ID>SPA112</Product_ID>
<Version_ID>V02</Version_ID>
<Serial_Number>CCQ1626054O</Serial_Number>
</About_Product>
</router-configuration>
</flat-profile>