{% extends _layout %}
{% import "macros.twig" as macro %}
{% block content %}
<div class="grid_12">
  <form method="post" accept-charset="utf-8" action="{{ form_post_url }}" class="default">
    <h3>Phones are hard devices that may or may not be automatically provisioned.  These are endpoints.</h3>
    {% if pagination is defined %}
    {{ pagination }}
    {% endif %}
    <table>
      <tfoot>
		<td colspan="3"></td>
      </tfoot>
      {{ macro.table_header(current_url, fields, sort_by, sort_order, offset) }}
      <tbody>
      {% for row in rows %}
      <tr>
        <td>{{ row.country }}</td>
        <td>{{ row.alpha2 }}</td>
        <td>{{ row.numeric }}</td>
      </tr>
      {% endfor %}
      </tbody>
      
    </table>
    {% if pagination is defined %}
    {{ pagination }}
    {% endif %}
  </form>
</div>
{% endblock%}