.container_12, .container_16, .container_24 {
	background-color: #fff;
	background-repeat: repeat-y;
	margin-bottom: 20px;
}
.container_12 {
/*  For troubleshooting gutter and alignment issues */
/*  background-image: url(../img/12_col.gif); */
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,  caption, button {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 12px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	line-height: 1;
	background: #DDD;
	color: #333;
	height: auto;
	padding-bottom: 20px;
	font: 12px Georgia, serif;
	color: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* =Clear Floated Elements
--------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

html body * span.clear, html body * div.clear, html body * li.clear, html body * dd.clear {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
/* http://www.positioniseverything.net/easyclearing.html */

.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}
* html .clearfix {
	height: 1%;
}


/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2011 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Mark Simonson Studio
 * License URL: http://www.fontspring.com/fflicense/mark-simonson-studio
 *
 */

@font-face {
 font-family: 'ProximaNovaBold';
 src: url('/static/fonts/proximanova_bold_macroman/ProximaNova-Bold-webfont.eot');
 src: url('/static/fonts/proximanova_bold_macroman/ProximaNova-Bold-webfont.eot?iefix') format('eot'),  url('/static/fonts/proximanova_bold_macroman/ProximaNova-Bold-webfont.woff') format('woff'),  url('/static/fonts/proximanova_bold_macroman/ProximaNova-Bold-webfont.ttf') format('truetype'),  url('/static/fonts/proximanova_bold_macroman/ProximaNova-Bold-webfont.svg#webfontgrewrCss') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'ProximaNovaSemibold';
 src: url('/static/fonts/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.eot');
 src: url('/static/fonts/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.eot?iefix') format('eot'),  url('/static/fonts/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.woff') format('woff'),  url('/static/fonts/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.ttf') format('truetype'),  url('/static/fonts/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.svg#webfont0AWgWg75') format('svg');
 font-weight: normal;
 font-style: normal;
}
/* End Web Fonts */

#debug_info {
	border: thin solid black;
	margin: 10px;
	overflow: auto;
	width: 90%;
	max-height: 640px;
}
p {
	line-height: 1.4em;
	margin-bottom: 1.6em;
}
dt {
	line-height: 2em;
	font-weight: bold;
}
h1 {
	background-color: black;
	font-family: ProximaNovaSemibold, sans-serif;
	font-size: 26px;
	text-transform: uppercase;
	padding: 37px 22px 19px 22px;
	color: #FEFEFF;
	margin-bottom: 4px;
}
h2 {
	font-size: 14px;
	background-color: black;
	font-family: ProximaNovaSemibold, sans-serif;
	color: #FEFEFF;
	padding: 10px 14px;
}
h3 {
	font-size: 14px;
}
.message h3 {
	background-color: #FFFF88;
	font-family: ProximaNovaSemibold, sans-serif;
	font-size: 14px;
	padding: 19px 22px 19px 22px;
	color: #555522;
	margin-bottom: 4px;
}
.popup h2, .help h2 {
	cursor: move;
}
.section h2 .button {
	float: right;
	margin: -6px 0 0 6px;
	padding: 6px;
	font-size: 10px;
	color: white;
	font-weight: 400;
}
.help {
	border-collapse: collapse;
	margin: 30px;
}
.help ul {
	list-style: square outside;
}
.help ol {
	list-style: decimal outside;
}
.help li {
	line-height: 1.4em;
	margin-left: 1em;
}
.help ol, .help ul {
	margin-bottom: 2em;
}
.help ol ul {
	margin-bottom: 0;
}
.section h2 .button.helplinkEdit {
	margin-right: 6px;
}
.helplink, a.helplink {
	float: right;
	font-size: 10px;
	color: #d8510f;
	font-family: ProximaNovaBold, sans-serif;
	font-weight: 400;
}
h1 .helplink {
	line-height: 26px;
}
hr {
	border: none;
	height: 0;
	border-bottom: 1px dotted black;
	margin: 0 0 20px 0;
}
img {
	border: none;
}
.code {
	font-family: monospace;
	padding: 1em;
	border: 1px solid #BAB2B0;
	white-space: pre;
	overflow: auto;
}
a {
	color: #006666;
}
a:link, a:visited, a:active {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.disabled_textarea {
	white-space: pre;
}
#csr {
	font-family: "Courier New", Courier, monospace;
	white-space: pre;
}
#content, #header, #footer, #bulkDialogContainer {
	vertical-align: top;
	margin: 0 auto;
}
#footer {
	margin-bottom: 4em;
}
a.button {
	line-height: 13px;
	color: white;
}
a.button:hover {
	text-decoration: none;
}
/*
global header styles
START
*/

#backlink {
	float: left;
}
#logoutBar {
	float: right;
	text-align: right;
	padding: 15px;
	border: 1px solid silver;
	-webkit-box-shadow: 4px 4px 6px #ECECEC;
	box-shadow: 4px 4px 6px #ECECEC;
}
#logout {
	display: inline-block;
}
#logoutBulkSummary {
	border-top: 1px solid silver;
	margin-top: 10px;
	padding-top: 10px;
}
#logoutBulkSummary.collapsed {
	display: none;
}
#secondary-menu {
	width: 100%;
	text-align: right;
	border-bottom: 1px dotted black;
	font-family: ProximaNovaSemibold, sans-serif;
	padding: 14px 0;
	margin-bottom: 10px;
}
#primary-menu a {
	margin-right: 15px;
	font-size: 17px;
}
#primary-menu .last {
	margin-right: 0px;
	padding-right: 0px;
}
#primary-menu a.active, #secondary-menu a.active, #primary-menu li.active-trail a, #secondary-menu li.active-trail a, a.filterSelectType {
	color: #dc8833;
}
#primary-menu {
	font-weight: bold;
	text-align: right;
}
ul.links {
	overflow: visible;
}
ul.links li {
	display: inline-block;
	list-style-type: none;
	padding: 0 10px;
	overflow: visible;
}
#search-theme-form {
	display: inline;
}
#search-theme-form div {
	display: inline;
}
#search label {
	display: none;
}
#search input {
	width: auto;
}
.pageStatus {
	margin: 8px;
}
.search-navigation .page.current {
	color: black;
	border: none;
	outline: none;
	background: transparent;
	text-shadow: none;
}
.search-navigation .page.earlier, .search-navigation .page.later {
	font-weight: bold;
}
/*
global header styles
END
*/

/*
global footer styles
START
*/

#footer {
}
/*
global footer styles
END
*/


/*
 Tabbed Navigation
 START
*/
#main-tabs {
	font-family: ProximaNovaBold, sans-serif;
	overflow: auto;
}
#main-tabs li {
	list-style: none;
	float: left;
	display: table; /* this makes me want to cry */
	margin-right: 0.2em;
	padding: 0;
}
#main-tabs a {
	text-decoration: none;	/* for chrome: text-decoration applies to 'a' tag */
	display: block;
}
#main-tabs span {
	display: table-cell;
	height: 4em;
	padding: 0 1.7em;
	color: white;
	background: #d8510f;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
}
#main-tabs li.active {
	margin-bottom: 0;
}
#main-tabs li.active span {
	height: 4.2em;
	background: black;
}
#main-subtabs {
	clear: both;
	background: black;
	font-family: ProximaNovaSemibold, sans-serif;
	margin-bottom: 3px;
	overflow: auto;
	display: block;
	min-height: 18px;
}
#main-subtabs li {
	padding: 14px 22px;
}
#main-subtabs li.active {
	background: no-repeat bottom url('../subtabs-active.png');
}
#main-subtabs a {
	color: #f45000;
	text-decoration: none;
}
#main-subtabs a:hover, #main-subtabs li.active a {
	color: #FEFEFF;
}
#main-subtabs a.active {
}
/*
 Tabbed Navigation
 END
*/


/* Forms */
input[type="text"], input[type="password"], select, textarea, div.textfield, .field input {
	border-style: none none;
	padding: 6px;
	border: 1px solid #bab2b0;
	margin-bottom: 4px;
	font-size: 12px;
	font-family: Georgia, serif;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px inset;
	box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.field input, .field textarea, .field select, .group input[type="text"] {
	width: 100%;
}
/* Select Menu faked pulldowns */
.selectmenu {
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: url("../pulldown.png") no-repeat scroll right center transparent;
	border: 1px solid #bab2b0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px inset;
	box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.1) inset;
	display: inline-block;
	font-family: Georgia, serif;
	font-size: 12px;
	margin-bottom: 4px;
	overflow: hidden;
	padding: 6px;
	vertical-align: middle;
	width: 100%;
}
.search-navigation .selectmenu {
	width: 75px;
}
.selectmenu select {
	border-width: 0;
	margin: 0;
	padding: 0;
	min-width: 120%;
	background: url('') repeat scroll 0 0 transparent;
	-webkit-box-shadow: none;
	box-shadow:  none;
	-webkit-appearance: textfield;
}
.selectmenu option {
	background: none repeat scroll 0 0 transparent;
}
div.textfield input {
	border: none;
	padding: 0;
	margin: 1px;
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
div.textfield button {
	outline: 0 none;
	margin: 0;
}
input:focus, select:focus, textarea:focus, .selectmenu.focus {
	border: 1px solid blue;
	-webkit-box-shadow: 0 0 5px #6495ed;
	box-shadow: 0 0 5px #6495ed;
	background: white;
}
.selectmenu select:focus {
	background:transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.selectmenu.focus {
	background: url("../pulldown.png") no-repeat scroll right center transparent;
}
textarea[disabled="disabled"] {
	color: #666;
}
input:focus {
	outline: none; /* get rid of webkit highlighting */
}

/* get rid of firefox border */
button::-moz-focus-inner {
 border: 0;
}
input[type=checkbox], input[type=radio] {
	border: none;
	padding: 0.1em;
}
input.error {
	border: 1px solid red;
}
input.error:focus {
	-webkit-box-shadow: 0 0 5px red;
}
.subsection .actions, .subsection .buttons {
	padding: 20px 0 0 0;
	margin-top: 20px;
	width: auto;
	border-top: 1px dotted black;
}
.section > .buttons {
	margin-bottom: 3em;
}
.actions, .buttons {
	width: 100%;
	text-align: right;
}
h2 .button, .actions button, .actions .button, .buttons button, .buttons .button {
	margin-left: 10px;
}
.group.columnButtons {
	border-top: 0;
	border-bottom: 1px dotted black;
	padding: 0 0 10px 0;
	margin: 0 0 20px 0;
}
.columnButtons .button, .columnButtons button {
	width: 100%;
	display: block;
}
.group button, .group .button {
	margin: 0 0 10px 0;
}
.buttons .buttonLeft, .buttons .revertLink {
	float: left;
	margin-left: 0;
}
.optional {
	font-weight: normal;
}
.column {
	display: inline-block;
	width: 20%;
	vertical-align: top;
	border-right: 1px dotted black;
	margin: 0 30px 30px 0;
	padding-right: 30px;
	box-sizing: content-box;
	-ms-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}
.subsection .column.last {
	border-right: none;
	margin-right: 0;
	padding-right: 0;
	width: 18%;
}
.column .group {
	display: block;
	width: auto;
}
.group {
	margin-bottom: 1em;
	vertical-align: top;
}
span.field {
	font-weight: normal;
}
.success p.message, p.message.success {
	color: green;
	font-weight: bold;
}
.error p.message, p.message.error {
	color: red;
	font-weight: bold;
}
.field .error {
	display: block;
}
/* error/status messages - begin */
.statusMessage {
	margin-bottom: 14px;
	font-weight: bold;
}
.sectionMessage {
	padding: 30px;
}
.statusMessageFieldList {
	font-weight: normal;
	margin-top: 1em;
}
.statusMessageFieldList li {
	list-style-type: disc;
	margin-left: 1em;
	margin-bottom: 1em;
}
.statusMessage.success {
	color: green;
}
.sectionMessage.success, .subsection.success {
	background-color: #e4f3dd;
}
.statusMessage.error {
	color: #c80000;
}
.sectionMessage.error, .subsection.error {
	background-color: #fae4e6;
}
.statusMessage.warning {
	color: #f45000;
}
/* error/status messages - end */

p.message {
	padding: 0.5em;
	overflow: hidden;
	font-size: 90%;
	margin-bottom: 1em;
}
p.message a.toolbar {
	float: right;
	font-weight: bold;
	font-size: 1.1em;
}
p.message a.toolbar:hover {
	text-decoration: none;
}
/* credit card selection */

ul.credit_card_picker {
	list-style: none;
}
ul.credit_card_picker li a {
	font-weight: bold;
	margin-right: 5px;
	padding: 2px;
}
ul.credit_card_picker li button {
	border: none;
	background: transparent;
	color: gray;
	text-decoration: underline;
	padding: 0;
	margin: 0;
	cursor: pointer;
	font-weight: normal;
}
ul.credit_card_picker li a.active_card {
	background-color: gray;
	color: white;
}
div.ccinfo {
	margin-left: 250px;
}
/* Tables */

table {
	font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size:12px;
	width:100%;
	text-align:left;
	border-collapse:collapse;
	border:1px solid #dee;
	margin-left:auto;
	margin-right:auto;
}
th {
	font-weight:normal;
	font-size:14px;
	color:#039;
	padding:15px 10px 10px;
}
tbody {
	background:#ddeded;
}
td {
	color:#033;
	border-top:1px dashed #fff;
	padding:10px;
}
tbody tr:hover td {
	color:#339;
	background:#9cc;
}
th .sort {
	color: #033;
	margin-left: 6px;
	font-weight: bold;
	font-size: 10px;
}
/*.header th {
	border-bottom: 1px solid #DDD;
	border-right: none;
} */

tr.first > * {
	padding-top: 1em;
}
tr.last > * {
	padding-bottom: 1em;
}
tfoot td {
	text-align: center;
	border-top: 1px solid #DDD;
	font-size: smaller;
}
/*

tr:nth-of-type(even) {
	background-color: #eee;
}
 */

/* taskbar */

#taskbar_wrapper {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	z-index: 99;
	width: 100%;
}
#taskbar {
	width: 92%;
	margin-right: 4%;
	margin-left: 4%;
	overflow: visible;
	background: #eee;
	border: 1px #bbb;
	border-style: solid solid none solid;
	padding: 5px;
	text-align: center;
}
#taskbar div {
	display: inline;
}
/* forms */

form {
	padding: 0;
	margin: 0;
	display: inline;
}
.section {
	margin-bottom: 20px;
	background-color: white;
	position:relative;
	padding: 20px 20px 0 20px;
	display: block;
	min-height: 30px;
	border: 1px solid silver;
	-webkit-box-shadow: 4px 4px 6px #ECECEC;
	box-shadow: 4px 4px 6px #ECECEC;
}
.helpSubSection, .subsection {
	border-color: black;
	border-style: none dotted solid dotted;
	border-width: 0 1px 3px 1px;
	margin-bottom: 20px;
	padding: 30px;
	display: block;
}
.search-messages.subsection {
	border: none;
	margin: 0;
	padding: 0;
	font-size: larger;
	font-weight: bold;
}
.search-messages.subsection.success, .search-messages.subsection.error {
	background-color: transparent;
}
/* contacts - begin */
/* contacts - contact - begin */
.contact h3 {
	margin-bottom: 1em;
}
.contact {
	border-style: none;
	border-right: 1px solid black;
	padding: 0 30px;
	width: 28%;
	display: block;
	vertical-align: top;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	overflow: hidden;
	float: left;
}
.contact:first-child {
	padding-left: 0;
}
.contact.last {
	padding-right: 0;
	border-right: none;
}
fieldset.contact input, fieldset.contact select {
	width: 100%;
}
fieldset.contact .group.readOnly {
	padding-bottom: 1.5em;
}
.domain_page .contact {
	width: 20%;
}
.domain_page .contact.last {
	width: 19%;
}
/* contacts - contact - end */

/* contacts - oneContactType - begin */
.oneContactType h3 {
	display: none;
}
.oneContactType fieldset.contact.last {
	width: auto;
	margin: 30px 0;
}
.oneContactType .group {
	display: inline-block;
	width: 19%;
	vertical-align: top;
	border-right: 1px dotted black;
	margin: 0 30px 0 0;
	padding-right: 30px;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-ms-box-sizing: content-box;
}
/* contacts - oneContactType - end */
/* contacts - end */

/* dead-code ?
#domain-renew-form .column.last {
	width: auto;
}
*/

/* dead-code ?
#register-domain .column {
	width: 28%;
}
*/

.popup {
	-webkit-box-shadow: 4px 4px 24px #333;
	box-shadow: 4px 4px 24px #333;
	width: 900px;
	position: absolute;
	z-index: 99;
	margin-bottom: 3em;
}
.popup.maxWidth {
	width: 980px;
	padding-bottom: 20px;
}
#alertBoxOverlay {
	background-color: black;
	position: absolute;
}
/* search and results navigation */
.search-results table {
	border: 1px black;
	border-style: none dotted dotted dotted;
}
.search-results .trigger {
	float: right;
}
.search-results .message {
	margin: 1em 0;
	font-size: 13px;
}
.search-results th {
	padding: 0;
}
.search-results th div {
	height: 27px;
	background-color: black;
	color: white;
	margin: 1px 2px 1px 1px;
	font-size: 10px;
	font-weight: normal;
	padding: 8px 8px 8px 7px;
	text-transform: uppercase;
	font-family: ProximaNovaSemibold, sans-serif;
	outline: 1px solid #616161;
	border: 1px #6f6f6f solid;
	border-style: solid none none solid;
	background: -webkit-gradient(linear, left top, left bottom, from(#4a4a4a), to(#010101));
}
.filterContainer .ignoreDatesDiv label, .filterContainer .shortCutList a, .filters-disableCheckbox label {
	font-size: 10px;
	color: #d8510f;
	font-family: ProximaNovaBold, sans-serif;
	text-transform: uppercase;
	line-height: 18px;
	vertical-align: top;
}
.search-results th:last-child div, .search-results th.active:last-child div {
	margin-right: 0;
}
.search-results th.active div, .search-results th.sort div {
	background: black;
	outline: none;
	border: none;
	margin: 0 1px 0 0;
	height: 29px;
	padding: 10px 9px 9px 9px;
}
.search-results table {
	width: 100%;
}
.search-navigation_bottom {
	margin: 20px 0;
	border-bottom: 3px solid black;
	padding-bottom: 20px;
}
.search-navigation .pageSizeList {
	float: right;
}
.search-navigation span.page {
	padding: 8px;
	height: 30px;
	width: 30px;
	text-align: center;
	margin-right: 3px;
}
.search-navigation select {
	width: 150%;
}
.search-navigation > * {
	float: left;
}
.search-navigation label:after {
	content: '';
}
.search-navigation {
	overflow: hidden;
}
.search-navigation .page-slider {
	overflow: hidden;
}
.spinnerOverlay {
	position: absolute;
	background: white no-repeat center url('../images/loadAnimation.gif');
	z-index: 98;
}
.spinnerOverlay img.loading {
	display: block;
	margin: auto;
}
/* Domain Flags */
td.domain_flag {
	padding: 0px;
}
td.domain_flag div {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 22px;
}
.flag-storefront_managed, .flag-whois_privacy, .flag-locked, .flag-let_expire, .flag-parked_pages, .flag-auto_renew {
	position: absolute;
	top: -23px;
	left: -4px;
}
.flag-storefront_managed.on, .flag-whois_privacy.on, .flag-locked.on, .flag-let_expire.on, .flag-parked_pages.on, .flag-auto_renew.on {
	top: -3px;
}
.flag-storefront_managed {
	clip:rect(23px,145px,48px,120px);
	left: -120px;
}
.flag-whois_privacy {
	clip:rect(23px,170px,48px,145px);
	left: -145px;
}
.flag-let_expire {
	clip:rect(23px,98px,48px,63px);
	left: -63px;
}
.flag-locked {
	clip:rect(23px,58px,48px,33px);
	left: -33px;
}
.flag-parked_pages {
	clip:rect(23px,117px,48px,92px);
	left: -92px;
}
.flag-auto_renew {
	clip:rect(23px,29px,48px,4px);
}
.flag-storefront_managed.on {
	clip:rect(3px,145px,25px,120px);
	left: -120px;
}
.flag-whois_privacy.on {
	clip:rect(3px,170px,25px,145px);
	left: -145px;
}
.flag-let_expire.on {
	clip:rect(3px,98px,25px,63px);
	left: -63px;
}
.flag-locked.on {
	clip:rect(3px,58px,25px,33px);
	left: -33px;
}
.flag-parked_pages.on {
	clip:rect(3px,117px,25px,92px);
	left: -92px;
}
.flag-auto_renew.on {
	clip:rect(3px,29px,25px,4px);
}
/* search filter - begin */
.search-bar_top {
	margin: 10px auto;
}
.search-bar .toolbarLI {
	display: inline-block;
	border-right: 1px dotted black;
	vertical-align: middle;	/* for ie alignment */
	margin-right: 10px;
	padding-right: 10px;
}
.search-bar .toolbarLI.last {
	border-right: none;
	margin-right: 0;
	padding-right: 0;
}
.search-bar button {
	margin: 0 0 0 5px;
}
.search-bar .filters-formLI {
	width: 88%;
}
.search-bar.hasBulkToolbar .filters-formLI {
	width: 61%;
}
.erase-field {
	float: right;
	padding: 5px 5px 5px 0;
	cursor: pointer;
}
.filters-keywords div.textfield {
	margin: 0;
	padding: 0;
	overflow: auto;
	display: inline-block;
	vertical-align: top;
	width: 95%;
}
.hasBulkToolbar .filters-keywords div.textfield {
	width: 93%;
}
.filters-keywords div.textfield input {
	padding: 5px;
	width: 96%;
}
.hasBulkToolbar .filters-keywords div.textfield input {
	width: 95%;
}
.filters-keywords button {
	padding: 4px 7px;
}
.resultsBulkToolbarShortCutUL {
	display: inline-block;
}
.resultsBulkToolbarShortCutUL li {
	display: inline-block;
}
.resultsBulkToolbarShortCutUL .button {
	margin: 0 5px 0 0;
	line-height: 14px;
}
.resultsBulkToolbar .selectmenu {
	margin: 0;
	width: 15em;
}
.filterSelectTypeContainer {
	display: block;
	border-bottom: 1px dashed white;
	padding-bottom: 1em;
	margin-bottom: 1em;
	font-size: 12px;
	color: white;
}
.filterContainer h4 {
	margin-bottom: 1em;
}
.filterContainer {
	position: absolute;
	background: black;
	color: white;
	z-index: 99;
	padding: 10px;
}
.filterContainer .dateTextField {
	padding: 0;
	width: 8em;
}
.filterContainer.filterIgnored .shortCutList, .filterContainer.filterIgnored .filter {
	display: none;
}
.filterContainer .ignoreDatesDiv label {
	margin-right: 6px;
}
.filterContainer .shortCutList {
	margin: 10px 5px;
}
.filterGroup {
	border-top: 1px dashed white;
	padding-top: 1em;
	margin-top: 1em;
}
.filterGroup:first-child {
	border: none;
	padding-top: 0;
	margin-top: 0;
}
.filter .filters-date_range h5 {
	font-size: 12px;
	margin-bottom: 0.5em;
}
.filter .filters-date_range h5:after {
	content: ':'
}
.calendar table {
	color: black;
	border-collapse: collapse;
}
.calendar tbody td {
	border: 1px solid #d1d1d1;
	cursor: pointer;
}
.calendar thead th {
	border: 1px solid white;
	background: #d1d1d1;
}
.calendar {
	font-family: ProximaNovaBold, sans-serif;
}
.calendar .title {
	background: black;
	border: 1px white;
	border-style: solid solid none solid;
	color: white;
}
.calendar .today {
	background: #dd8933;
	color: white;
}
.calendar .selected {
	background: black;
	color: white;
}
.calendar .otherDay {
	color: white;
}
.calendar th, .calendar td {
	padding: 5px 4px;
	text-align: center;
	font-size: 11px;
}
/* search filter - end */

/* search - domain - begin */
.trust_page .filters-keyword {
	width: 33%;
}
.trust_page .filters-keyword div.textfield {
	width: 90%;
}
#registrant_search-results table, #search-results table {
	table-layout: fixed;
}
#registrant_search-results td.domain, #registrant_search-results td.domain_name, #search-results td.domain, #search-results td.domain_name {
	overflow: hidden;
	white-space: nowrap;
}
#registrant_search-results td.domain.toolong, #registrant_search-results td.domain_name.toolong, #search-results td.domain.toolong, #search-results td.domain_name.toolong {
	color: #066;
}
#registrant_search-results td.domain.toolong a, #registrant_search-results td.domain_name.toolong a, #search-results td.domain.toolong a, #search-results td.domain_name.toolong a {
	position: absolute;
	z-index: 100;
	padding-right: 30px;
	background-image: url(../fade-back-white.png);
	background-position:right;
	background-repeat:repeat-y;
}
#registrant_search-results .fade, #search-results .fade {
	height: 20px;
	width: 308px;
	background-image: url(../fade-white.png);
	background-position:right;
	background-repeat:repeat-y;
	position: absolute;
	z-index: 50;
}
#search-results .domain .fade {
	width: 162px;
}
#registrant_search-results tr:nth-child(even) .fade, #search-results tr:nth-child(even) .fade {
 background-image: url(../fade-eee.png);
}
#registrant_search-results tr:nth-child(even) td.domain.toolong a, #registrant_search-results tr:nth-child(even) td.domain_name.toolong a, #search-results tr:nth-child(even) td.domain.toolong a, #search-results tr:nth-child(even) td.domain_name.toolong a {
 background-image: url(../fade-back-eee.png);
}
#search-results .bulkCheckboxAll {
	width: 3em;
}
#search-results .bulkCheckboxAll div {
	padding: 4px 6px;
}
#search-results tr .bulkCheckbox {
	background-color: #d2cccc;
}
#search-results tr.even .bulkCheckbox {
	background-color: #c4bebe;
}
#domain_search-domain_name, #search-domain_name, #registrant_search-domain_name {
	width: 33%;
}
#domain_search-domain_name {
}
#registrant_search-tld_name, #search-tld_name {
	width: 10%;
}
#domain_search-tatus, #search-tatus {
	width: 19%;
}
#domain_search-creation_date, #domain_search-creation_date, #search-creation_date, #search-expiration_date {
	width: 11%;
}
#search-domain_flag, #domain_search-domain_flag {
	width: 20%;
}
.filters-tld_name .filterGroup .filter {
	width: 17em;
}
.filters-tld_name .group.checkbox {
	display: inline-block;
	width: 5em;
}
/* search - domain - end */

/* search - domain - registration - begin */
#registrant_search-container .search-bar .filters-formLI {
	width: 86%;
}
#registrant_search-container .filters-keywords div.textfield {
	width: 92%;
}
/* search - domain - registration - end */

/* search - domain - messaging - begin */
.search-results .messageAction input {
}
/* search - domain - messaging - end */

/* search - trust - begin */
.trust_page .filters-keyword {
	width: 25%;
}
.trust_page .filters-keyword div.textfield {
	width: 86%;
}
.search-results #domain {
	width: 25%;
}
.search-results #product_type {
	width: 27%;
}
.search-results #supplier {
	width: 8%;
}
.search-results #status {
	width: 18%;
}
.search-results #creation_date, .search-results #expiry_date {
	width: 11%;
}
/* search - trust - end */

/* search - publishing - begin */
.publishing_page .filters-keyword {
	width: 33%;
}
.publishing_page .filters-keyword div.textfield {
	width: 89%;
}
/* search - publishing - end */

/* search - offers - begin */
/* search - offers - index - begin */
.offers_page .search-results .agreed_to_contract {
	width: 8em;
}
/* search - offers - index - end */
/* search - offers - generate_codes - begin */
.offers_page .search-results .offerCreatedDate {
	width: 8em;
}
/* search - offers - generate_codes - end */
/* search - offers - view_codes - begin */
.offers_page .search-results .company_name {
	width: 14em;
}
.offers_page .search-results .date_created, .offers_page .search-results .created_date {
	width: 8em;
}
.offers_page .search-results .status {
	width: 7em;
}
/* search - offers - end */

thead th {
	/* this should be temporary as the header should define if it's sortable or not */
	cursor: pointer;
}
/* bulk - begin */
.bulkWarning {
	margin-bottom: 30px;
}
.bulkWarning .bulkWarningImage {
	float: left;
	margin-top: -4px;
}
.bulkWarning p {
	margin-left: 30px;
}
/* bulk - bulkContactInfo - begin */
#bulkContactInfoApplyChangeTo {
	width: auto;
	margin: 10px 0 20px;
}
#bulkContactInfoApplyChangeTo .group {
	display: inline-block;
}
#bulkContactInfoFields fieldset {
	width: auto;
	margin: 10px 0;
}
/* bulk - bulkContactInfo - end */

/* bulk - bulkProgress - begin */
.popup.widget {
	width: 980px;
}
#bulkProgressContainer .widgetHeadingButtons .button {
	margin-left: 1em;
}
.subsection.widgetSubSection {
	padding: 0;
}
.widgetSubSection table {
	margin-top: 1px;
	margin-bottom: 20px;
	border: 1px dotted black;
}
.widgetSubSection tbody td {
	border-right: 1px solid silver;
}
.widgetSubSection tbody td.last {
	border-right: none;
}
.bulkProgress.collapsed {
	display: none;
}
#bulkProgressTable {
	width: 100%;
}
#bulkProgressTable .dateCreate {
	text-align: right;
	font-size: 90%;
}
#bulkProgressTable .progressGraph {
	display: inline-block;
	border: 1px solid silver;
	width: 200px;
	height: 14px;
}
#bulkProgressTable .progressGraph .progress {
	display: inline-block;
	height: 12px;
}
#bulkProgressTable .progressGraph .successful {
	background: #8dc73d;
	background: -webkit-gradient(linear, left top, left bottom, from(#afd878), to(#8dc73d));
	background: -moz-linear-gradient(top, #afd878, #8dc73d);
}
#bulkProgressTable .progressGraph .failed {
	background: #ef1c25;
	background: -webkit-gradient(linear, left top, left bottom, from(#f26166), to(#ef1c25));
	background: -moz-linear-gradient(top, #f26166, #ef1c25);
}
#bulkProgressTable .progressGraph .pending {
	background: #d9d301;
	background: -webkit-gradient(linear, left top, left bottom, from(#e6e04e), to(#d9d301));
	background: -moz-linear-gradient(top, #e6e04e, #d9d301);
}
#bulkProgressTable .progressGraph.canProgress {
	background-image: url('../images/bulk_progress_background.gif');
	background-repeat: repeat-x;
}
#bulkProgressTable .progressGraph.canProgress .progress {
	opacity: .50;
}
#bulkProgressTable .progressCount {
	float: right;
}
#bulkProgressTable .timeRemaining .hours, #bulkProgressTable .timeRemaining .minutes {
	font-weight: bold;
}
#bulkProgressTable .taskActions {
	text-align: center;
}
#bulkProgressTable .taskActions img {
	margin-right: 5px;
}
#bulkProgressTable .taskActions img.last {
	margin-right: 0;
}
/* bulk - bulkProgress - end */
/* bulk - end */

/* Modal Box overides */

#MB_content {
	overflow: scroll;
}
/* reseller settings message */
th.messageAction {
	width: 5em;
}
pre.message-body {
	overflow: auto;
	width: inherit;
	padding: 0.2em;
	border: 1px solid #B8B19D;
	margin-bottom: 1em;
}
#backToMessageListDiv {
	margin-top: -19px;
	margin-bottom: 21px;
	padding-left: 22px;
}
#message-form {
	padding: 30px;
}
#messageContentDiv {
	width: 64%;
}
#messageContentDiv hr {
	margin-bottom: 30px;
}
#messageContentDiv.column {
	border-right-style: solid;
}
#messageContentCheckboxDiv {
	margin-bottom: 30px;
}
#messageContentCheckboxDiv label {
	font-weight: bold;
}
#messageContentSubjectDiv label {
	display: inline;
}
#tagListDiv {
	width: 25%;
}
#tagListDiv .group {
	margin-top: 30px;
}
#tagHeading {
	font-weight: bold;
	padding-bottom: 15px;
}
#tagHeadingHint {
	font-weight: normal;
	padding-top: 5px;
}
a.tagButton {
	float: left;
	margin-top: 0.2em;
	margin-right: 1em;
	padding: 0.2em 0.6em;
	font-weight: bold;
}
.tagLabel {
	margin-top: 0.2em;
}
.tagDescription {
	font-weight: bold;
}
/* domain - registration - begin */
#registrant_info_subsection .column, #domain_settings_subsection .column {
	width: 28%;
}
#registrant_search-link {
	margin-top: 23px;	/* shift button lower to align with textboxes */
}
/* domain - registration - end */

/* domain - product - begin */
/* domain - product - status section - begin */
.field input#affiliate_id {
	width: 65%;
}
#affiliateSavebutton {
	margin-left: 5px;
}
/* domain - product - status section - end */
/* domain - product - end */

/* scrollableTable - begin */
.scrollableTableHead {
	font-weight: bold;
	margin-bottom: 4px;
	overflow: auto;
}
.scrollableTableHead .scrollableTableCell {
	height: 32px;
	line-height: 32px;
}
.scrollableTableHead div, .scrollableTableBody div {
	float: left;
}
.scrollableTableBody {
	margin-bottom: 2em;
	line-height: 1.4em;
	height: 16em;
	overflow: auto;
	border: 1px black;
	border-style: dotted none none;
}
.scrollableTableBody .scrollableTableCell {
	padding: 0.5em 0;
}
.scrollableTableRow {
	width: 100%;
	border: 1px black;
	border-style: none none dotted;
}
/* scrollableTable - end */

/* domain - extra params - begin */
.extraParams .group {
	width: 48%;
}
.extraParams .column .group {
	width: auto;
}
.extraParams .oneContactType .group {
	width: 19%;
}
.extraParams .oneContactType fieldset.contact.last {
	margin: 10px 0 30px;
}
/* domain - extra params - end */

/* domain - history - begin */
#notes_subsection h3 {
	border-bottom: black 1px solid;
}
#history_subheader {
	margin-top: 1em;
}
#historyTable .date, #relatedObjectsTable .date {
	width: 220px;
}
#historyTable .scrollableTableBody .desc, #relatedObjectsTable .scrollableTableBody .type {
	width: 600px;
}
#historyTable .scrollableTableHead .add {
	float: right;
	padding: 2px;
}
/* domain - history - end */

/* DNS Settings */

#dns-apply-template {
	padding-bottom: 1em;
}
#set-dns-zone .buttons {
	border-style: solid;
}
#add-sub-domain {
	border-top: 1px dotted black;
	margin-top: 20px;
	padding-top: 20px;
}
.srv_record input {
	width: 30%;
	margin-right: 3%;
}
.subdomain .name, .domain .name {
	display: inline-block;
	width: 30%;
}
#dns-records .domain {
	border-top: 1px solid black;
	padding-top: 30px;
}
.domain *, .subdomain * {
	vertical-align: top;
}
.subdomain {
	border-top: 1px solid black;
	margin-top: 30px;
	padding-top: 30px;
}
.subdomain .records, .domain .records {
	display: inline-block;
	width: 69%;
	border-left: 1px dotted black;
}
.record {
	border-bottom: 1px dotted black;
	margin-bottom: 20px;
}
.records {
	padding-left: 30px;
}
.record .column, .record .column.last {
	width: 26%;
	margin-bottom: 20px;
	padding-bottom: 0;
}
.record .group {
	margin-bottom: 0;
}
.recordlabel {
	height: 2.6em;
	display: block;
}
.bulkDNSRecords .col1 {
	display: inline-block;
	vertical-align: top;
}
.bulkDNSRecordType {
	display: inline-block;
	width: 76%;
}
.bulkDNSRecordType .group {
	margin-bottom: 0;
}
.bulkDNSRecordType .column, .bulkDNSRecordType .column.last {
	margin: 0 20px 20px 0;
	padding-bottom: 0;
	width: 26%;
}
.bulkDNSRecordType .column.last {
	margin-right: 0;
}
.bulkDNSRecordType .column.col2 {
	border-left: 1px dotted black;
	margin-left: 14px;
	padding-left: 20px;
}
#recordConditionFieldsDiv .col1 {
	width: 22%;
}
.column.empty {
	width: 26%;
	height: 56px;
}
.bulkDNSRecordType .column.empty {
	width: 31%;
}
/* add service */
#products-container .step {
	border-right: 1px dotted black;
	padding: 0 30px;
	display: inline-block;
	vertical-align: top;
	width: 24%;
}
#products-container .step.wide {
	width: 336px;
}
#products-container .step select, #products-container .step input {
	width: 100%;
}
#products-container .step.first, #products-container .step:first-child {
	padding-left: 0;
}
#products-container .step:last-child {
	padding-right: 0;
}
#products-container .step.last {
	border: 0 none;
}
#products-container .detail {
	padding: 0 0 0 30px;
	display: inline-block;
	width: 50%;
}
#products-container .below {
	display: block;
	padding: 0;
	width: 100%;
}
#products-container .below .column {
	width: 305px;
}
#trust-add-3 #priceList {
	border-right: 0 none;
	margin-right: 15px;
	padding-right: 0;
	width: 20%;
}
#trust-add-3 #sanPriceList {
	width: 25%;
}
.sanCountNotice {
	display: inline-block;
	font-size: 95%;
	font-style: oblique;
	padding-bottom: 10px;
}
.sanPriceListLabel {
	margin-bottom: 33px;
}
input.san_domain {
	width: 95%;
}
#products-container #trust-csr-2.step {
	border-right: none;
}
#products-container .detail li {
	margin-bottom: 0.6em;
}
#domainNameContainer #domain {
	width: 50%;
}
#server_type {
	width: 75%;
}
#server_count {
	width: 20%;
}
.organization h3 { /* HACK: Remove item */
	display: none;
}
fieldset.contact.organization {
	width: 100%;
}
fieldset.organization .group {
	border-right:1px dotted black;
	display:inline-block;
	margin:0 30px 0 0;
	padding:0 30px 10px 0;
	width:30%;
}
/* Dashboard Page */
.dashboard_page .subsection input, .dashboard_page .subsection button {
	width: 100%;
}
/* trust service - begin */
/* trust service - ordering page - begin */
.priceListItem {
	margin-bottom: 0.6em;
}
.priceListItem .period {
	width: 5em;
}
.priceListItem .period, .priceListItem .price {
	display: inline-block;
}
#set_status_settings .column {
	width: 26%;
}
#set_status_settings .column.last {
	width: 32%;
}
/* trust service - ordering page - end */

/* trust service - san domain - begin */
ol#san_domain_list {
	list-style-type: decimal;
	margin-left: -20px;
}
#san_domain_list > li {
	float: left;
	margin-bottom: 1em;
	margin-left: 40px;
	width: 45.5%;
}
/* trust service -san domain - end */

/* trust service - end */

/* publishing service - begin */
#domain_alias_list .remove {
	padding-right: 0.25em;
}
/* publishing service - end */

/* Domain Nameservers */

.nameserversContainer .column {
	width: 25%;
}
.nameserversContainer .column.last {
	width: 67%;
}
#register-domain .nameserversContainer .column.last {
	width: 64%;
}
.nameserversContainer div.field {
	width: 49%;
	display: inline-block;
}
/* domain settings */

#set-default-settings_subsection .column {
	width: 46%;
}
#set-default-settings_subsection .group {
	display: inline-block;
	margin: 1em 1em 0 0;
}
#set-default-settings_subsection .oneContactType .group {
	margin: 0 30px 0 0;
}
#set-default-settings_subsection .oneContactType .group:nth-of-type(4n), .extraParams.fr .oneContactType .group:nth-of-type(4n), #bulkContactInfo .oneContactType .group:nth-of-type(4n) {
 border-right: none;
 margin-right: 0px;
 padding-right: 0px;
}
#set-whois-settings .column {
	width: 46%;
}
#group-template-name input, #group-template-desc input {
	width: 100%;
}
#group-template-name {
	width: 40%;
	display: inline-block;
	margin-right: 30px;
}
#group-template-desc {
	width: 50%;
	display: inline-block;
}
/* manage nameserver - begin */
.manage_nameserver .revertLink {
	margin-right: 5px;
}
.manage_nameserver_list.nsListRowLocked a {
	color: #82aab8;
	cursor: default;
	text-decoration: none;
}
.manage_nameserver_row {
	border-top: 1px dotted black;
}
.manage_nameserver_row.first, .manage_nameserver_row:first-child {
	border-top: none;
}
.manage_nameserver_row .column {
	margin: 20px 30px 20px 0;
}
.manage_nameserver_row:first-child .column {
	margin-top: 0;
}
.manage_nameserver_row:last-child .column {
	margin-bottom: 0;
}
.manage_nameserver_row .column.rowControls {
	width: 45px;
}
.manage_nameserver_row .column .removeSpan {
	display: inline-block;
	width: 1em;
}
.manage_nameserver_row .column.fqdn {
	width: 371px;
}
.manage_nameserver_row.nsRowDisplay .column.fqdn {
	width: 265px;
}
.manage_nameserver_list.nsListReadOnly .manage_nameserver_row .column.fqdn {
	width: 371px;
}
.manage_nameserver_row .column.fqdn input {
	text-align: right;
	width: 170px;
	margin-left: 5px;
}
.manage_nameserver_row .column.fqdn .field input.error {
	display: inline;
}
.manage_nameserver_row .column.ip {
	width: 130px;
}
.manage_nameserver_row .column.ipv6 {
	width: 195px;
}
.manage_nameserver_row .column.ipv6 input {
	width: 21em;
}
/* manage nameserver - end */

/* availability search */
.search-container.add_domain table {
	margin-bottom: 20px;
}
.search-container.add_domain th.order {
	width: 10em;
}
.search-container.add_domain th.status {
	width: 10em;
}
.search-container.add_domain th.price {
	width: 7em;
}
#form-domain_availability_search {
	padding: 20px;
}
#form-domain_availability_search * {
	margin: 0;
}
#form-domain_availability_search button {
	padding: 5px;
	vertical-align: top;
}
#form-domain_availability_search input {
	width: 50%;
}
#form-domain_availability_search label {
	display: block;
	float: left;
	font-family: ProximaNovaSemibold, sans-serif;
	font-size: 1.7em;
	margin-top: 0.2em;
}
#form-domain_availability_search label:after {
	content: "";
}
.exact_match {
	background-color: black;
	color: white;
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 1em;
	padding: 1em;
}
.exact_match .domain {
	font-size: inherit;
	color: #d8510f;
}
.dashboard_page .search-results td.price {
	text-align: right;
}
.search-messages .loading {
	margin: 0 auto 1em auto;
	display: block;
}
#group-instance_selector {
	float: right;
	text-transform: none;
}
#group-instance_selector label {
	display: inline-block;
}
/* dashboard - begin */
#dashboardMain {
	width: 50em;
}
#dashbaordSidebar {
	float: right;
	width: 30em;
}
#dashbaordSidebar .entry, #dashbaordSidebar .viewMore {
	padding: 1em 0;
}
#dashbaordSidebar .entry {
	border-bottom: 1px dotted black;
}
#dashbaordSidebar .viewMore {
	padding-bottom: 0;
}
#dashbaordSidebar .entry:first-child {
	padding-top: 0;
}
#dashbaordSidebar .date {
	color: #666;
	margin-top: 0.5em;
}
/* dashboard - end */

/* offers - begin */
.offers_page .search-bar.hasBulkToolbar .filters-formLI {
	width: 0;
	margin: 0;
	padding: 0;
}
.offers_page .filters-formLI .filters-keywords, .offers_page .resultsBulkToolbarActionSelect, .offers_page .resultsBulkToolbarActionButton, .offers_page .filters-disableCheckboxLI {
	display: none;
}
.offers_page .resultsBulkToolbarLI {
	border-right: none;
}
#generated-codes-container {
	padding-bottom: 30px;
}
#offer-contract-logo, #offer-contract-details {
	display: inline-block;
	vertical-align: top;
}
#offer-contract-logo {
	width: 23%;
	padding-right: 20px;
}
#offer-logo-container img {
	border: 1px solid #d1d1d1;
	padding: 10px;
	margin-bottom: 10px;
}
#offer-contract-logo button {
	width: 100%;
}
#terms-accepted-button {
	background: black;
	border-color: black;
	outline-color: black;
}
#offer-contract-logo .checkbox label {
	display: block;
	float: left;
	padding-left: 2em;
	text-indent: -2em;
}
#offer-contract-details {
	width: 76%;
	padding-left: 20px;
	border-left: 1px dotted black;
}
#generate-codes-form .column.offer {
	width: 30em;
}
#offer-contract li {
	line-height: 1.4em;
	margin-bottom: 1em;
}
/* offers - end */



.group .remove, .field .remove {
	color: red;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 12px;
	margin-left: 5px;
	cursor: pointer;
	cursor: pointer;
}
/* ****************************  Default Form Formating ********************************** */
/* http://webdesign.tutsplus.com/tutorials/site-elements/bring-your-forms-up-to-date-with-css3-and-html5-validation/ */

fieldset {
	border: 3px dotted silver;
	padding: 10px;
	background-color: #EEE;
}
legend {
	font-size:1.1em;
	font-weight: bold;
	padding:0.4em 0.8em;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 4px;
	border: 1px solid silver;
	background-color: #fff;
}
/* === Form Typography === */
.default {
	font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
.default h2, .default label {
	font-family:Georgia, Times, "Times New Roman", serif;
}
.form_hint, .required_notification {
	font-size: 11px;
}
/* === List Styles === */
.default ul {
	width:750px;
	list-style-type:none;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}
.default li {
	padding:12px;
	border-bottom:1px solid #eee;
	position:relative;
}
 .default li:first-child, {
 border-top:1px solid #777;
}
.default .default li:last-child {
	border-bottom:1px solid #777;
}
/* === Form Header === */
.default h2 {
	margin:0;
	display: inline;
}
.required_notification {
	color:#d45252;
	margin:5px 0 0 0;
	display:inline;
	float:right;
}
/* === Form Elements === */
.default label {
	width:200px;
	margin-top: 3px;
	display:inline-block;
	float:left;
	padding:3px;
}
.default input {
	height:20px;
	width:220px;
	padding:5px 8px;
}
.default textarea {
	padding:8px;
	width:400px;
}
/* form element visual styles */
	.default input, .default textarea {
	border:1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border-radius:2px;
	padding-right:30px;
 -moz-transition: padding .25s;
 -webkit-transition: padding .25s;
 -o-transition: padding .25s;
 transition: padding .25s;
}
.default input:focus, .default textarea:focus {
	background: #fff;
	border:1px solid #555;
	box-shadow: 0 0 3px #aaa;
	padding-right:70px;
}

/* === HTML5 validation styles === */	
.default input:required, .default textarea:required {
 background: #fff url(../red_asterisk.png) no-repeat 98% center;
}
 .default input:readonly, .default textarea:readonly {
 background-color: #e0e0e0;
}
 .default input:required:valid, .default textarea:required:valid {
 background: #fff url(../valid.png) no-repeat 98% center;
 box-shadow: 0 0 5px #5cd053;
 border-color: #28921f;
}
.default input:focus:invalid, .default textarea:focus:invalid {
 background: #fff url(../invalid.png) no-repeat 98% center;
 box-shadow: 0 0 5px #d45252;
 border-color: #b03535
}
/* === Form hints === */
.form_hint {
	background: #d45252;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	display: none;
}
.form_hint::before {
 content: "\25C0";
 color:#d45252;
 position: absolute;
 top:1px;
 left:-6px;
}
.default input:focus + .form_hint {
	display: inline;
}
.default input:required:valid + .form_hint {
background: #28921f;
}
.default input:required:valid + .form_hint::before {
color:#28921f;
}
/* === Button Style === */
button.submit {
	background-color: #68b12f;
	background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
	background: -webkit-linear-gradient(top, #68b12f, #50911e);
	background: -moz-linear-gradient(top, #68b12f, #50911e);
	background: -ms-linear-gradient(top, #68b12f, #50911e);
	background: -o-linear-gradient(top, #68b12f, #50911e);
	background: linear-gradient(top, #68b12f, #50911e);
	border: 1px solid #509111;
	border-bottom: 1px solid #5b992b;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #9fd574;
	-webkit-box-shadow: 0 1px 0 0 #9fd574 inset;
	-moz-box-shadow: 0 1px 0 0 #9fd574 inset;
	-ms-box-shadow: 0 1px 0 0 #9fd574 inset;
	-o-box-shadow: 0 1px 0 0 #9fd574 inset;
	color: white;
	font-weight: bold;
	padding: 6px 20px;
	text-align: center;
	float:right;
	text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
	opacity:.85;
	cursor: pointer;
}
button.submit:active {
	border: 1px solid #20911e;
	box-shadow: 0 0 10px 5px #356b0b inset;
	-webkit-box-shadow:0 0 10px 5px #356b0b inset;
	-moz-box-shadow: 0 0 10px 5px #356b0b inset;
	-ms-box-shadow: 0 0 10px 5px #356b0b inset;
	-o-box-shadow: 0 0 10px 5px #356b0b inset;
}
button {
	background-color: #686868;
	background: -webkit-gradient(linear, left top, left bottom, from(#686868), to(#505050));
	background: -webkit-linear-gradient(top, #686868, #505050);
	background: -moz-linear-gradient(top, #686868, #505050);
	background: -ms-linear-gradient(top, #686868, #505050);
	background: -o-linear-gradient(top, #686868, #505050);
	background: linear-gradient(top, #686868, #505050);
	border: 1px solid #404040;
	border-bottom: 1px solid #5b5b5b;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #9f9f9f;
	-webkit-box-shadow: 0 1px 0 0 #9f9f9f inset;
	-moz-box-shadow: 0 1px 0 0 #9f9f9f inset;
	-ms-box-shadow: 0 1px 0 0 #9f9f9f inset;
	-o-box-shadow: 0 1px 0 0 #9f9f9f inset;
	color: white;
	font-weight: bold;
	padding: 6px 20px;
	text-align: center;
	float:right;
	text-shadow: 0 -1px 0 #393939;
}
button:hover {
	opacity:.85;
	cursor: pointer;
}
button:active {
	border: 1px solid #202020;
	box-shadow: 0 0 10px 5px #353535 inset;
	-webkit-box-shadow:0 0 10px 5px #353535 inset;
	-moz-box-shadow: 0 0 10px 5px #353535 inset;
	-ms-box-shadow: 0 0 10px 5px #353535 inset;
	-o-box-shadow: 0 0 10px 5px #353535 inset;
}
label:after {
	content: ":";
}
/* **************************** END Default Form Formating ********************************** */



/*  Login Box Box */



#content {
	width: 960px;
	float: left;
	padding-top: 30px;
	margin-top: -7px;
	padding-bottom: 20px;
}
#content .column {
	float: left;
	width: 300px;
	padding-left: 25px;
	margin-right: 25px;
}
#content .column h3 {
	float: left;
	border-bottom: 1px solid #eee;
	margin-bottom: 25px;
	padding-bottom: 10px;
	font-family: 'Nobile', arial, serif;
	background: none;
	text-indent: 0;
	letter-spacing: 1px;
	color: #444;
	text-transform: uppercase;
}
#content .column .search label {
	color: #6f6f6f;
	font-size: 14px;
	display: block;
	margin-bottom: 1em;
}
#content .column .search form {
	height: auto;
	width: auto;
}
#content .column .search form p {
	margin-bottom: 2em;
	clear: left;
}
#content .form-wrapper {
	width: 680px;
	margin: 0 auto;
	-webkit-border-radius: 8px;
	border: 1px solid #d8410f;
	-webkit-box-shadow: 0px 0px 5px #f45000;
	background: url(../form-gradient.png) repeat-x #d8510f;
}
#content #log-in {
	background: url(../form-light.png) no-repeat top center;
	width: 520px;
	padding-left: 80px;
	float: left;
}
#content .form-wrapper h1 {
	font-size: 34px;
	color: #FFF;
	text-shadow: 0px -1px #d8510f;
	font-weight: bold;
	text-align: center;
	margin: 10px auto 16px;
}
#content #log-in h1 {
	background-color:transparent;
}
#content form .form-wrapper a {
	color: #512700;
	text-shadow: 0px 1px #dc944f;
	border-bottom: 1px solid #925010;
}
#content form .form-wrapper p {
	width: 450px;
	text-align: center;
	margin: 0 auto;
	color: #79420d;
	font-weight: bold;
	font-size: 12px;
	line-height: 17px;
	text-shadow: 0px 1px #dd9e61;
}
#content form .form-wrapper p.alt-login {
	font-size: 13px;
	margin-top: 5px;
	margin-bottom: 10px;
}
#openid_login_fields {
	height: 308px;
}
.login_hidden {
	display: none;
}
#content .form-wrapper .horisontal-shadow {
	width: 520px;
	float: left;
	margin-top: 30px;
	height: 39px;
	background: url(../form-shadow.png) no-repeat top right;
}
#content .form-wrapper ul li {
	width: 520px;
	float: left;
	margin-bottom: 20px;
}
#content .form-wrapper ul li label {
	width:520px;
	float: left;
	font-weight: 500;
	font-size: 15px;
	color: #573310;
	text-shadow: 0px 1px #dd9956;
	padding-bottom: 7px;
}
#content .form-wrapper ul li input[type='text'], #content .form-wrapper ul li input[type='password'] {
	height: 44px;
	padding: 0px 10px;
	background: #FFF;
	font-weight: 200;
	letter-spacing: normal;
	width: 500px;
	-webkit-box-shadow: 0px 0px 2px #FFF, 2px 2px 3px #ccc inset;
	border: 0;
	border: 1px solid #b3814f;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #505050;
}
#content .form-wrapper ul li input[type='text']:focus, #content .form-wrapper ul li input[type='password']:focus {
	background: #fffae5;
	border: 1px solid #9e6a35;
}
#content .form-wrapper ul li div.tos {
	width: 350px;
	margin-top: -10px;
	float: left;
	padding-top: 6px;
}
#content .form-wrapper ul li div.tos input {
	padding: 0;
	float: left;
}
#content .form-wrapper ul li div.tos label {
	width: 250px;
	padding-left: 4px;
	float: left;
}
#content .form-wrapper ul li div.submit {
	float: right;
	width: 150px;
}
#content .form-wrapper input[type='submit'] {
	width: 112px;
	height: 43px;
	cursor: pointer;
	-webkit-box-shadow: none;
	float: right;
	border: 0;
	text-indent: -9999px;
}
#content .form-wrapper#signup input[type='submit'] {
	background: url(../sprite.png) no-repeat -2px -23px;
}
#content .form-wrapper#signup input[type='submit']:active {
	background-position: -116px -23px;
}
#content .form-wrapper#login input[type='submit'] {
	background: url(../sprite.png) no-repeat -2px -67px;
}
#content .form-wrapper#login input[type='submit']:active {
	background-position: -116px -67px;
}
#content .form-wrapper#forgotpw input[type='submit'] {
	width: 291px;
	background: url(../sprite.png) no-repeat -2px -127px;
}
#content .form-wrapper#forgotpw input[type='submit']:active {
	width: 291px;
	background: url(../sprite.png) no-repeat -296px -127px;
}
#content .form-wrapper#resetpw input[type='submit'] {
	width: 119px;
	background: url(../sprite.png) no-repeat -2px -344px;
}
#content .form-wrapper#resetpw input[type='submit']:active {
	width: 119px;
	background: url(../sprite.png) no-repeat -125px -344px;
}
/*  ***** Pop Box ***** */


.popbox {
	margin:0px auto;
	text-align:center;
	position:relative;
}
.collapse {
	position:relative;
}
/*  Makes link look like a button */
.open {
/*	background:#DDD;
	border:solid 1px #FFF;
	border-radius:5px;
	box-shadow: 0px 0px 5px #CCC;
	background:-webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e8e8e8));
	background:-moz-linear-gradient(top, #f4f4f4, #e8e8e8);
	background:linear-gradient(top, #f4f4f4, #e8e8e8);
	padding:8px; */
}
.box {
	display:block;
	display:none;
	background:#FFF;
	border:solid 1px #BBBBBB;
	border-radius:5px;
	box-shadow:0px 0px 15px #999;
	position:absolute;
}
.box a.close {
	color:f45000;
	font-size:12px;
	font-family:arial;
	text-decoration:underline;
}
.arrow {
	width: 0;
	height: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 11px solid #FFF;
	position:absolute;
	left:1px;
	top:-10px;
	z-index:1001;
}
.arrow-border {
	width: 0;
	height: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 11px solid #BBBBBB;
	position:absolute;
	top:-12px;
	z-index:1000;
}
.simple-player-container {
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.simple-player-container > div > ul {
	margin: 0;
	padding-left: 0;
}
.simpleplayer-play-control {
	background-image: url('../play.png');
	display: block;
	width: 16px;
	height: 16px;
	bottom: -5px;
	position: relative;
}
.simpleplayer-play-control:hover {
	background-image: url('../playing.png');
}
.simpleplayer-stop-control {
	background-image: url('../stop.png');
	display: block;
	width: 16px;
	height: 16px;
	bottom: -5px;
	position: relative;
}
.simpleplayer-stop-control:hover {
	background-image: url('../stopped.png');
}


/*  ***** END Pop Box ***** */
