.container_12, .container_16, .container_24 {
	background-color: #fff;
	background-repeat: repeat-y;
	margin-bottom: 20px;
}
.container_12 {
/*  For troubleshooting gutter and alignment issues */
/*  background-image: url(../img/12_col.gif); */
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,  caption, button {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 12px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	line-height: 1;
	background: #DDD;
	color: #333;
	height: auto;
	padding-bottom: 20px;
	font: 12px Georgia, serif;
	color: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* =Clear Floated Elements
--------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

html body * span.clear, html body * div.clear, html body * li.clear, html body * dd.clear {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
/* http://www.positioniseverything.net/easyclearing.html */

.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}
* html .clearfix {
	height: 1%;
}


/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2011 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Mark Simonson Studio
 * License URL: http://www.fontspring.com/fflicense/mark-simonson-studio
 *
 */

@font-face {
 font-family: 'ProximaNovaBold';
 src: url('/static/fonts/proximanova_bold_macroman/ProximaNova-Bold-webfont.eot');
 src: url('/static/fonts/proximanova_bold_macroman/ProximaNova-Bold-webfont.eot?iefix') format('eot'),  url('/static/fonts/proximanova_bold_macroman/ProximaNova-Bold-webfont.woff') format('woff'),  url('/static/fonts/proximanova_bold_macroman/ProximaNova-Bold-webfont.ttf') format('truetype'),  url('/static/fonts/proximanova_bold_macroman/ProximaNova-Bold-webfont.svg#webfontgrewrCss') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'ProximaNovaSemibold';
 src: url('/static/fonts/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.eot');
 src: url('/static/fonts/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.eot?iefix') format('eot'),  url('/static/fonts/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.woff') format('woff'),  url('/static/fonts/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.ttf') format('truetype'),  url('/static/fonts/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.svg#webfont0AWgWg75') format('svg');
 font-weight: normal;
 font-style: normal;
}
/* End Web Fonts */

#debug_info {
	border: thin solid black;
	margin: 10px;
	overflow: auto;
	width: 90%;
	max-height: 640px;
}
p {
	line-height: 1.4em;
	margin-bottom: 1.6em;
}
dt {
	line-height: 2em;
	font-weight: bold;
}
h1 {
	background-color: black;
	font-family: ProximaNovaSemibold, sans-serif;
	font-size: 26px;
	text-transform: uppercase;
	padding: 37px 22px 19px 22px;
	color: #FEFEFF;
	margin-bottom: 4px;
}
h2 {
	font-size: 14px;
	background-color: black;
	font-family: ProximaNovaSemibold, sans-serif;
	color: #FEFEFF;
	padding: 10px 14px;
}
h3 {
	font-size: 14px;
}

div.message {
	background-color: #FFFF88;
	font-family: ProximaNovaSemibold, sans-serif;
	font-size: 14px;
	padding: 19px 22px 19px 22px;
	color: #555522;
	margin-bottom: 4px;
	text-align:center;
}


.message span {
	background-color: #FFFF88;
	font-family: ProximaNovaSemibold, sans-serif;
	font-size: 14px;
	padding: 19px 22px 19px 22px;
	color: #555522;
	margin-bottom: 4px;
}
.popup h2, .help h2 {
	cursor: move;
}
.section h2 .button {
	float: right;
	margin: -6px 0 0 6px;
	padding: 6px;
	font-size: 10px;
	color: white;
	font-weight: 400;
}
.help {
	border-collapse: collapse;
	margin: 30px;
}
.help ul {
	list-style: square outside;
}
.help ol {
	list-style: decimal outside;
}
.help li {
	line-height: 1.4em;
	margin-left: 1em;
}
.help ol, .help ul {
	margin-bottom: 2em;
}
.help ol ul {
	margin-bottom: 0;
}
.section h2 .button.helplinkEdit {
	margin-right: 6px;
}
.helplink, a.helplink {
	float: right;
	font-size: 10px;
	color: #d8510f;
	font-family: ProximaNovaBold, sans-serif;
	font-weight: 400;
}
h1 .helplink {
	line-height: 26px;
}
hr {
	border: none;
	height: 0;
	border-bottom: 1px dotted black;
	margin: 0 0 20px 0;
}
img {
	border: none;
}
.code {
	font-family: monospace;
	padding: 1em;
	border: 1px solid #BAB2B0;
	white-space: pre;
	overflow: auto;
}
a {
	color: #006666;
}
a:link, a:visited, a:active {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.disabled_textarea {
	white-space: pre;
}
#csr {
	font-family: "Courier New", Courier, monospace;
	white-space: pre;
}
#content, #header, #footer, #bulkDialogContainer {
	vertical-align: top;
	margin: 0 auto;
}
#footer {
	margin-bottom: 4em;
}
a.button {
	line-height: 13px;
	color: white;
}
a.button:hover {
	text-decoration: none;
}
/*
global header styles
START
*/

#backlink {
	float: left;
}
#logoutBar {
	float: right;
	text-align: right;
	padding: 15px;
	border: 1px solid silver;
	-webkit-box-shadow: 4px 4px 6px #ECECEC;
	box-shadow: 4px 4px 6px #ECECEC;
}
#logout {
	display: inline-block;
}
#logoutBulkSummary {
	border-top: 1px solid silver;
	margin-top: 10px;
	padding-top: 10px;
}
#logoutBulkSummary.collapsed {
	display: none;
}
#secondary-menu {
	width: 100%;
	text-align: right;
	border-bottom: 1px dotted black;
	font-family: ProximaNovaSemibold, sans-serif;
	padding: 14px 0;
	margin-bottom: 10px;
}
#primary-menu a {
	margin-right: 15px;
	font-size: 17px;
}
#primary-menu .last {
	margin-right: 0px;
	padding-right: 0px;
}
#primary-menu a.active, #secondary-menu a.active, #primary-menu li.active-trail a, #secondary-menu li.active-trail a, a.filterSelectType {
	color: #dc8833;
}
#primary-menu {
	font-weight: bold;
	text-align: right;
}
ul.links {
	overflow: visible;
}
ul.links li {
	display: inline-block;
	list-style-type: none;
	padding: 0 10px;
	overflow: visible;
}
#search-theme-form {
	display: inline;
}
#search-theme-form div {
	display: inline;
}
#search label {
	display: none;
}
#search input {
	width: auto;
}
.pageStatus {
	margin: 8px;
}
.search-navigation .page.current {
	color: black;
	border: none;
	outline: none;
	background: transparent;
	text-shadow: none;
}
.search-navigation .page.earlier, .search-navigation .page.later {
	font-weight: bold;
}
/*
global header styles
END
*/

/*
global footer styles
START
*/

#footer {
}
/*
global footer styles
END
*/


/*
 Tabbed Navigation
 START
*/
#main-tabs {
	font-family: ProximaNovaBold, sans-serif;
	overflow: auto;
}
#main-tabs li {
	list-style: none;
	float: left;
	display: table; /* this makes me want to cry */
	margin-right: 0.2em;
	padding: 0;
}
#main-tabs a {
	text-decoration: none;	/* for chrome: text-decoration applies to 'a' tag */
	display: block;
}
#main-tabs span {
	display: table-cell;
	height: 4em;
	padding: 0 1.7em;
	color: white;
	background: #d8510f;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
}
#main-tabs li.active {
	margin-bottom: 0;
}
#main-tabs li.active span {
	height: 4.2em;
	background: black;
}
#main-subtabs {
	clear: both;
	background: black;
	font-family: ProximaNovaSemibold, sans-serif;
	margin-bottom: 3px;
	overflow: auto;
	display: block;
	min-height: 18px;
}
#main-subtabs li {
	padding: 14px 22px;
}
#main-subtabs li.active {
	background: no-repeat bottom url('../img/subtabs-active.png');
}
#main-subtabs a {
	color: #f45000;
	text-decoration: none;
}
#main-subtabs a:hover, #main-subtabs li.active a {
	color: #FEFEFF;
}
#main-subtabs a.active {
}
/*
 Tabbed Navigation
 END
*/


/* Forms */

/* Select Menu faked pulldowns */
.selectmenu {
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: url("../img/pulldown.png") no-repeat scroll right center transparent;
	border: 1px solid #bab2b0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px inset;
	box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.1) inset;
	display: inline-block;
	font-family: Georgia, serif;
	font-size: 12px;
	margin-bottom: 4px;
	overflow: hidden;
	padding: 6px;
	vertical-align: middle;
	width: 100%;
}
.search-navigation .selectmenu {
	width: 75px;
}
.selectmenu select {
	border-width: 0;
	margin: 0;
	padding: 0;
	min-width: 120%;
	background: url('') repeat scroll 0 0 transparent;
	-webkit-box-shadow: none;
	box-shadow:  none;
	-webkit-appearance: textfield;
}
.selectmenu option {
	background: none repeat scroll 0 0 transparent;
}
div.textfield input {
	border: none;
	padding: 0;
	margin: 1px;
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
div.textfield button {
	outline: 0 none;
	margin: 0;
}
input:focus, select:focus, textarea:focus, .selectmenu.focus {
	border: 1px solid blue;
	-webkit-box-shadow: 0 0 5px #6495ed;
	box-shadow: 0 0 5px #6495ed;
	background: white;
}
.selectmenu select:focus {
	background:transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.selectmenu.focus {
	background: url("../img/pulldown.png") no-repeat scroll right center transparent;
}
input:focus {
	outline: none; /* get rid of webkit highlighting */
}

.subsection .actions, .subsection .buttons {
	padding: 20px 0 0 0;
	margin-top: 20px;
	width: auto;
	border-top: 1px dotted black;
}
.section > .buttons {
	margin-bottom: 3em;
}
.actions, .buttons {
	width: 100%;
	text-align: right;
}
h2 .button, .actions button, .actions .button, .buttons button, .buttons .button {
	margin-left: 10px;
}
.group.columnButtons {
	border-top: 0;
	border-bottom: 1px dotted black;
	padding: 0 0 10px 0;
	margin: 0 0 20px 0;
}
.columnButtons .button, .columnButtons button {
	width: 100%;
	display: block;
}
.group button, .group .button {
	margin: 0 0 10px 0;
}
.buttons .buttonLeft, .buttons .revertLink {
	float: left;
	margin-left: 0;
}
.optional {
	font-weight: normal;
}
.column {
	display: inline-block;
	width: 20%;
	vertical-align: top;
	border-right: 1px dotted black;
	margin: 0 30px 30px 0;
	padding-right: 30px;
	box-sizing: content-box;
	-ms-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}
.subsection .column.last {
	border-right: none;
	margin-right: 0;
	padding-right: 0;
	width: 18%;
}
.column .group {
	display: block;
	width: auto;
}
.group {
	margin-bottom: 1em;
	vertical-align: top;
}
span.field {
	font-weight: normal;
}
.success p.message, p.message.success {
	color: green;
	font-weight: bold;
}
.error p.message, p.message.error {
	color: red;
	font-weight: bold;
}
.field .error {
	display: block;
}
/* error/status messages - begin */
.statusMessage {
	margin-bottom: 14px;
	font-weight: bold;
}
.sectionMessage {
	padding: 30px;
}
.statusMessageFieldList {
	font-weight: normal;
	margin-top: 1em;
}
.statusMessageFieldList li {
	list-style-type: disc;
	margin-left: 1em;
	margin-bottom: 1em;
}
.statusMessage.success {
	color: green;
}
.sectionMessage.success, .subsection.success {
	background-color: #e4f3dd;
}
.statusMessage.error {
	color: #c80000;
}
.sectionMessage.error, .subsection.error {
	background-color: #fae4e6;
}
.statusMessage.warning {
	color: #f45000;
}
/* error/status messages - end */


/* Tables */

table {
	font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size:12px;
	width:100%;
	text-align:left;
	border-collapse:collapse;
	border:1px solid #dee;
	margin-left:auto;
	margin-right:auto;
}
th {
	font-weight:normal;
	font-size:14px;
	color:#039;
	padding:15px 10px 10px;
	text-align:center;
	font-weight:600;
}

th.sort_asc:after { content: "▲";}
th.sort_desc:after {content: "▼";}

tbody {
	background:#ddeded;
}
td {
	color:#033;
	border-top:1px dashed #fff;
	padding:10px;
}
tbody tr:hover td {
	color:#339;
	background:#9cc;
}
th .sort {
	color: #033;
	margin-left: 6px;
	font-weight: bold;
	font-size: 10px;
}
/*.header th {
	border-bottom: 1px solid #DDD;
	border-right: none;
} */

tr.first > * {
	padding-top: 1em;
}
tr.last > * {
	padding-bottom: 1em;
}
tfoot td {
	text-align: center;
	border-top: 1px solid #DDD;
	font-size: smaller;
}
/*

tr:nth-of-type(even) {
	background-color: #eee;
}
 */

/* taskbar */

#taskbar_wrapper {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	z-index: 99;
	width: 100%;
}
#taskbar {
	width: 92%;
	margin-right: 4%;
	margin-left: 4%;
	overflow: visible;
	background: #eee;
	border: 1px #bbb;
	border-style: solid solid none solid;
	padding: 5px;
	text-align: center;
}
#taskbar div {
	display: inline;
}
/* forms */

form {
	padding: 0;
	margin: 0;
	display: inline;
}
.section {
	margin-bottom: 20px;
	background-color: white;
	position:relative;
	padding: 20px 20px 0 20px;
	display: block;
	min-height: 30px;
	border: 1px solid silver;
	-webkit-box-shadow: 4px 4px 6px #ECECEC;
	box-shadow: 4px 4px 6px #ECECEC;
}
.helpSubSection, .subsection {
	border-color: black;
	border-style: none dotted solid dotted;
	border-width: 0 1px 3px 1px;
	margin-bottom: 20px;
	padding: 30px;
	display: block;
}
.search-messages.subsection {
	border: none;
	margin: 0;
	padding: 0;
	font-size: larger;
	font-weight: bold;
}
.search-messages.subsection.success, .search-messages.subsection.error {
	background-color: transparent;
}
/* ****************************  Default Form Formating ********************************** */
/* http://webdesign.tutsplus.com/tutorials/site-elements/bring-your-forms-up-to-date-with-css3-and-html5-validation/ */

fieldset {
	border: 3px dotted silver;
	padding: 10px;
	background-color: #EEE;
}
legend {
	font-size:1.1em;
	font-weight: bold;
	padding:0.4em 0.8em;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 4px;
	border: 1px solid silver;
	background-color: #fff;
}
/* === Form Typography === */
.default {
	font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
.default h2, .default label {
	font-family:Georgia, Times, "Times New Roman", serif;
}
.form_hint, .required_notification {
	font-size: 11px;
}
/* === List Styles === */
.default ul.multiselect {
	width:auto;
	list-style-type:none;
	list-style-position:outside;
	margin:0px;
	padding:0px;
	display:inline;
}

.default .multiselect li {
	padding:4px;
	border-bottom:none;
	position:static;
	display:inline;
}

.default  .multiselect li:first-child, {
 	border-top:none;
 	display:inline;
}
.default .multiselect li:last-child {
	border-bottom:none;
	display:inline;
}


.default ul {
	width:750px;
	list-style-type:none;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}
.default li {
	padding:12px;
	border-bottom:1px solid #eee;
	position:relative;
}
.default li:first-child, {
 border-top:1px solid #777;
}
.default li:last-child {
	border-bottom:1px solid #777;
}
/* === Form Header === */
.default h2 {
	margin:0;
	display: inline;
}
.required_notification {
	color:#d45252;
	margin:5px 0 0 0;
	display:inline;
	float:right;
}
/* === Form Elements === */
.default label {
	width:200px;
	margin-top: 3px;
	display:inline-block;
	float:left;
	padding:3px;
}
.default label.slim {
	width:10px;
	margin-top: 2px;
	display:inline-block;
	float:left;
	padding:2px;
}


.default input {
	height:20px;
	width:220px;
	padding:5px 8px;
}
.default textarea {
	padding:8px;
	width:400px;
}
/* form element visual styles */

.default input[type=checkbox], input[type=radio] {
	border: none;
	padding: 0.1em;
	width:auto;
}


	.default input, .default textarea {
	border:1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border-radius:2px;
	padding-right:30px;
 -moz-transition: padding .25s;
 -webkit-transition: padding .25s;
 -o-transition: padding .25s;
 transition: padding .25s;
}
.default input:focus, .default textarea:focus {
	background: #fff;
	border:1px solid #555;
	box-shadow: 0 0 3px #aaa;
	padding-right:70px;
}

.form_view {
	
	font-size:1.1em;
	font-weight:700;
	}


/* === HTML5 validation styles === */	
.default input:required, .default textarea:required {
 background: #fff url(../img/red_asterisk.png) no-repeat 98% center;
}
 .default input:readonly, .default textarea:readonly {
 background-color: #e0e0e0;
}
 .default input:required:valid, .default textarea:required:valid {
 background: #fff url(../img/valid.png) no-repeat 98% center;
 box-shadow: 0 0 5px #5cd053;
 border-color: #28921f;
}
.default input:focus:invalid, .default textarea:focus:invalid {
 background: #fff url(../img/invalid.png) no-repeat 98% center;
 box-shadow: 0 0 5px #d45252;
 border-color: #b03535
}
/* === Form hints === */
.form_hint {
	background: #d45252;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	display: none;
}
.form_hint::before {
 content: "\25C0";
 color:#d45252;
 position: absolute;
 top:1px;
 left:-6px;
}
.default input:focus + .form_hint {
	display: inline;
}
.default input:required:valid + .form_hint {
background: #28921f;
}
.default input:required:valid + .form_hint::before {
color:#28921f;
}
/* === Button Style === */
button.submit {
	background-color: #68b12f;
	background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
	background: -webkit-linear-gradient(top, #68b12f, #50911e);
	background: -moz-linear-gradient(top, #68b12f, #50911e);
	background: -ms-linear-gradient(top, #68b12f, #50911e);
	background: -o-linear-gradient(top, #68b12f, #50911e);
	background: linear-gradient(top, #68b12f, #50911e);
	border: 1px solid #509111;
	border-bottom: 1px solid #5b992b;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #9fd574;
	-webkit-box-shadow: 0 1px 0 0 #9fd574 inset;
	-moz-box-shadow: 0 1px 0 0 #9fd574 inset;
	-ms-box-shadow: 0 1px 0 0 #9fd574 inset;
	-o-box-shadow: 0 1px 0 0 #9fd574 inset;
	color: white;
	font-weight: bold;
	padding: 6px 20px;
	text-align: center;
	float:right;
	text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
	opacity:.85;
	cursor: pointer;
}
button.submit:active {
	border: 1px solid #20911e;
	box-shadow: 0 0 10px 5px #356b0b inset;
	-webkit-box-shadow:0 0 10px 5px #356b0b inset;
	-moz-box-shadow: 0 0 10px 5px #356b0b inset;
	-ms-box-shadow: 0 0 10px 5px #356b0b inset;
	-o-box-shadow: 0 0 10px 5px #356b0b inset;
}
button {
	background-color: #686868;
	background: -webkit-gradient(linear, left top, left bottom, from(#686868), to(#505050));
	background: -webkit-linear-gradient(top, #686868, #505050);
	background: -moz-linear-gradient(top, #686868, #505050);
	background: -ms-linear-gradient(top, #686868, #505050);
	background: -o-linear-gradient(top, #686868, #505050);
	background: linear-gradient(top, #686868, #505050);
	border: 1px solid #404040;
	border-bottom: 1px solid #5b5b5b;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #9f9f9f;
	-webkit-box-shadow: 0 1px 0 0 #9f9f9f inset;
	-moz-box-shadow: 0 1px 0 0 #9f9f9f inset;
	-ms-box-shadow: 0 1px 0 0 #9f9f9f inset;
	-o-box-shadow: 0 1px 0 0 #9f9f9f inset;
	color: white;
	font-weight: bold;
	padding: 6px 20px;
	text-align: center;
	float:right;
	text-shadow: 0 -1px 0 #393939;
}
button:hover {
	opacity:.85;
	cursor: pointer;
}
button:active {
	border: 1px solid #202020;
	box-shadow: 0 0 10px 5px #353535 inset;
	-webkit-box-shadow:0 0 10px 5px #353535 inset;
	-moz-box-shadow: 0 0 10px 5px #353535 inset;
	-ms-box-shadow: 0 0 10px 5px #353535 inset;
	-o-box-shadow: 0 0 10px 5px #353535 inset;
}
label:after {
	content: ":";
}
/* **************************** END Default Form Formating ********************************** */



/*  Login Box Box */



#content {
	width: 960px;
	float: left;
	padding-top: 30px;
	margin-top: -7px;
	padding-bottom: 20px;
}
#content .column {
	float: left;
	width: 300px;
	padding-left: 25px;
	margin-right: 25px;
}
#content .column h3 {
	float: left;
	border-bottom: 1px solid #eee;
	margin-bottom: 25px;
	padding-bottom: 10px;
	font-family: 'Nobile', arial, serif;
	background: none;
	text-indent: 0;
	letter-spacing: 1px;
	color: #444;
	text-transform: uppercase;
}
#content .column .search label {
	color: #6f6f6f;
	font-size: 14px;
	display: block;
	margin-bottom: 1em;
}
#content .column .search form {
	height: auto;
	width: auto;
}
#content .column .search form p {
	margin-bottom: 2em;
	clear: left;
}
#content .form-wrapper {
	width: 680px;
	margin: 0 auto;
	-webkit-border-radius: 8px;
	border: 1px solid #d8410f;
	-webkit-box-shadow: 0px 0px 5px #f45000;
	background: url(../img/form-gradient.png) repeat-x #d8510f;
}
#content #log-in {
	background: url(../img/form-light.png) no-repeat top center;
	width: 520px;
	padding-left: 80px;
	float: left;
}
#content .form-wrapper h1 {
	font-size: 34px;
	color: #FFF;
	text-shadow: 0px -1px #d8510f;
	font-weight: bold;
	text-align: center;
	margin: 10px auto 16px;
}
#content #log-in h1 {
	background-color:transparent;
}
#content form .form-wrapper a {
	color: #512700;
	text-shadow: 0px 1px #dc944f;
	border-bottom: 1px solid #925010;
}
#content form .form-wrapper p {
	width: 450px;
	text-align: center;
	margin: 0 auto;
	color: #79420d;
	font-weight: bold;
	font-size: 12px;
	line-height: 17px;
	text-shadow: 0px 1px #dd9e61;
}
#content form .form-wrapper p.alt-login {
	font-size: 13px;
	margin-top: 5px;
	margin-bottom: 10px;
}
#openid_login_fields {
	height: 308px;
}
.login_hidden {
	display: none;
}
#content .form-wrapper .horisontal-shadow {
	width: 520px;
	float: left;
	margin-top: 30px;
	height: 39px;
	background: url(../img/form-shadow.png) no-repeat top right;
}
#content .form-wrapper ul li {
	width: 520px;
	float: left;
	margin-bottom: 20px;
}
#content .form-wrapper ul li label {
	width:520px;
	float: left;
	font-weight: 500;
	font-size: 15px;
	color: #573310;
	text-shadow: 0px 1px #dd9956;
	padding-bottom: 7px;
}
#content .form-wrapper ul li input[type='text'], #content .form-wrapper ul li input[type='password'] {
	height: 44px;
	padding: 0px 10px;
	background: #FFF;
	font-weight: 200;
	letter-spacing: normal;
	width: 500px;
	-webkit-box-shadow: 0px 0px 2px #FFF, 2px 2px 3px #ccc inset;
	border: 0;
	border: 1px solid #b3814f;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #505050;
}
#content .form-wrapper ul li input[type='text']:focus, #content .form-wrapper ul li input[type='password']:focus {
	background: #fffae5;
	border: 1px solid #9e6a35;
}
#content .form-wrapper ul li div.tos {
	width: 350px;
	margin-top: -10px;
	float: left;
	padding-top: 6px;
}
#content .form-wrapper ul li div.tos input {
	padding: 0;
	float: left;
}
#content .form-wrapper ul li div.tos label {
	width: 250px;
	padding-left: 4px;
	float: left;
}
#content .form-wrapper ul li div.submit {
	float: right;
	width: 150px;
}
#content .form-wrapper input[type='submit'] {
	width: 112px;
	height: 43px;
	cursor: pointer;
	-webkit-box-shadow: none;
	float: right;
	border: 0;
	text-indent: -9999px;
}
#content .form-wrapper#signup input[type='submit'] {
	background: url(../img/sprite.png) no-repeat -2px -23px;
}
#content .form-wrapper#signup input[type='submit']:active {
	background-position: -116px -23px;
}
#content .form-wrapper#login input[type='submit'] {
	background: url(../img/sprite.png) no-repeat -2px -67px;
}
#content .form-wrapper#login input[type='submit']:active {
	background-position: -116px -67px;
}
#content .form-wrapper#forgotpw input[type='submit'] {
	width: 291px;
	background: url(../img/sprite.png) no-repeat -2px -127px;
}
#content .form-wrapper#forgotpw input[type='submit']:active {
	width: 291px;
	background: url(../img/sprite.png) no-repeat -296px -127px;
}
#content .form-wrapper#resetpw input[type='submit'] {
	width: 119px;
	background: url(../img/sprite.png) no-repeat -2px -344px;
}
#content .form-wrapper#resetpw input[type='submit']:active {
	width: 119px;
	background: url(../img/sprite.png) no-repeat -125px -344px;
}



/*  ***** Pop Box ***** */


.popbox {
	margin:0px auto;
	text-align:center;
	position:relative;
}
.collapse {
	position:relative;
}
/*  Makes link look like a button */
.open {
/*	background:#DDD;
	border:solid 1px #FFF;
	border-radius:5px;
	box-shadow: 0px 0px 5px #CCC;
	background:-webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e8e8e8));
	background:-moz-linear-gradient(top, #f4f4f4, #e8e8e8);
	background:linear-gradient(top, #f4f4f4, #e8e8e8);
	padding:8px; */
}
.box {
	display:block;
	display:none;
	background:#FFF;
	border:solid 1px #BBBBBB;
	border-radius:5px;
	box-shadow:0px 0px 15px #999;
	position:absolute;
}
.box a.close {
	color:f45000;
	font-size:12px;
	font-family:arial;
	text-decoration:underline;
}
.arrow {
	width: 0;
	height: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 11px solid #FFF;
	position:absolute;
	left:1px;
	top:-10px;
	z-index:1001;
}
.arrow-border {
	width: 0;
	height: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 11px solid #BBBBBB;
	position:absolute;
	top:-12px;
	z-index:1000;
}
.simple-player-container {
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.simple-player-container > div > ul {
	margin: 0;
	padding-left: 0;
}
.simpleplayer-play-control {
	background-image: url('../img/play.png');
	display: block;
	width: 16px;
	height: 16px;
	bottom: -5px;
	position: relative;
}
.simpleplayer-play-control:hover {
	background-image: url('../img/playing.png');
}
.simpleplayer-stop-control {
	background-image: url('../img/stop.png');
	display: block;
	width: 16px;
	height: 16px;
	bottom: -5px;
	position: relative;
}
.simpleplayer-stop-control:hover {
	background-image: url('../img/stopped.png');
}


/*  ***** END Pop Box ***** */
