{% extends _layout %}
{% import "macros.twig" as macro %}
{% block content %}
<form method="post" accept-charset="utf-8" action="{{ form_post_url }}" class="default">
  <div class="grid_6">

    <table>
      <thead>
	          <tr >
          <td colspan="3"><h2>Call Sequence (what caller hears)<h2></td>
        </tr>

        <tr>
          <td>Del</td>
          <td>Step</td>
          <td>Action</td>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="3">After step:
            <select>
              <option>9</option>
            </select>
            add new step:
            <select>
              <option> --- select new sequence to add ---</option>
            </select></td>
        </tr>
      </tfoot>
      <tr>
        <td><input type="checkbox"></td>
        <td>#1</td>
        <td>Answer the incoming call</td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td>#2</td>
        <td>Go to:
          <select>
            <option>NightMode</option>
          </select>
          <img alt="go"/>when in Night Mode</td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td>#3</td>
        <td>Wait
          <select>
            <option>2</option>
          </select>
          <int alt="go"/>
          seconds(s) - listen for Keypress</td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td>#4</td>
        <td>Wait:
          <select>
            <option>2</option>
          </select>
          second(s) - listen for Keypress</td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td>#5</td>
        <td>Play:
          <select>
            <option>DaytimeGreeting</option>
          </select>
          <img alt="listen"/> listen for Keypress</td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td>#6</td>
        <td>Wait:
          <select>
            <option>5</option>
          </select>
          second(s) - listen for Keypress</td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td>#7</td>
        <td>Go to:
          <select>
            <option>x210 Irma Hartley</option>
          </select>
          <img alt="go"/> - instantly</td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td>#8</td>
        <td>Go to voice mailbox:
          <select>
            <option>210</option>
          </select></td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td>#9</td>
        <td>Play:
          <select>
            <option>goodbye</option>
          </select>
          <img alt="listen"/> listen for Keypress</td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td>#10</td>
        <td>Hang-up the call</td>
      </tr>
    </table>
  </div>
  <div class="grid_6">
    <table>
      <thead>
        <tr >
          <td colspan="3"><h2>Keypress Options<h2></td>
        </tr>
        <tr>
          <td>Del</td>
          <td>If caller presses</td>
          <td>Go to Submenu / ext</td>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="3">Add New Keypress
            <select>
              <option>5</option>
            </select>
            Go to:
            <select>
              <option>Type or click to select</option>
            </select></td>
        </tr>
        <tr>
          <td colspan="3">* Any extension may be dialed while waiting for a keypress</td>
        </tr>

        <tr>
          <td colspan="3"><a href="#">Quick Create Submenu</a></td>
        </tr>
      </tfoot>
      <tr>
        <td><input type="checkbox"/></td>
        <td><select>
            <option>0</option>
          </select></td>
        <td><select>
            <option>x210 Irma Hartley</option>
          </select>
          <img alt="go"/></td>
      </tr>
      <tr>
        <td><input type="checkbox"/></td>
        <td><select>
            <option>1</option>
          </select></td>
        <td><select>
            <option>Department-Listing</option>
          </select>
          <img alt="go"/></td>
      </tr>
      <tr>
        <td><input type="checkbox"/></td>
        <td><select>
            <option>3</option>
          </select></td>
        <td><select>
            <option>Employee-Director</option>
          </select>
          <img alt="go"/></td>
      </tr>
      <tr>
        <td><input type="checkbox"/></td>
        <td><select>
            <option>4</option>
          </select></td>
        <td><select>
            <option>Hours-and-addres</option>
          </select>
          <img alt="go"/></td>
      </tr>
      <tr>
        <td><input type="checkbox"/></td>
        <td><select>
            <option>6</option>
          </select></td>
        <td><select>
            <option>Check-voicemail</option>
          </select>
          <img alt="go"/></td>
      </tr>
      <tr>
        <td><input type="checkbox"/></td>
        <td><select>
            <option>9</option>
          </select></td>
        <td><select>
            <option>Name-Directory</option>
          </select>
          <img alt="go"/></td>
      </tr>
    </table>
  </div>
</form>
{% endblock%}