{% extends _layout %}
{% import "m_form.twig" as macro %}
{% block content %}
<!-- broadcast/cru -->
<style type="text/css">
#queue {
	border: 4px dashed #E5E5E5;
	height: 90px;
	overflow: auto;
	margin-bottom: 10px;
	padding: 0 3px 3px;
	width: 300px;
}
</style>

<div class="grid_2">&nbsp;</div>
<div class="grid_8">
  <form method="post" accept-charset="utf-8" action="{{ form_post_url }}" class="default">
    {{ macro.form_buttons(view_type, edit_url, back_url) }}
    <ul>
	
	{{ macro.form_fields(view_type, fil) }}
	

	</ul>
    {% if id_template is defined %}
    {% if fil|length > 8 %}{{ macro.form_buttons(view_type, edit_url, back_url) }} {% endif %}
    <input type="hidden" name="id_template" value="{{ id_template }}" />
    {% endif %}
  </form>
  {{  macro.form_update_info(view_type, fvl.updated_at.value, fvl.updated_by.value, fvl.created_at.value) }}<br/>
  {% if advanced_url is defined%}<a href="{{ advanced_url }}">Advanced ►</a> {% endif %} </div>
<div class="clear"></div>
<br/>
	<script type="text/javascript">
		<?php $timestamp = time();?>
		$(function() {
			$('#file_upload').uploadifive({
				'auto'             : true,
				'checkScript'      : 'check-exists.php',
				'formData'         : {
									   'timestamp' : '<?php echo $timestamp;?>',
									   'token'     : '<?php echo md5('unique_salt' . $timestamp);?>'
				                     },
				'queueID'          : 'queue',
				'uploadScript'     : 'uploadifive.php',
				'onUploadComplete' : function(file, data) { console.log(data); }
			});
		});
	</script>

{% endblock%}