<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Hello PBX: {{ title }}</title>
<link rel="icon" href="{{ template.project_path }}/favicon.ico">
<link rel="stylesheet" type="text/css" href="{{ template.css_path }}/reset.css" />
<link rel="stylesheet" type="text/css" href="{{ template.css_path }}/text.css" />
<link rel="stylesheet" type="text/css" href="{{ template.css_path }}/960.css" />
<link rel="stylesheet" type="text/css" href="{{ template.css_path }}/style.css" />
<link rel="stylesheet" type="text/css" href="/res/css/smoothness/jquery-ui-1.10.0.custom.css">
<link rel="stylesheet" type="text/css" href="/res/css/uploadifive.css">
<script type="text/javascript" src="/res/js/jquery-1.9.0.js"></script>
<script type="text/javascript" src="/res/js/jquery-ui-1.10.0.custom.js"></script>
<script type="text/javascript" src="/res/js/jquery.uploadifive.min.js"></script>
</head>
<body>
<div class="container_12">
  <div class="clear"></div>
  {% block preheader %}
  <div class="grid_12">
    <div id="secondary-menu"> <a href="http://www.hellopbx.net" target="_blank" id="backlink">← To HelloPBX.net Main Site</a>
      <ul class="links secondary-menu">
        <li class="first"><a href="http://www.hellopbx.net/why-hellopbx" target="_blank" >Why HelloPBX?</a></li>
        <li><a href="http://www.hellopbx.net/services" target="_blank">Services</a></li>
        <li><a href="http://www.hellopbx.net/integration" target="_blank">Integration</a></li>
        <li><a href="http://wiki.hellopbx.net/sites/" target="_blank">Wiki</a></li>d
        <li><a href="http://wiki.hellopbx.net/forum" class="last" target="_blank">Support</a></li>
      </ul>
    </div>
  </div>
  {% endblock %}
  <div class="clear"></div>
  <div class="grid_6">
    <p> <a href='/'><img src='{{ template.image_path }}logo.png' /></a> </p>
  </div>
  
  <!-- end .grid_8 -->
  <div class="grid_6"> {% block login %}
    <div id="logoutBar"> Welcome <a href='{{ template.project_path }}app/users/usersupdate.php'>{{ username }}.</a> | <a id="headerLogoutLink" href="{{ template.project_path }}account/sign_out/">Sign Out</a><br/>
      <span>Balance: <a href='{{ template.project_path }}app/payment/index.php'>{{ nibblebalance }}</a></span> | <span>Check <a href='{{ template.project_path }}app/voicemail_msgs/v_voicemail_msgs.php'>Voice Mail</a></span> </div>
    {% endblock %} </div>
  <div class="clear"></div>
  <div class="grid_12">
    <div id="main-tabs"> <!---  Menu Bar -->{% block menu %}
      <ul class='links'>
        {% for row in menu %} <li{% if row.key == menu_current %} class="active"{% endif %}><a href='{{ template.project_path }}{{ row.key }}/'><span>{{ row.name }}</span></a>
        </li>
        {% else %}
        <li class="active"><a href='{{ template.project_path }}account/account_settings/'><span>Account</span></a></li>
        {% endfor %}
      </ul>
      {%endblock %} 
      <!---  / Menu Bar --> </div>
    <div id="main-subtabs"> {% block submenu %}
      <ul class='links'>
        {% for submenu_item in submenu %} <li{% if submenu_item.key == submenu_current %} class="active"{% endif %}><a href='{{ template.project_path }}{{ submenu_item.key }}/'>{{ submenu_item.name }}</a>
        </li>
        {% endfor %}
      </ul>
      {%endblock %} </div>
  </div>
  <!-- / Site Navigation  -->
  <div class="clear"></div>
  {% if title is defined %}
  <div class="grid_12">
    <h1>{{ title }}</h1>
  </div>
  <div class="clear"></div>
  {% endif %}
  {% if page_explanation is defined %}
  <div class="grid_1">&nbsp;</div>
  <div class="grid_10">
    <h3>{{ page_explanation }}</h3>
  </div>
  <div class="clear"></div>
  {% endif %}
  {% if messages is defined %}
  <div class="grid_2">&nbsp;</div>
  <div class="grid_8 message">
    <ol>{{ messages }}</ol>
  </div>
  <div class="clear"></div>
  {% endif %} 
  <!---  Main Content --> 
  {% block content %}
  <div class="grid_12">Main Content Here.</div>
  {% endblock %} 
  <!---  / Main Content -->
  <div class="clear"></div>
  <div class="grid_12">
    <p> <span class='smalltext'> <a class='smalltext' target='_blank' href='http://www.heliavoice.ca'>HeliaVoice Inc</a> Copyright &copy; 2012. All Rights Reserved</span></p>
  </div>
</div>
</body>
</html>
