{#  *******************  input_text  ***************************#}
{% macro input_text(view_type,name, value, label, type, placeholder, form_hint, field_error, field_error2, maxsize, required, reference, tabindex, is_readonly) %}
{% if view_type != 'view' and is_readonly == 'f' %}
          <label for="{{ name }}">{{ label }}</label>
          <input type='{{ type }}' name='{{ name }}' id="{{ name }}" {% if  maxlength != "" %} maxlength="{{ maxlength }}"{% endif %} {% if required|lower != "f" and required != "" %} required="required"{% endif %} placeholder="{{ placeholder }}"  value="{{ value }}"><span class="form_hint">{{ form_hint }}</span>
		  <a href="{% if reference|lower|slice(0, 4) == "http" %}{{ reference }}{% else %}http://wiki.hellopbx.net/{{ reference }}{% endif %}" target="_blank"><img title="{{ form_hint }}" height="16" width="16" src="/res/default/img/question.png"/></a>
           <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span>
{% else %}
<label for="{{ name }}">{{ label }}</label> <span id="{{ name }}" class="form_view">&nbsp;{{ value }}</span>
{% endif %}
{% endmacro %}

{#  *******************  input_mac  ***************************#}
{% macro input_mac(view_type,name, value, label, type, placeholder, form_hint, field_error, field_error2, maxsize, required, reference, tabindex, is_readonly) %}
{% import "macros.twig" as forms %}
{% if view_type != 'view' and is_readonly == 'f' %}
          <label for="{{ name }}">{{ label }}</label>
          <input type='text' name='{{ name }}' id="{{ name }}" {% if  maxlength != "" %} maxlength="{{ maxlength }}"{% endif %} {% if required|lower != "f" and required != "" %} required="required"{% endif %} placeholder="{{ placeholder }}"  value="{{ forms.format_mac(value) }}"><span class="form_hint">{{ form_hint }}</span>
		  <a href="{% if reference|lower|slice(0, 4) == "http" %}{{ reference }}{% else %}http://wiki.hellopbx.net/{{ reference }}{% endif %}" target="_blank"><img title="{{ form_hint }}" height="16" width="16" src="/res/default/img/question.png"/></a>
           <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span>
{% else %}
<label for="{{ name }}">{{ label }}</label> <span id="{{ name }}" class="form_view">&nbsp;{{ forms.format_mac(value) }}</span>
{% endif %}
{% endmacro %}


{#  *******************  input_tel  ***************************#}
{% macro input_tel(view_type,name, value, label, type, placeholder, form_hint, field_error, field_error2, maxsize, required, reference, tabindex, is_readonly) %}
{% import "macros.twig" as forms %}
{% if view_type != 'view' and is_readonly == 'f' %}
          <label for="{{ name }}">{{ label }}</label>
          <input type='tel' name='{{ name }}' id="{{ name }}" {% if  maxlength != "" %} maxlength="{{ maxlength }}"{% endif %} {% if required|lower != "f" and required != "" %} required="required"{% endif %} placeholder="{{ placeholder }}"  value="{{ forms.format_nanpa(value) }}"><span class="form_hint">{{ form_hint }}</span>
		  <a href="{% if reference|lower|slice(0, 4) == "http" %}{{ reference }}{% else %}http://wiki.hellopbx.net/{{ reference }}{% endif %}" target="_blank"><img title="{{ form_hint }}" height="16" width="16" src="/res/default/img/question.png"/></a>
           <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span>
{% else %}
<label for="{{ name }}">{{ label }}</label> <span id="{{ name }}" class="form_view">&nbsp;{{ forms.format_nanpa(value) }}</span>
{% endif %}
{% endmacro %}


{#  *******************  input_id  ***************************#}
{% macro input_id(view_type,name, value, label, type, placeholder, form_hint, field_error, field_error2, maxsize, required, reference, tabindex, is_readonly) %}
{% if view_type != 'view' and is_readonly == 'f' %}
          <label for="{{ name }}">{{ label }}</label>
		  <label for="{{ name }}">{{ label }}</label> <span id="{{ name }}" class="form_view">&nbsp;{{ value }}</span>		  
		  
		  {% if value|length > 0 %}<input type="hidden" name="{{ name }}' id="{{ name }}" value="{{ value }}" />{% endif %}<span class="form_hint">{{ form_hint }}</span>
		  <a href="{% if reference|lower|slice(0, 4) == "http" %}{{ reference }}{% else %}http://wiki.hellopbx.net/{{ reference }}{% endif %}" target="_blank"><img title="{{ form_hint }}" height="16" width="16" src="/res/default/img/question.png"/></a>
           <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span>
{% else %}
<label for="{{ name }}">{{ label }}</label> <span id="{{ name }}" class="form_view">&nbsp;{{ value }}</span>
{% endif %}
{% endmacro %}



{#  *******************  input_file  ***************************#}
{% macro input_file(view_type,name, value, label, form_hint, field_error, field_error2, reference, tabindex , is_readonly, timestamp, timestamp_md5, script_upload, script_check, mime) %}
{% if view_type != 'view'  and is_readonly == 'f' %}
          <label for="{{ name }}">{{ label }}</label>
          <div id="queue" align="center"><span style="color:#E5E5E5"><i>Drop Files Here</i></span></div><input  class="form_view" id="{{ name }}" name="{{ name }}" type="file" multiple>
		  <span class="form_hint">{{ form_hint }}</span>
		  <a href="{% if reference|lower|slice(0, 4) == "http" %}{{ reference }}{% else %}http://wiki.hellopbx.net/{{ reference }}{% endif %}" target="_blank"><img title="{{ form_hint }}" height="16" width="16" src="/res/default/img/question.png"/></a>
           <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span>
{% if value is defined %}
	{% if mime == 'image/tiff' or mime == 'application/pdf' %}
		<img alt="{{ value }}" src="../../asset/{{ value }}" />
	{% elseif mime == 'image/png' %}
		<img alt="{{ value }}" src="../../asset/{{ value }}" />
	{% elseif mime == 'audio/wav' or mime == 'audio/mpeg' %}
		<audio controls><source src="../../asset/{{ value }}" type='{{ mime }}'></audio>
	{% elseif mime == 'text/plain'  %}
		<code>{{ value }}</code>
	{% else %}
		<a target="_new" alt="{{ value }}" href="../../asset/{{ value }}">{{ value }}</a>
	{% endif %}	
	{% endif %}
	
	
	<script type="text/javascript">
		$(function() {
			$('#{{ name }}').uploadifive({
				'auto'             : true,
				'checkScript'      : '{{ script_check }}',
				'formData'         : {
									   'timestamp' : '{{ timestamp }}',
									   'token'     : '{{ timestamp_md5 }}'
				                     },
				'queueID'          : 'queue',
				'uploadScript'     : '{{ script_upload }}',
				'onUploadComplete' : function(file, data) { console.log(data);}
			});
		});
	</script>		   
{% else %}
<label for="{{ name }}">{{ label }}</label><span id="{{ name }}" class="form_view">&nbsp;
{% if value is defined %}
	{% if mime == 'image/tiff' or mime == 'application/pdf' %}
		<img alt="{{ value }}" src="../../asset/{{ value }}" />
	{% elseif mime == 'image/png' %}
		<img alt="{{ value }}" src="../../asset/{{ value }}" />
	{% elseif mime == 'audio/wav' or mime == 'audio/mpeg' %}
		<audio controls><source src="../../asset/{{ value }}" type='{{ mime }}'></audio>
	{% elseif mime == 'text/plain'  %}
		<code>{{ value }}</code>
	{% else %}
		<a target="_new" alt="{{ value }}" href="../../asset/{{ value }}">{{ value }}</a>
	{% endif %}
{% else %}
<i>Not Set</i>
{% endif %}



</span>
{% endif %}
{% endmacro %}


{#  *******************  input_yes_no_notset  (deprecated - use input_yes_no instead) ***************************#}
{% macro input_yes_no_notset(view_type,name, value, label, type, placeholder, form_hint, field_error, field_error2, maxsize, required, reference, tabindex, is_readonly ) %}
{% if view_type != 'view' and is_readonly == 'f' %}
          <label>{{ label }}</label><ul class="multiselect" >
          <li><input type="radio" name='{{ name }}' id="{{ name }}_true" value="t" {%if value == "t" %}checked="checked"{% endif %}/>Yes</li>
          <li><input type="radio" name='{{ name }}' id="{{ name }}_false" value="f" {%if value == "f" %}checked="checked"{% endif %}/>No</li>
          <li><input type="radio" name='{{ name }}' id="{{ name }}_notset" value="" {%if value != "t" and value != "f" %}checked="checked"{% endif %}/>Not set</li></ul>
		  <a href="{% if reference|lower|slice(0, 4) == "http" %}{{ reference }}{% else %}http://wiki.hellopbx.net/{{ reference }}{% endif %}" target="_blank"><img title="{{ form_hint }}" alt="Ext Ref" height="16" width="16" src="/res/default/img/question.png"/></a>
          <span class="form_hint">{{ form_hint }}</span> <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span>
{% else %}
<label>{{ label }}</label> <span class="form_view">{%if value == "t" %}Yes{% endif %}{%if value == "f" %}False{% endif %}{%if value != "t" and value != "f" %}<i>Not Set</i>{% endif %}</span>
{% endif %}
{% endmacro %}

{#  *******************  input_yes_no  ***************************#}
{% macro input_yes_no(view_type, name, value, label, type, placeholder, form_hint, field_error, field_error2, maxsize, required, reference, tabindex, is_readonly ) %}
{% if view_type != 'view' and is_readonly == 'f' %}
          <label for="{{ name }}">{{ label }}</label> 
<ul class="multiselect" id="{{ name }}">
{% if required|lower == "f" %}
          <li><input type="radio" name='{{ name }}' id="{{ name }}_notset" value="" {%if value != "t" and value != "f" %}checked="checked"{% endif %}{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}/>Not set</li>
{% endif %}
          <li><input type="radio" name='{{ name }}' id="{{ name }}_true" value="t" {%if value == "t" %}checked="checked"{% endif %}{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}/>Yes</li>
          <li><input type="radio" name='{{ name }}' id="{{ name }}_false" value="f" {%if value == "f" %}checked="checked"{% endif %}{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}/>No</li>
</ul>		  <a href="{% if reference|lower|slice(0, 4) == "http" %}{{ reference }}{% else %}http://wiki.hellopbx.net/{{ reference }}{% endif %}" target="_blank"><img title="{{ form_hint }}" alt="Ext Ref" height="16" width="16" src="/res/default/img/question.png"/></a>
          <span class="form_hint">{{ form_hint }}</span> <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span>
{% else %}
<label for="{{ name }}">{{ label }}</label> <span class="form_view" id="{{ name }}">{%if value == "t" %}Yes{% endif %}{%if value == "f" %}False{% endif %}{%if value != "t" and value != "f" %}<i>Not Set</i>{% endif %}</span>
{% endif %}
{% endmacro %}

{#  *******************  input_list  ***************************#}
{% macro input_list(view_type, name, value, label, type, placeholder, form_hint, field_error, field_error2, maxsize, list, required, reference, tabindex, is_readonly) %}
{% if view_type != 'view' and is_readonly == 'f' %}
          <label for="{{ name }}">{{ label }}</label> 
{% if list|length > 5 %}
{# *  More than 5 items - large list #}
<select name="{{ name }}" id="{{ name }}"{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}{% if required|lower != "f" and required != "" %} required="required"{% endif %}>
{% if required|lower == "f" or required == "" %}{# * Not Required * #}<option value="">Not set</option>{% endif %}
{% for item_key, item_value in list %}
        <option name="{{ item_value }}" value="{{ item_key }}" {%if value == item_key %}selected="selected"{% endif %}/>{{ item_value }}</option>
{% endfor %}
</select>
  <a href="{% if reference|lower|slice(0, 4) == "http" %}{{ reference }}{% else %}http://wiki.hellopbx.net/{{ reference }}{% endif %}" target="_blank"><img title="{{ form_hint }}" alt="Ext Ref" height="16" width="16" src="/res/default/img/question.png"/></a>
  <span class="form_hint">{{ form_hint }}</span> <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span>
{% else %}
{# *  Less than 5 items - small list #}
<ul class="multiselect" id="{{ name }}">
{% if required|lower == "f" %}
{# * Not Required * #}
          <li><input type="radio" name='{{ name }}' id="{{ name }}_notset" value="" {%if value == "" %}checked="checked"{% endif %}{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}/>Not set</li>
{% endif %}
{% for item_key, item_value in list %}
          <li><input type="radio" name='{{ name }}' id="{{ name }}_{{ item_key }}" value="{{ item_key }}" {%if value == item_key %}checked="checked"{% endif %}{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}/>{{ item_value }}</li>
{% endfor %}
</ul>		  <a href="{% if reference|lower|slice(0, 4) == "http" %}{{ reference }}{% else %}http://wiki.hellopbx.net/{{ reference }}{% endif %}" target="_blank"><img title="{{ form_hint }}" alt="Ext Ref" height="16" width="16" src="/res/default/img/question.png"/></a>
          <span class="form_hint">{{ form_hint }}</span> <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span>
{% endif %}

{% else %}
{# * View * #}
<label>{{ label }}</label> <span class="form_view">{%if value == "t" %}Yes{% endif %}{%if value == "f" %}False{% endif %}{%if value != "t" and value != "f" %}<i>Not Set</i>{% endif %}</span>
{% endif %}
{% endmacro %}


{#  *******************  input_textarea  ***************************#}
{% macro input_textarea(view_type, name, value, label, type, placeholder, form_hint, field_error, field_error2, maxsize, required, reference,rows, tabindex , is_readonly) %}
          <label for="{{ name }}">{{ label }}</label>
          <textarea name='{{ name }}' id="{{ name }}" rows="{{ rows }}" {% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}>{{ value }}</textarea>
		  <a href="{% if reference|lower|slice(0, 4) == "http" %}{{ reference }}{% else %}http://wiki.hellopbx.net/{{ reference }}{% endif %}" target="_blank"><img title="{{ form_hint }}" alt="Ext Ref" height="16" width="16" src="/res/default/img/question.png"/></a>
          <span class="form_hint">{{ form_hint }}</span> <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span>
{% endmacro %}



{#  *******************  input_picture  ***************************#}
{% macro input_picture(view_type,name, value, label, type, placeholder, form_hint, field_error, field_error2, maxsize, required, reference, tabindex, is_readonly ) %}
         <label for="{{ name }}">{{ label }}</label>
		{% if value is defined %}
        <img src="resource/user/profile/{{ value }}" alt="" /> <a href="account/account_profile/index/delete">Delete</a>
        {% else %}
        <img src="resource/img/default-picture.gif" alt="" />
        {% endif %}
		
	  <input type="file" name="{{ name }}" id="{{ name }}" {% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}/>
    <p><small>Maximum file size of 800 kb. JPG, GIF, PNG.</small></p>
    <span class="form_hint">{{ form_hint }}<a href="{{ reference }}"><img alt="Ext Ref" src="#"/></a></span> <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span></li>		  
{% endmacro %}

{#  *******************  recaptcha  ***************************#}
{% macro recaptcha(recaptcha, recaptcha_error) %}
    {% if recaptcha is defined %}
                 {{ recaptcha }}
            {% if sign_in_recaptcha_error is defined %}
                <span class="field_error">{{ recaptcha_error }}</span>
            {% endif %}
	{% endif %}

{% endmacro %}

{#  *******************  input_date  ***************************#}
{% macro input_date(view_type,name, value, label, placeholder,form_hint, field_error, field_error2, required, reference, year_min, year_max, tabindex, is_readonly ) %}

{% if view_type != 'view' and is_readonly == 'f' %}
          <label for="{{ name }}">{{ label }}</label> 
			<span class="form_view" id="{{ name }}">
                <select name="{{ name }}_month"{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}{% if required|lower != "f" and required != "" %} required="required"{% endif %}>
					{% if required|lower == "f" or required == "" %}{# * Not Required * #}<option value="">Month</option>{% endif %}
                    <option value="1"{% if (value|date('m') == 1) %} selected="selected"{% endif %}>January</option>
                    <option value="2"{% if (value|date('m') == 2) %} selected="selected"'{% endif %}>February</option>
                    <option value="3"{% if (value|date('m') == 3) %} selected="selected"'{% endif %}>March</option>
                    <option value="4"{% if (value|date('m') == 4) %} selected="selected"'{% endif %}>April</option>
                    <option value="5"{% if (value|date('m') == 5) %} selected="selected"'{% endif %}>May</option>
                    <option value="6"{% if (value|date('m') == 6) %} selected="selected"'{% endif %}>June</option>
                    <option value="7"{% if (value|date('m') == 7) %} selected="selected"'{% endif %}>July</option>
                    <option value="8"{% if (value|date('m') == 8) %} selected="selected"'{% endif %}>August</option>
                    <option value="9"{% if (value|date('m') == 9) %} selected="selected"'{% endif %}>September</option>
                    <option value="10"{% if (value|date('m') == 10) %} selected="selected"'{% endif %}>October</option>
                    <option value="11"{% if (value|date('m') == 11) %} selected="selected"'{% endif %}>November</option>
                    <option value="12"{% if (value|date('m') == 12) %} selected="selected"'{% endif %}>December</option>
                </select>
                <select name="{{ name }}_day"{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}{% if required|lower != "f" and required != "" %} required="required"{% endif %}>
					{% if required|lower == "f" or required == "" %}{# * Not Required * #}<option value="">Day</option>{% endif %}
                    {% for i in 1..32 %}
                    <option value="{{ i }}"{% if value|date('d') == i %} selected="selected"' {% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
                <select name="{{ name }}_year"{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}{% if required|lower != "f" and required != "" %} required="required"{% endif %}>
                    {% if required|lower == "f" or required == "" %}{# * Not Required * #}<option value="">Year</option>{% endif %}
					{% for i in year_min..year_max %}
                    <option value="{{ i }}"{% if value|date('Y') == i %} selected="selected"{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select></span>
                {% if field_error is defined %}
                <span class="field_error">{{ field_error }}</span>
                {% endif %}
	
	
			<a href="{% if reference|lower|slice(0, 4) == "http" %}{{ reference }}{% else %}http://wiki.hellopbx.net/{{ reference }}{% endif %}" target="_blank"><img title="{{ form_hint }}" alt="Ext Ref" height="16" width="16" src="/res/default/img/question.png"/></a>
          	<span class="form_hint">{{ form_hint }}</span> <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span>				
{% else %}
	<label for="{{ name }}">{{ label }}</label> <span class="form_view" id="{{ name }}">{%if value == "t" %}Yes{% endif %}{%if value == "f" %}False{% endif %}{%if value != "t" and value != "f" %}<i>Not Set</i>{% endif %}</span>
{% endif %}
		
{% endmacro %}




{#  *******************  input_datetime  ***************************#}
{% macro input_datetime(view_type,name, value, label, placeholder,form_hint, field_error, field_error2, required, reference, year_min, year_max, tabindex, is_readonly ) %}

{% if view_type != 'view' and is_readonly == 'f' %}
          <label for="{{ name }}">{{ label }}</label> 
			<span class="form_view" id="{{ name }}">
                <select name="{{ name }}_month"{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}{% if required|lower != "f" and required != "" %} required="required"{% endif %}>
					{% if required|lower == "f" or required == "" %}{# * Not Required * #}<option value="">Month</option>{% endif %}
                    <option value="1"{% if (value|date('m') == 1) %} selected="selected"{% endif %}>January</option>
                    <option value="2"{% if (value|date('m') == 2) %} selected="selected"'{% endif %}>February</option>
                    <option value="3"{% if (value|date('m') == 3) %} selected="selected"'{% endif %}>March</option>
                    <option value="4"{% if (value|date('m') == 4) %} selected="selected"'{% endif %}>April</option>
                    <option value="5"{% if (value|date('m') == 5) %} selected="selected"'{% endif %}>May</option>
                    <option value="6"{% if (value|date('m') == 6) %} selected="selected"'{% endif %}>June</option>
                    <option value="7"{% if (value|date('m') == 7) %} selected="selected"'{% endif %}>July</option>
                    <option value="8"{% if (value|date('m') == 8) %} selected="selected"'{% endif %}>August</option>
                    <option value="9"{% if (value|date('m') == 9) %} selected="selected"'{% endif %}>September</option>
                    <option value="10"{% if (value|date('m') == 10) %} selected="selected"'{% endif %}>October</option>
                    <option value="11"{% if (value|date('m') == 11) %} selected="selected"'{% endif %}>November</option>
                    <option value="12"{% if (value|date('m') == 12) %} selected="selected"'{% endif %}>December</option>
                </select>
                <select name="{{ name }}_day"{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}{% if required|lower != "f" and required != "" %} required="required"{% endif %}>
					{% if required|lower == "f" or required == "" %}{# * Not Required * #}<option value="">Day</option>{% endif %}
                    {% for i in 1..32 %}
                    <option value="{{ i }}"{% if value|date('d') == i %} selected="selected"' {% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
                <select name="{{ name }}_year"{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}{% if required|lower != "f" and required != "" %} required="required"{% endif %}>
                    {% if required|lower == "f" or required == "" %}{# * Not Required * #}<option value="">Year</option>{% endif %}
					{% for i in year_min..year_max %}
                    <option value="{{ i }}"{% if value|date('Y') == i %} selected="selected"{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select><select name="{{ name }}_hour"{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}{% if required|lower != "f" and required != "" %} required="required"{% endif %}>
{% if required|lower == "f" or required == "" %}{# * Not Required * #}<option value="">Hour</option>{% endif %}
                    <option value="0"{% if (value|date('G') == 0) %} selected="selected"{% endif %}>12 AM</option>
                    <option value="1"{% if (value|date('G') == 1) %} selected="selected"{% endif %}>1 AM</option>
                    <option value="2"{% if (value|date('G') == 2) %} selected="selected"{% endif %}>2 AM</option>
                    <option value="3"{% if (value|date('G') == 3) %} selected="selected"{% endif %}>3 AM</option>
                    <option value="4"{% if (value|date('G') == 4) %} selected="selected"{% endif %}>4 AM</option>
                    <option value="5"{% if (value|date('G') == 5) %} selected="selected"{% endif %}>5 AM</option>
                    <option value="6"{% if (value|date('G') == 6) %} selected="selected"{% endif %}>6 AM</option>
                    <option value="7"{% if (value|date('G') == 7) %} selected="selected"{% endif %}>7 AM</option>
                    <option value="8"{% if (value|date('G') == 8) %} selected="selected"{% endif %}>8 AM</option>
                    <option value="9"{% if (value|date('G') == 9) %} selected="selected"{% endif %}>9 AM</option>
                    <option value="10"{% if (value|date('G') == 10) %} selected="selected"{% endif %}>10 AM</option>
                    <option value="11"{% if (value|date('G') == 11) %} selected="selected"{% endif %}>11 AM</option>
                    <option value="12"{% if (value|date('G') == 12) %} selected="selected"{% endif %}>12 PM</option>
                    <option value="13"{% if (value|date('G') == 13) %} selected="selected"{% endif %}>1 PM</option>
	                <option value="14"{% if (value|date('G') == 14) %} selected="selected"{% endif %}>2 PM</option>
					<option value="15"{% if (value|date('G') == 15) %} selected="selected"{% endif %}>3 PM</option>
					<option value="16"{% if (value|date('G') == 16) %} selected="selected"{% endif %}>4 PM</option>
					<option value="17"{% if (value|date('G') == 17) %} selected="selected"{% endif %}>5 PM</option>
					<option value="18"{% if (value|date('G') == 18) %} selected="selected"{% endif %}>6 PM</option>
					<option value="19"{% if (value|date('G') == 19) %} selected="selected"{% endif %}>7 PM</option>
					<option value="20"{% if (value|date('G') == 20) %} selected="selected"{% endif %}>8 PM</option>
					<option value="21"{% if (value|date('G') == 21) %} selected="selected"{% endif %}>9 PM</option>
					<option value="22"{% if (value|date('G') == 22) %} selected="selected"{% endif %}>10 PM</option>
					<option value="23"{% if (value|date('G') == 23) %} selected="selected"{% endif %}>11 PM</option>
					</select><select name="{{ name }}_minute"{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}{% if required|lower != "f" and required != "" %} required="required"{% endif %}>
{% if required|lower == "f" or required == "" %}{# * Not Required * #}<option value="">Min</option>{% endif %}
                    <option value="0"{% if (value|date('i') == 0) %} selected="selected"{% endif %}>00</option>
					<option value="1"{% if (value|date('i') == 1) %} selected="selected"{% endif %}>01</option>
                    <option value="2"{% if (value|date('i') == 2) %} selected="selected"{% endif %}>02</option>
                    <option value="3"{% if (value|date('i') == 3) %} selected="selected"{% endif %}>03</option>
                    <option value="4"{% if (value|date('i') == 4) %} selected="selected"{% endif %}>04</option>
                    <option value="5"{% if (value|date('i') == 5) %} selected="selected"{% endif %}>05</option>
                    <option value="6"{% if (value|date('i') == 6) %} selected="selected"{% endif %}>06</option>
                    <option value="7"{% if (value|date('i') == 7) %} selected="selected"{% endif %}>07</option>
                    <option value="8"{% if (value|date('i') == 8) %} selected="selected"{% endif %}>08</option>
                    <option value="9"{% if (value|date('i') == 9) %} selected="selected"{% endif %}>09</option>

                    <option value="10"{% if (value|date('i') == 10) %} selected="selected"{% endif %}>10</option>
					<option value="11"{% if (value|date('i') == 11) %} selected="selected"{% endif %}>11</option>
                    <option value="12"{% if (value|date('i') == 12) %} selected="selected"{% endif %}>12</option>
                    <option value="13"{% if (value|date('i') == 13) %} selected="selected"{% endif %}>13</option>
                    <option value="14"{% if (value|date('i') == 14) %} selected="selected"{% endif %}>14</option>
                    <option value="15"{% if (value|date('i') == 15) %} selected="selected"{% endif %}>15</option>
                    <option value="16"{% if (value|date('i') == 16) %} selected="selected"{% endif %}>16</option>
                    <option value="17"{% if (value|date('i') == 17) %} selected="selected"{% endif %}>17</option>
                    <option value="18"{% if (value|date('i') == 18) %} selected="selected"{% endif %}>18</option>
                    <option value="19"{% if (value|date('i') == 19) %} selected="selected"{% endif %}>19</option>

                    <option value="20"{% if (value|date('i') == 20) %} selected="selected"{% endif %}>20</option>
					<option value="21"{% if (value|date('i') == 21) %} selected="selected"{% endif %}>21</option>
                    <option value="22"{% if (value|date('i') == 22) %} selected="selected"{% endif %}>22</option>
                    <option value="23"{% if (value|date('i') == 23) %} selected="selected"{% endif %}>23</option>
                    <option value="24"{% if (value|date('i') == 24) %} selected="selected"{% endif %}>24</option>
                    <option value="25"{% if (value|date('i') == 25) %} selected="selected"{% endif %}>25</option>
                    <option value="26"{% if (value|date('i') == 26) %} selected="selected"{% endif %}>26</option>
                    <option value="27"{% if (value|date('i') == 27) %} selected="selected"{% endif %}>27</option>
                    <option value="28"{% if (value|date('i') == 28) %} selected="selected"{% endif %}>28</option>
                    <option value="29"{% if (value|date('i') == 29) %} selected="selected"{% endif %}>29</option>

                    <option value="30"{% if (value|date('i') == 30) %} selected="selected"{% endif %}>30</option>
					<option value="31"{% if (value|date('i') == 31) %} selected="selected"{% endif %}>31</option>
                    <option value="32"{% if (value|date('i') == 32) %} selected="selected"{% endif %}>32</option>
                    <option value="33"{% if (value|date('i') == 33) %} selected="selected"{% endif %}>33</option>
                    <option value="34"{% if (value|date('i') == 34) %} selected="selected"{% endif %}>34</option>
                    <option value="35"{% if (value|date('i') == 35) %} selected="selected"{% endif %}>35</option>
                    <option value="36"{% if (value|date('i') == 36) %} selected="selected"{% endif %}>36</option>
                    <option value="37"{% if (value|date('i') == 37) %} selected="selected"{% endif %}>37</option>
                    <option value="38"{% if (value|date('i') == 38) %} selected="selected"{% endif %}>38</option>
                    <option value="39"{% if (value|date('i') == 39) %} selected="selected"{% endif %}>39</option>

                    <option value="40"{% if (value|date('i') == 40) %} selected="selected"{% endif %}>40</option>
					<option value="41"{% if (value|date('i') == 41) %} selected="selected"{% endif %}>41</option>
                    <option value="42"{% if (value|date('i') == 42) %} selected="selected"{% endif %}>42</option>
                    <option value="43"{% if (value|date('i') == 43) %} selected="selected"{% endif %}>43</option>
                    <option value="44"{% if (value|date('i') == 44) %} selected="selected"{% endif %}>44</option>
                    <option value="45"{% if (value|date('i') == 45) %} selected="selected"{% endif %}>45</option>
                    <option value="46"{% if (value|date('i') == 46) %} selected="selected"{% endif %}>46</option>
                    <option value="47"{% if (value|date('i') == 47) %} selected="selected"{% endif %}>47</option>
                    <option value="48"{% if (value|date('i') == 48) %} selected="selected"{% endif %}>48</option>
                    <option value="49"{% if (value|date('i') == 49) %} selected="selected"{% endif %}>49</option>

                    <option value="50"{% if (value|date('i') == 50) %} selected="selected"{% endif %}>50</option>
					<option value="51"{% if (value|date('i') == 51) %} selected="selected"{% endif %}>51</option>
                    <option value="52"{% if (value|date('i') == 52) %} selected="selected"{% endif %}>52</option>
                    <option value="53"{% if (value|date('i') == 53) %} selected="selected"{% endif %}>53</option>
                    <option value="54"{% if (value|date('i') == 54) %} selected="selected"{% endif %}>54</option>
                    <option value="55"{% if (value|date('i') == 55) %} selected="selected"{% endif %}>55</option>
                    <option value="56"{% if (value|date('i') == 56) %} selected="selected"{% endif %}>56</option>
                    <option value="57"{% if (value|date('i') == 57) %} selected="selected"{% endif %}>57</option>
                    <option value="58"{% if (value|date('i') == 58) %} selected="selected"{% endif %}>58</option>
                    <option value="59"{% if (value|date('i') == 59) %} selected="selected"{% endif %}>59</option>
                </select></span>
                {% if field_error is defined %}
                <span class="field_error">{{ field_error }}</span>
                {% endif %}
	
	
			<a href="{% if reference|lower|slice(0, 4) == "http" %}{{ reference }}{% else %}http://wiki.hellopbx.net/{{ reference }}{% endif %}" target="_blank"><img title="{{ form_hint }}" alt="Ext Ref" height="16" width="16" src="/res/default/img/question.png"/></a>
          	<span class="form_hint">{{ form_hint }}</span> <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span>				
{% else %}
	<label for="{{ name }}">{{ label }}</label> <span class="form_view" id="{{ name }}">{%if value == "t" %}Yes{% endif %}{%if value == "f" %}False{% endif %}{%if value != "t" and value != "f" %}<i>Not Set</i>{% endif %}</span>
{% endif %}
            
			
{% endmacro %}




{#  *******************  input_checkbox  ***************************#}
{% macro input_checkbox(view_type,name, value, label, form_hint, field_error, field_error2, reference, tabindex , is_readonly) %}
                <span>
				<label for="{{ name }}">{{ label }}</label>
				<input type="checkbox" id="{{ name }}" name="{{ name }}" value="{{ value }}" {% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}{{ checked }} />
                </span>
{% endmacro %}


{#  *******************  input_checkboxlist  ***************************#}
{% macro input_checkboxlist(view_type,name, value, label, list, form_hint, field_error, field_error2, reference, tabindex , is_readonly) %}
 <label for="{{ name }}">{{ label }}</label>


                <select id="{{ name }}" name="{{ name }}" class="select"{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}{% if required|lower != "f" and required != "" %} required="required"{% endif %}>
                    {% if required|lower == "f" or required == "" %}<option value="">- Select -</option>{% endif %}
                    {% for listitem in list %}
                    <option value="{{ listitem }}"{% if value == listitem %} selected="selected"{% endif %}>
                        {{ listitem }}{% if listitem.offset %} ({{ zoneinfo.offset }}) {% endif %}
                    </option>
                    {% endfor %}
                </select>	
{% endmacro %}				


{#  *******************  form_buttons  ***************************#}
{%  macro form_buttons(view_type, edit_url, back_url, tabindex) %}
 {% if view_type == "add" %} 
  <button type="submit" class="submit" value="add">Add</button>
 {% elseif view_type == "view" %} 
  <button onclick="window.location='{{ edit_url }}';return false;" class="submit" value="edit">Edit</button>
 {% else %} 
  <button type="submit" class="submit" value="save">Save</button>
 {% endif %}
<button onclick="window.location='{{ back_url }}';return false;">◄&nbsp;back</button>
<br/>{% endmacro %}

{#  *******************  form_update_info  ***************************#}
{%  macro form_update_info(view_type, updated_at, updated_by, created_at) %}
 {% if view_type != "add" %} 
  <i>Update by {{ updated_by }} on {{ updated_at }}.  <br/> Created on {{ created_at }}.</i>
{% endif %}
{% endmacro %}

{#  *******************  form_fields  ***************************#}
{%  macro form_fields(view_type, fil) %}
{% import _self as forms %}
      {% set i = 1 %}
      {% for form_item in fil %}
	  {% if form_item.name_multi is defined %}
	  {% set name = form_item.name_multi %}
	  {% else %}
  	  {% set name = form_item.name %}
	  {% endif %}
	  
      <li>{% if form_item.field_type == "yes_no" %}
		{{ forms.input_yes_no(
        view_type,
        name, 
        form_item.value, 
        form_item.label, 
        "text", 
        form_item.placeholder,
        form_item.form_hint, 
        form_item.form_error, 
        form_item.field_error, 
        form_item.max_size, 
        form_item.is_required, 
        form_item.reference,
        i,
        form_item.is_readonly
        ) }}
        {% elseif form_item.field_type == "list" %}
        {{ forms.input_list(
        view_type, 
        name, 
        form_item.value, 
        form_item.label, 
        type, 
        form_item.placeholder, 
        form_item.form_hint, 
        form_item.form_error, 
        form_item.field_error, 
        form_item.max_size, 
        form_item.valid_values_decoded, 
        form_item.is_required, 
        form_item.reference, 
        i,
        form_item.is_readonly) }}
        {% elseif form_item.field_type == "mac" %}
        {{ forms.input_mac(
        view_type, 
        name, 
        form_item.value, 
        form_item.label, 
        form_item.field_type, 
        form_item.placeholder,
        form_item.form_hint, 
        form_item.form_error, 
        form_item.field_error, 
        form_item.max_size, 
        form_item.is_required, 
        form_item.reference,
        i,
        form_item.is_readonly) }}
        {% elseif form_item.field_type == "tel" %}
        {{ forms.input_tel(
        view_type, 
        name, 
        form_item.value, 
        form_item.label, 
        form_item.field_type, 
        form_item.placeholder,
        form_item.form_hint, 
        form_item.form_error, 
        form_item.field_error, 
        form_item.max_size, 
        form_item.is_required, 
        form_item.reference,
        i,
        form_item.is_readonly) }}
        {% elseif form_item.field_type == "datetime" %}
        {{ forms.input_datetime(
        view_type, 
        name, 
        form_item.value, 
        form_item.label, 
        form_item.placeholder,
        form_item.form_hint, 
        form_item.form_error, 
        form_item.field_error, 
        form_item.is_required, 
        form_item.reference,
		now|date("Y"),
		now|date("Y") + 10,
        i,
        form_item.is_readonly) }}
        {% elseif form_item.field_type == "date" %}
        {{ forms.input_date(
        view_type, 
        name, 
        form_item.value, 
        form_item.label, 
        form_item.placeholder,
        form_item.form_hint, 
        form_item.form_error, 
        form_item.field_error, 
        form_item.is_required, 
        form_item.reference,
		now|date("Y"),
		now|date("Y") + 10,
        i,
        form_item.is_readonly) }}

        {% elseif form_item.field_type == "file" %}
        {{ forms.input_file(
        view_type, 
        name, 
        form_item.file_name, 
        form_item.label, 
        form_item.form_hint, 
        form_item.form_error, 
        form_item.field_error, 
        form_item.reference,
        i,
        form_item.is_readonly,
		form_item.timestamp,
		form_item.timestamp_md5,
		form_item.script_upload, 
		form_item.script_check,
		form_item.mime) }}
		{% else %}
		{{ forms.input_text(
        view_type, 
        name, 
        form_item.value, 
        form_item.label, 
        form_item.field_type, 
        form_item.placeholder,
        form_item.form_hint, 
        form_item.form_error, 
        form_item.field_error, 
        form_item.max_size, 
        form_item.is_required, 
        form_item.reference,
        i,
        form_item.is_readonly) }}
        {% endif %} </li>
      {% set i = i + 1 %}
      {% endfor %}
{% endmacro %}



{#  *******************  form_fields  ***************************#}
{%  macro form_child_fields(view_type, fil_child) %}
{% import _self as forms %}
{# Typicall only one item in this row.  If there is multiple, then it should use the table view #}
{% for fil in fil_child %}
	{{ forms.form_fields(view_type, fil) }}
{% endfor %}
{% endmacro %}

