{#  *******************  input_text  ***************************#}
{% macro input_text(view_type,name, value, label, type, placeholder, form_hint, field_error, field_error2, maxsize, required, reference, tabindex, is_readonly) %}
{% if view_type != 'view' and is_readonly == 'f' %}
          <label for="{{ name }}">{{ label }}</label>
          <input type='{{ type }}' name='{{ name }}' id="{{ name }}" {% if  maxlength != "" %} maxlength="{{ maxlength }}"{% endif %} {% if required|lower != "f" and required != "" %} required="required"{% endif %} placeholder="{{ placeholder }}"  value="{{ value }}"><span class="form_hint">{{ form_hint }}</span>
		  <a href="{% if reference|lower|slice(0, 4) == "http" %}{{ reference }}{% else %}http://wiki.hellopbx.net/{{ reference }}{% endif %}" target="_blank"><img title="{{ form_hint }}" height="16" width="16" src="/res/default/img/question.png"/></a>
           <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span>
{% else %}
<label for="{{ name }}">{{ label }}</label> <span id="{{ name }}" class="form_view">&nbsp;{{ value }}</span>
{% endif %}
{% endmacro %}

{#  *******************  input_mac  ***************************#}
{% macro input_mac(view_type,name, value, label, type, placeholder, form_hint, field_error, field_error2, maxsize, required, reference, tabindex, is_readonly) %}
{% import _self as forms %}
{% if view_type != 'view' and is_readonly == 'f' %}
          <label for="{{ name }}">{{ label }}</label>
          <input type='text' name='{{ name }}' id="{{ name }}" {% if  maxlength != "" %} maxlength="{{ maxlength }}"{% endif %} {% if required|lower != "f" and required != "" %} required="required"{% endif %} placeholder="{{ placeholder }}"  value="{{ forms.format_mac(value) }}"><span class="form_hint">{{ form_hint }}</span>
		  <a href="{% if reference|lower|slice(0, 4) == "http" %}{{ reference }}{% else %}http://wiki.hellopbx.net/{{ reference }}{% endif %}" target="_blank"><img title="{{ form_hint }}" height="16" width="16" src="/res/default/img/question.png"/></a>
           <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span>
{% else %}
<label for="{{ name }}">{{ label }}</label> <span id="{{ name }}" class="form_view">&nbsp;{{ forms.format_mac(value) }}</span>
{% endif %}
{% endmacro %}


{#  *******************  input_id  ***************************#}
{% macro input_id(view_type,name, value, label, type, placeholder, form_hint, field_error, field_error2, maxsize, required, reference, tabindex, is_readonly) %}
{% if view_type != 'view' and is_readonly == 'f' %}
          <label for="{{ name }}">{{ label }}</label>
		  <label for="{{ name }}">{{ label }}</label> <span id="{{ name }}" class="form_view">&nbsp;{{ value }}</span>		  
		  
		  {% if value|length > 0 %}<input type="hidden" name="{{ name }}' id="{{ name }}" value="{{ value }}" />{% endif %}<span class="form_hint">{{ form_hint }}</span>
		  <a href="{% if reference|lower|slice(0, 4) == "http" %}{{ reference }}{% else %}http://wiki.hellopbx.net/{{ reference }}{% endif %}" target="_blank"><img title="{{ form_hint }}" height="16" width="16" src="/res/default/img/question.png"/></a>
           <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span>
{% else %}
<label for="{{ name }}">{{ label }}</label> <span id="{{ name }}" class="form_view">&nbsp;{{ value }}</span>
{% endif %}
{% endmacro %}



{#  *******************  input_file  ***************************#}
{% macro input_file(view_type,name, value, label, form_hint, field_error, field_error2, tabindex , is_readonly) %}
{% if view_type != 'view'  and is_readonly == 'f' %}
          <label for="{{ name }}">{{ label }}</label>
          <input type='file' name='{{ name }}' id="{{ name }}" {% if  maxlength != "" %} maxlength="{{ maxlength }}"{% endif %} {% if required|lower != "f" and required != "" %} required="required"{% endif %} placeholder="{{ placeholder }}"  value="{{ value }}"><span class="form_hint">{{ form_hint }}</span>
		  <a href="{% if reference|lower|slice(0, 4) == "http" %}{{ reference }}{% else %}http://wiki.hellopbx.net/{{ reference }}{% endif %}" target="_blank"><img title="{{ form_hint }}" height="16" width="16" src="/res/default/img/question.png"/></a>
           <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span>
{% endif %}
{% endmacro %}


{#  *******************  input_yes_no_notset  (deprecated - use input_yes_no instead) ***************************#}
{% macro input_yes_no_notset(view_type,name, value, label, type, placeholder, form_hint, field_error, field_error2, maxsize, required, reference, tabindex, is_readonly ) %}
{% if view_type != 'view' and is_readonly == 'f' %}
          <label>{{ label }}</label><ul class="multiselect" >
          <li><input type="radio" name='{{ name }}' id="{{ name }}_true" value="t" {%if value == "t" %}checked="checked"{% endif %}/>Yes</li>
          <li><input type="radio" name='{{ name }}' id="{{ name }}_false" value="f" {%if value == "f" %}checked="checked"{% endif %}/>No</li>
          <li><input type="radio" name='{{ name }}' id="{{ name }}_notset" value="" {%if value != "t" and value != "f" %}checked="checked"{% endif %}/>Not set</li></ul>
		  <a href="{% if reference|lower|slice(0, 4) == "http" %}{{ reference }}{% else %}http://wiki.hellopbx.net/{{ reference }}{% endif %}" target="_blank"><img alt="Ext Ref" height="16" width="16" src="/res/default/img/question.png"/></a>
          <span class="form_hint">{{ form_hint }}</span> <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span>
{% else %}
<label>{{ label }}</label> <span class="form_view">{%if value == "t" %}Yes{% endif %}{%if value == "f" %}False{% endif %}{%if value != "t" and value != "f" %}<i>Not Set</i>{% endif %}</span>
{% endif %}
{% endmacro %}

{#  *******************  input_yes_no  ***************************#}
{% macro input_yes_no(view_type, name, value, label, type, placeholder, form_hint, field_error, field_error2, maxsize, required, reference, tabindex, is_readonly ) %}
{% if view_type != 'view' and is_readonly == 'f' %}
          <label for="{{ name }}">{{ label }}</label> 
<ul class="multiselect" id="{{ name }}">
{% if required|lower == "f" %}
          <li><input type="radio" name='{{ name }}' id="{{ name }}_notset" value="" {%if value != "t" and value != "f" %}checked="checked"{% endif %}{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}/>Not set</li>
{% endif %}
          <li><input type="radio" name='{{ name }}' id="{{ name }}_true" value="t" {%if value == "t" %}checked="checked"{% endif %}{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}/>Yes</li>
          <li><input type="radio" name='{{ name }}' id="{{ name }}_false" value="f" {%if value == "f" %}checked="checked"{% endif %}{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}/>No</li>
</ul>		  <a href="{% if reference|lower|slice(0, 4) == "http" %}{{ reference }}{% else %}http://wiki.hellopbx.net/{{ reference }}{% endif %}" target="_blank"><img alt="Ext Ref" height="16" width="16" src="/res/default/img/question.png"/></a>
          <span class="form_hint">{{ form_hint }}</span> <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span>
{% else %}
<label>{{ label }}</label> <span class="form_view">{%if value == "t" %}Yes{% endif %}{%if value == "f" %}False{% endif %}{%if value != "t" and value != "f" %}<i>Not Set</i>{% endif %}</span>
{% endif %}
{% endmacro %}

{#  *******************  input_list  ***************************#}
{% macro input_list(view_type, name, value, label, type, placeholder, form_hint, field_error, field_error2, maxsize, list, required, reference, tabindex, is_readonly) %}
{% if view_type != 'view' and is_readonly == 'f' %}
          <label for="{{ name }}">{{ label }}</label> 
{% if list|length > 5 %}
{# *  More than 5 items - large list #}
<select name="{{ name }}" id="{{ name }}"{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}>
{% if required|lower == "f" %}
{# * Not Required * #}
          <option name='{{ name }}' value=""/>Not set</option>
{% endif %}
{% for item_key, item_value in list %}
        <option name="{{ item_value }}" value="{{ item_key }}" {%if value == item_key %}selected="selected"{% endif %}/>{{ item_value }}</option>
{% endfor %}
  <a href="{% if reference|lower|slice(0, 4) == "http" %}{{ reference }}{% else %}http://wiki.hellopbx.net/{{ reference }}{% endif %}" target="_blank"><img alt="Ext Ref" height="16" width="16" src="/res/default/img/question.png"/></a>
  <span class="form_hint">{{ form_hint }}</span> <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span>
{% else %}
{# *  Less than 5 items - small list #}
<ul class="multiselect" id="{{ name }}">
{% if required|lower == "f" %}
{# * Not Required * #}
          <li><input type="radio" name='{{ name }}' id="{{ name }}_notset" value="" {%if value != "t" and value != "f" %}checked="checked"{% endif %}{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}/>Not set</li>
{% endif %}

{% for item_key, item_value in list %}
          <li><input type="radio" name='{{ item_value }}' id="{{ item_value }}_true" value="{{ item_key }}" {%if value == item_key %}checked="checked"{% endif %}{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}/>{{ item_value }}</li>
{% endfor %}
</ul>		  <a href="{% if reference|lower|slice(0, 4) == "http" %}{{ reference }}{% else %}http://wiki.hellopbx.net/{{ reference }}{% endif %}" target="_blank"><img alt="Ext Ref" height="16" width="16" src="/res/default/img/question.png"/></a>
          <span class="form_hint">{{ form_hint }}</span> <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span>
{% endif %}
{% else %}
{# * View * #}
<label>{{ label }}</label> <span class="form_view">{%if value == "t" %}Yes{% endif %}{%if value == "f" %}False{% endif %}{%if value != "t" and value != "f" %}<i>Not Set</i>{% endif %}</span>
{% endif %}
{% endmacro %}


{#  *******************  input_textarea  ***************************#}
{% macro input_textarea(view_type, name, value, label, type, placeholder, form_hint, field_error, field_error2, maxsize, required, reference,rows, tabindex , is_readonly) %}
          <label for="{{ name }}">{{ label }}</label>
          <textarea name='{{ name }}' id="{{ name }}" rows="{{ rows }}" {% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}>{{ value }}</textarea>
		  <a href="{% if reference|lower|slice(0, 4) == "http" %}{{ reference }}{% else %}http://wiki.hellopbx.net/{{ reference }}{% endif %}" target="_blank"><img alt="Ext Ref" height="16" width="16" src="/res/default/img/question.png"/></a>
          <span class="form_hint">{{ form_hint }}</span> <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span>
{% endmacro %}



{#  *******************  input_picture  ***************************#}
{% macro input_picture(view_type,name, value, label, type, placeholder, form_hint, field_error, field_error2, maxsize, required, reference, tabindex, is_readonly ) %}
         <label for="{{ name }}">{{ label }}</label>
		{% if value is defined %}
        <img src="resource/user/profile/{{ value }}" alt="" /> <a href="account/account_profile/index/delete">Delete</a>
        {% else %}
        <img src="resource/img/default-picture.gif" alt="" />
        {% endif %}
		
	  <input type="file" name="{{ name }}" id="{{ name }}" {% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}/>
    <p><small>Maximum file size of 800 kb. JPG, GIF, PNG.</small></p>
    <span class="form_hint">{{ form_hint }}<a href="{{ reference }}"><img alt="Ext Ref" src="#"/></a></span> <span class="field_error">{{ field_error }}</span> <span class="field_error">{{ field_error2 }}</span></li>		  
{% endmacro %}

{#  *******************  recaptcha  ***************************#}
{% macro recaptcha(recaptcha, recaptcha_error) %}
    {% if recaptcha is defined %}
                 {{ recaptcha }}
            {% if sign_in_recaptcha_error is defined %}
                <span class="field_error">{{ recaptcha_error }}</span>
            {% endif %}
	{% endif %}

{% endmacro %}


{#  *******************  input_date  ***************************#}
{% macro input_date(view_type,name, year, month, day, label, placeholder,form_hint, field_error, field_error2, required, reference, year_min, year_max, tabindex, is_readonly ) %}
<label for="{{ name }}">{{ label }}</label>
				
                <select name="{{ name }}_month"{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}>
                    <option value="">Month</option>
                    <option value="1"{% if (month == 1) %} selected="selected"{% endif %}>January</option>
                    <option value="2"{% if (month == 2) %} selected="selected"'{% endif %}>February</option>
                    <option value="3"{% if (month == 3) %} selected="selected"'{% endif %}>March</option>
                    <option value="4"{% if (month == 4) %} selected="selected"'{% endif %}>April</option>
                    <option value="5"{% if (month == 5) %} selected="selected"'{% endif %}>May</option>
                    <option value="6"{% if (month == 6) %} selected="selected"'{% endif %}>June</option>
                    <option value="7"{% if (month == 7) %} selected="selected"'{% endif %}>July</option>
                    <option value="8"{% if (month == 8) %} selected="selected"'{% endif %}>August</option>
                    <option value="9"{% if (month == 9) %} selected="selected"'{% endif %}>September</option>
                    <option value="10"{% if (month == 10) %} selected="selected"'{% endif %}>October</option>
                    <option value="11"{% if (month == 11) %} selected="selected"'{% endif %}>November</option>
                    <option value="12"{% if (month == 12) %} selected="selected"'{% endif %}>December</option>
                </select>
                <select name="{{ name }}_day"{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}>
                    <option value="" selected="selected">Day</option>
                    {% for i in 1..32 %}
                    <option value="{{ i }}"{% if day == i %} selected="selected"' {% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>

                <select name="{{ name }}_year"{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}>
                    <option value="">Year</option>

					{% for i in year_min..year_max %}
                    <option value="x{{ i }}"{% if y == i %} selected="selected"{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
                {% if field_error is defined %}
                <span class="field_error">{{ settings_dob_error }}</span>
                {% endif %}

                <span>
				<label for="{{ name }}">{{ label }}</label>
				<input type="checkbox" id="{{ name }}" name="{{ name }}" value="{{ value }}" {{ checked }} />
                </span>
{% endmacro %}

{#  *******************  input_checkbox  ***************************#}
{% macro input_checkbox(view_type,name, value, label, form_hint, field_error, field_error2, reference, tabindex , is_readonly) %}
                <span>
				<label for="{{ name }}">{{ label }}</label>
				<input type="checkbox" id="{{ name }}" name="{{ name }}" value="{{ value }}" {% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}{{ checked }} />
                </span>
{% endmacro %}


{#  *******************  input_checkboxlist  ***************************#}
{% macro input_checkboxlist(view_type,name, value, label, list, form_hint, field_error, field_error2, reference, tabindex , is_readonly) %}
 <label for="{{ name }}">{{ label }}</label>


                <select id="{{ name }}" name="{{ name }}" class="select"{% if tab_index is defined %} tabindex="{{ tab_index }}"{% endif %}>
                    <option value="">- Select -</option>
                    {% for listitem in list %}
                    <option value="{{ listitem }}"{% if value == listitem %} selected="selected"{% endif %}>
                        {{ listitem }}{% if listitem.offset %} ({{ zoneinfo.offset }}) {% endif %}
                    </option>
                    {% endfor %}
                </select>	
{% endmacro %}				


{#  *******************  table_header  ***************************#}
{% macro table_header(current_url, fields, sort_by, sort_order, offset) %}
<thead>
    <th width="5px"><a title="Check the checkbox of the appropriate row to mark it for delete">Del</a></th>
    {% for key, value in fields %}
    <th{% if key == sort_by %} class="sort_{{ sort_order }}"{% endif %}><a href="{{ current_url }}{{ key }}/{% if sort_order == 'asc' and key == sort_by %}desc{% else %}asc{% endif %}/{{ offset }}">{{ value }}</a></th>
    {% endfor %}
</thead>
{% endmacro %}				

{#  *******************  menu_submenu  ***************************#}
{% macro menu_submenu(project_path, rows, current) %}
<ul class='links'>
{% for row in rows %}
    <li{% if row.key == current %} class="active"{% endif %}><a href='{{ template.project_path }}{{ row.key }}/'>{{ row.name }}</a></li>
{% endfor %}
</ul>
{% endmacro %}				

{#  *******************  form_buttons  ***************************#}
{%  macro form_buttons(view_type, edit_url, back_url, tabindex) %}
 {% if view_type == "add" %} 
  <button type="submit" class="submit" value="add">Add</button>
 {% elseif view_type == "view" %} 
  <button onclick="window.location='{{ edit_url }}';return false;" class="submit" value="edit">Edit</button>
 {% else %} 
  <button type="submit" class="submit" value="save">Save</button>
 {% endif %}
<button onclick="window.location='{{ back_url }}';return false;">◄&nbsp;back</button>
<br/>{% endmacro %}

{#  *******************  form_update_info  ***************************#}
{%  macro form_update_info(view_type, updated_at, updated_by, created_at) %}
 {% if view_type != "add" %} 
  <i>Update by {{ updated_by }} on {{ updated_at }}.  <br/> Created on {{ created_at }}.</i>
{% endif %}
{% endmacro %}

{#  *******************  form_fields  ***************************#}
{%  macro form_fields(view_type, fil) %}
{% import _self as forms %}
      {% set i = 1 %}
      {% for form_item in fil %}
      <li>{% if form_item.field_type == "yes_no" %}
		{{ forms.input_yes_no(
        view_type,
        form_item.name, 
        form_item.value, 
        form_item.label, 
        "text", 
        form_item.placeholder,
        form_item.form_hint, 
        form_item.form_error, 
        form_item.field_error, 
        form_item.max_size, 
        form_item.is_required, 
        form_item.reference,
        i,
        form_item.is_readonly
        ) }}
        {% elseif form_item.field_type == "list" %}
        {{ forms.input_list(
        view_type, 
        form_item.name, 
        form_item.value, 
        form_item.label, 
        type, 
        form_item.placeholder, 
        form_item.form_hint, 
        form_item.form_error, 
        form_item.field_error, 
        form_item.max_size, 
        form_item.valid_values, 
        form_item.is_required, 
        form_item.reference, 
        i,
        form_item.is_readonly) }}
        {% elseif form_item.field_type == "mac" %}
        {{ forms.input_mac(
        view_type, 
        form_item.name, 
        form_item.value, 
        form_item.label, 
        form_item.field_type, 
        form_item.placeholder,
        form_item.form_hint, 
        form_item.form_error, 
        form_item.field_error, 
        form_item.max_size, 
        form_item.is_required, 
        form_item.reference,
        i,
        form_item.is_readonly) }}
		{% else %}
		{{ forms.input_text(
        view_type, 
        form_item.name, 
        form_item.value, 
        form_item.label, 
        form_item.field_type, 
        form_item.placeholder,
        form_item.form_hint, 
        form_item.form_error, 
        form_item.field_error, 
        form_item.max_size, 
        form_item.is_required, 
        form_item.reference,
        i,
        form_item.is_readonly) }}
        {% endif %} </li>
      {% set i = i + 1 %}
      {% endfor %}
{% endmacro %}


{#  *******************  FORMAT MAC  ***************************#}
{% macro format_mac(mac) %} 
{% if ':' in mac %}
{{ mac }}
{% else %}
{{ mac|slice(0,2) }}:{{ mac|slice(2,2) }}:{{ mac|slice(4,2) }}:{{ mac|slice(6,2) }}:{{ mac|slice(8,2) }}:{{ mac|slice(10,2) }}
{% endif %}
{% endmacro %}


{#  *******************  FORMAT NANPA  ***************************#}
{% macro format_nanpa(phone_number) %}
{% if phone_number|length == 10 %} 
+1 ({{ phone_number|slice(0,3) }}) {{ phone_number|slice(3,3) }}-{{ phone_number|slice(6,4) }}
{% elseif phone_number|length == 11 %}
+{{ phone_number|slice(0,1) }} ({{ phone_number|slice(1,3) }}) {{ phone_number|slice(4,3) }}-{{ phone_number|slice(7,4) }}
{% else %}
{{ phone_number }}
{% endif %}
{% endmacro %}
