{% extends _layout %}
{% import "macros.twig" as macro %}
{% block submenu %}
	{{ macro.menu_submenu2(project_path, submenu, submenu_current)  }}
	{{ macro.menu_submenu(project_path, rows_submenu, submenu_current)  }}

{% endblock %}
{% block content %}
<div class="clear"></div>
<div class="grid_12">
  <h1>Reference Summary</h1>
</div>
<div class="clear"></div>
<div class="grid_6">
    <h3>Here are a list of reference tables in HelloPBX</h3>
    <table>
      <tfoot>
		<td colspan="3"></td>
      </tfoot>
      <thead>
      <th>Name</th>
      <th>Description</th>
      </thead>
      <tbody>
      <tr>
        <td><a href="/country/summary/">Country</a></td>
        <td>List of countries</td>
      </tr>
      <tr>
        <td><a href="/currency/summary/">Currency</a></td>
        <td>National currency lists</td>
      </tr>
      <tr>
        <td><a href="/language/summary/">Language</a></td>
        <td>National Languages</td>
      </tr>
      <tr>
        <td><a href="/timezone/summary/">Time Zone</a></td>
        <td>Time zone list</td>
      </tr>
      <tr>
        <td><a href="/permission/summary/">Permission</a></td>
        <td>List of available permissions</td>
      </tr>
      <tr>
        <td><a href="/role/summary/">Role</a></td>
        <td>Available authorization groups in HelloPBX</td>
      </tr>
      </tbody>
    </table>
</div>
{% endblock%}