{% extends _layout %}
{% import "macros.twig" as macro %}
{% block submenu %}    
	{{ macro.menu_submenu(project_path, submenu, submenu_current)  }}
{% endblock %}
{% block content %}
<div class="clear"></div>
<div class="grid_12">
  <h1>Security Summary</h1>
</div>
<div class="clear"></div>
<div class="grid_12">
    <h3>Fraud tools such as Monit are managed here</h3>
  <form method="post" accept-charset="utf-8" action="{{ form_post_url }}" class="default">
  </form>
</div>
{% endblock%}