{% extends _layout %}
{% import "macros.twig" as macro %}
{% block submenu %}    
	{{ macro.menu_submenu(project_path, submenu, submenu_current)  }}
{% endblock %}
{% block content %}
<div class="clear"></div>
<div class="grid_12">
  <h1>Menu Summary</h1>
</div>
<div class="clear"></div>
<div class="grid_6">
  <form method="post" accept-charset="utf-8" action="{{ form_post_url }}" class="default">
    <h3>Menu controls the navigation options available to the user</h3>
    {% if pagination is defined %}
    {{ pagination }}
    {% endif %}
    <table>
      <tfoot>
		<td colspan="3"></td>
      </tfoot>
      {{ macro.table_header(current_url, fields, sort_by, sort_order, offset) }}
      <tbody>
      {% for row in rows %}
      <tr>
        <td>{{ row.country }}</td>
        <td>{{ row.alpha2 }}</td>
        <td>{{ row.numeric }}</td>
      </tr>
      {% endfor %}
      </tbody>
      
    </table>
    {% if pagination is defined %}
    {{ pagination }}
    {% endif %}
  </form>
</div>
{% endblock%}