{% extends _layout %}
{% import "macros.twig" as macro %}

{% block submenu %}    
<ul class='links'>
    <li><a href='{{ project_path }}account/account_password/'>Password</a></li>
    <li><a href='{{ project_path }}account/account_profile/'>Profile</a></li>
	<li><a href='{{ project_path }}account/account_settings/'>Settings</a></li>
	<li><a href='{{ project_path }}account/connect_create/'>Create</a></li>
	<li><a href='{{ project_path }}account/connect_facebook/'>Facebook</a></li>
	<li><a href='{{ project_path }}account/connect_google/'>Google</a></li>
	<li><a href='{{ project_path }}account/connect_openid/'>OpenID</a></li>
	<li><a href='{{ project_path }}account/connect_twitter/'>Twitter</a></li>
	<li><a href='{{ project_path }}account/connect_yahoo/'>Yahoo</a></li>
	<li><a href='{{ project_path }}account/forgot_password/'>Forgot Password</a></li>
	<li><a href='{{ project_path }}account/account_linked/'>Linked Accounts</a></li>
	<li><a href='{{ project_path }}account/reset_password/'>Reset Password</a></li>
	<li><a href='{{ project_path }}account/sign_in/'>Sign In</a></li>
	<li><a href='{{ project_path }}account/sign_out/'>Sign Out</a></li>
	<li class="active"><a href='{{ project_path }}account/sign_up/'>Sign Up</a></li>
</ul> {% endblock %}
{% block content %}
<div class="clear"></div>

<div class="grid_12">
  <h1>Account</h1>
</div>
<div class="clear"></div>
<div class="grid_6">
  <form method="post" accept-charset="utf-8" action="{{ form_post_url }}" class="default">
  
  <h3>Create Your account</h3>
{% if pagination is defined %}
{{ pagination }}
{% endif %}

<table>
<tfoot>
<td colspan="3"></td>
</tfoot>

<thead>
{{ macro.table_header(current_url, fields, sort_by, sort_order, offset) }}
</thead>

<tbody>

{% for row in rows %}
<tr>
<td>{{ row.id }}</td>
<td>{{ row.country }}</td>
<td>{{ row.numeric }}</td>
</tr>
{% endfor %}
</tbody>

</table>
{% if pagination is defined %}
{{ pagination }}
{% endif %}
</form>
</div>
{% endblock%}