{% extends _layout %}
{% import "macros.twig" as macro %}
{% block submenu %}    
	{{ macro.menu_submenu(project_path, submenu, submenu_current)  }}
{% endblock %}
{% block content %}
<div class="clear"></div>
<div class="grid_12">
  <h1>Account Summary</h1>
</div>
<div class="clear"></div>
<div class="grid_1"></div>
<div class="grid_10">
  <form method="post" accept-charset="utf-8" action="{{ form_post_url }}" class="default">
    <h3>Accounts are the user logins that have access to the system.  Each account has a voicemail box by default and can have things like phone extensions, deskphones, mobile phones, Google talk accounts and email attached to it.</h3>
    {% if pagination is defined %}
    {{ pagination }}
    {% endif %}
    <table>
      <tfoot>
		<td colspan="3"></td>
      </tfoot>
      {{ macro.table_header(current_url, fields, sort_by, sort_order, offset) }}
      <tbody>
      {% for row in rows %}
      <tr>
        <td>{{ row.username }}</td>
        <td>{{ row.email }}</td>
        <td>{{ row.createdon }}</td>
      </tr>
      {% endfor %}
      </tbody>
      
    </table>
    {% if pagination is defined %}
    {{ pagination }}
    {% endif %}
  </form>
</div>
{% endblock%}